[2017-11-06 16:02] yymao opened #7 "dN/dmag test"
See https://github.com/LSSTDESC/DC2_Repo/issues/21 for detail and validation data from HSC.

- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2017-11-06 16:04] yymao opened #8 "shear sign convention test"
This is to test if the catalog follow the shear sign convention.

- [ ] code to reduce mock data
- [ ] code that works within DESCQA framework
- [ ] validation data
- [ ] validation criteria

[2017-11-06 16:06] yymao opened #9 "testing luminosity function of cluster galaxies (satellites, centrals)"
@rmandelb is the idea to do a conditional luminosity function using true halos?

- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [ ] validation data
- [ ] validation criteria

[2017-11-06 16:09] yymao opened #10 "galaxy bias/clustering test"
See more details in https://github.com/LSSTDESC/DC2_Repo/issues/20.

Note that the wp(rp) code in v1 does not work on light cones. When we have proto-dc2 snapshots we can use the old code. In the meantime we should find new correlation code for light cones.

- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2017-11-06 16:10] yymao opened #11 "N(z) test"
I believe @evevkovacs is already working on this. This issue is to track progress.

- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [x] validation data
- [x] validation criteria

[2017-11-06 16:12] yymao opened #12 "Test equivalent width distributions in H alpha and [O III] at z<1"
See https://github.com/LSSTDESC/DC2_Repo/issues/31 for detail.

- [ ] has validation data
- [ ] has mock data
- [ ] has working code to carry out the test
- [ ] test is ported into DESCQA

[2017-11-06 16:15] yymao opened #13 "size-luminosity relation test"
- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2017-11-06 16:16] yymao opened #14 "galaxy ellipticity distribution test"
- [ ] has validation data
- [ ] has mock data
- [ ] has working code to carry out the test
- [ ] test is ported into DESCQA

[2017-11-06 16:16] yymao opened #15 "color distribution test"
- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2017-11-06 16:28] rmandelb commented on #9
@yymao - perhaps we could ask the cluster conveners @anjavdl and @erozo to weigh in on designing a validation test for the cluster central galaxy LF, since the CL group is the one that has concerns about this.  They can of course bring in anybody else who they think should be in on the discussion.  But yes, I was assuming some kind of validation test would use the true halos above a mass threshold

[2017-11-06 16:34] katrinheitmann commented on #9
Dan Korytov has implemented a test for this (not yet in DESCQA though). @evevkovacs : can you check if Dan has signed up for the github repo? I did send him instructions a while ago but I think he forgot. Thanks!

[2017-11-06 17:07] j-dr commented on #10
If we're okay with including another dependency, I would highly recommend that we use [Corrfunc](https://github.com/manodeep/Corrfunc). It is very fast, has a nice python API and has many different pair counting functional already implemented.

[2017-11-06 17:12] rmandelb commented on #10
That code is quite convenient for scalar correlation functions.  If there is any chance we're going to also want validation tests with spin-2 quantities like shear, then I think we should instead use a code like treecorr, which is very fast and does include correlations of spin-2 quantities (also with a nice python API).

[2017-11-06 17:19] j-dr commented on #10
Good point. My only problem with treecorr is that it doesn't support periodic boundary conditions as far as I know, but that may not matter if we're just focusing on lightcone based statistics for DESCQA2. Corrfunc only has GSL and numpy as dependencies, so it might be worth considering using both.

[2017-11-06 17:52] evevkovacs commented on #10
Another possibility is HaloTools

[2017-11-06 18:20] evevkovacs opened #16 "Verification Test to expose catalog meta-data"
Users should have a way to query the meta-data to find out definitions such as the ellipticity definition  etc., or just to see what meta-data is available.

[2017-11-06 18:24] yymao commented on #16
@evevkovacs this sounds like a feature of the GCR/GCRCatalogs rather than DESCQA?

[2017-11-06 18:27] evevkovacs commented on #16
Yes, but it could go into another output file that gets produced by the
list_quantities test..just like the yaml documentation. I think it would
be handy.

On Mon, 6 Nov 2017, Yao-Yuan Mao wrote:

***************************************************************
Eve Kovacs
Argonne National Laboratory,
Room L-177, Bldg. 360, HEP
9700 S. Cass Ave.
Argonne, IL 60439 USA
Phone: (630)-252-6208
Fax:   (63

[2017-11-06 18:32] yymao commented on #16
@evevkovacs Can you elaborate? Currently, anything that are specified in the yaml config can be accessed by the validation tests or by the users through interactive interface. So I am not sure what this particular issue's goal.

[2017-11-06 18:38] yymao commented on #10
An additional benefit of using treecorr or halotools is that their lead developers are very active DESC members.

That being said, I'll be happy to let whoever volunteer to work on this test to choose the most suitable package.

[2017-11-06 19:51] EiffL commented on #14
I'm on it, I can do that right now. @rmandelb any suggestions of what data to use as a reference ? It will depend on the shape measurement... I can pull ellipticity distributions from DES (for ngmix and im3shape) or the public HSC data

[2017-11-06 19:53] EiffL commented on #8
The question is, what is the shear sign convention for LSST?

[2017-11-06 20:00] yymao commented on #9
Dan is on GitHub but I cannot assign this to @dkorytov... I am also assigning @j-dr since he has worked on something similar.

[2017-11-06 20:02] yymao commented on #8
@EiffL that was why "has validation data" wasn't checked...

@evevkovacs can you update us the status of sign convention?

[2017-11-06 20:22] EiffL commented on #14
@evevkovacs @yymao Is it me or there is no columns related to ellipticity in the quantities exposed by the protoDC2 catalog reader ? I assume CatSim needs access to this information as well and I can see that in the native quantities there is some morphology information, but how these fields transform into an observed ellipticity if there is disk+bulge is not obvious....

I also see that the DESC

[2017-11-06 20:39] yymao commented on #14
@EiffL good point. Can you create an issue at https://github.com/LSSTDESC/gcr-catalogs ?

[2017-11-06 20:41] EiffL commented on #14
sure thing

[2017-11-06 20:50] evevkovacs commented on #8
I am double-checking now...

On Mon, 6 Nov 2017, Yao-Yuan Mao wrote:

***************************************************************
Eve Kovacs
Argonne National Laboratory,
Room L-177, Bldg. 360, HEP
9700 S. Cass Ave.
Argonne, IL 60439 USA
Phone: (630)-252-6208
Fax:   (630)-252-5047
email: kovacs@anl.gov
***************************************************************

[2017-11-07 00:03] evevkovacs commented on #16
People have asked about the definition of ellipticity for example, which should be included in the meta-data as should the shear sign convention. This 'test'  would print out that meta data in a file so that people could see it easily.

[2017-11-07 00:58] yymao commented on #16
I see. This feature should be implemented in GCRCatalogs. I've opened an issue https://github.com/LSSTDESC/gcr-catalogs/issues/16 and will close this one.

[2017-11-07 00:58] #16 closed

[2017-11-07 17:16] dkorytov commented on #9
I wasn't signed up for the repo. I've added myself to the github list on
confluence so I should be added to the repo sometime this night.

I've already have this code pretty much ready to go already.

On Mon, Nov 6, 2017 at 2:00 PM, Yao-Yuan Mao <notifications@github.com>
wrote:

[2017-11-08 22:21] evevkovacs commented on #12
@egawiser  @janewman-pitt-edu  @yymao  @rmandelb  Eric G./Jeff N. suggested doing a validation test based on equivalent-width (EW) distributions. However, the Galacticus output has line strengths rather than EWs and the SED supplied is probably  too coarse grained to estimate EWs accurately (although it could be tried). Are there other tests based on line strengths that we could do? What applicabl

[2017-11-09 00:47] egawiser commented on #12
It should be feasible to validate versus the H alpha, [O II], and [O III] luminosity functions.  Adam Broussard has references assembled for H alpha, has been tasked with checking for [O III], and could add [O II] to that list.  Note that for our specific LSS project, getting high enough line luminosities is actually what matters (not actually high EWs), so this is an entirely acceptable validatio

[2017-11-09 03:11] janewman-pitt-edu commented on #12
Getting EWs right is a better check that you're giving the correct fluxes to the correct objects, though... coarse spectrum is probably fine for EW.

Any existing [OIII] or H alpha luminosity functions for z~1 will be for tiny areas with huge cosmic variance, so that doesn't strike me as a great option.  (There is an [OII] luminosity function from DEEP2 -- IIRC Johan Comparat did that -- but the E

[2017-11-12 19:00] yymao commented on #9
@rmandelb @erozo @anjavdl @dkorytov

I modified @j-dr's CLF test and put it into DESCQA2. You can see the [results here](https://portal.nersc.gov/project/lsst/descqa/v2/www/?run=2017-11-12_1&test=CLF_r).

Buzzard high-res seems a bit strange, doesn't it, @j-dr?

[2017-11-12 19:02] yymao commented on #9
@rmandelb @erozo @anjavdl @dkorytov @j-dr

Sorry, I chicked "comment" too soon --- I also want to ask if there's validation data/criteria that we should use for the CLF test? Right now this is not really a "test" as it just plots CLF.

[2017-11-12 19:20] j-dr commented on #9
Yeah, I think there must be some mishandling/mislabeling of central/satellite info in buzzard highres. I'll look into it. As for comparison to data, I think we need to add some color cuts to this test in order to get something that we can actually compare to, say, a redmapper CLF. I told @erozo and @anjavdl that I would do this a while ago, so I'd be happy to try my hand at it.

[2017-11-14 07:10] erozo commented on #9
That would be super @j-dr !
@yymao has also started talking with @erykoff about running redmapper.  I don't think this can be trivially implemented as a QA test, but it will be *extremely* useful.

[2017-11-14 07:26] yymao commented on #9
@erozo @erykoff One possibility is that, instead of using redmapper in QA tests, we run redmapper on the catalogs once and then put the redmapper info *back to* the catalogs so that other QA tests can use them.

[2017-11-14 07:28] j-dr commented on #9
Yeah, I think that's definitely the way to go. For instance, Chun-Hao To might be able to implement his redmapper CLF code as a QA test.

[2017-11-14 17:41] evevkovacs commented on #9
@erozo @erykoff @yymao @j-dr @dkorytov  A first step would be to try running redmapper on the existing catalogs to see what the problems are and how long it takes etc. Could we get a volunteer
from the CL group to try this? I can propose this as a sprint for Hack Week, although it would be good to get started on it sooner than that.

[2017-11-14 17:42] erykoff commented on #9
I'm working on running redMaPPer on Proto-DC2 as we speak.  (well, wrestling with python at nersc, but it's a start).

[2017-11-14 18:08] j-dr commented on #9
Awesome! Let me know if you have any questions about nersc. I've done plenty of wrestling with it myself.

[2017-11-14 18:30] yymao commented on #9
Just for your information about the Python stuff: Heather has set up python environment on NERSC which is very to use. You can find instruction [here](https://github.com/LSSTDESC/gcr-catalogs/blob/master/README.md#use-gcrcatalogs-under-the-descqa-python-environment-on-nersc) on how to enable the enviorment

[2017-11-14 18:39] evevkovacs commented on #9
I also have the GCR running at ANL (following the instructions that Yao pointed you to), if you are interested in having a local version to play with. (There's also a 10M test catalog available at nersc).
Please keep us posted on your progress.

[2017-11-16 00:04] evevkovacs commented on #14
Sorry, I forgot to add a reply. Ellipticity is available in the native quantities. See morphology/diskEllipticity
and morphology/spheroidEllipticity. The definition will be changing in the next version of the catalog (coming soon) and more documentation will be provided in the accompanying new version of the protoDC2 note.

[2017-11-21 16:22] yymao opened #26 "Make DESCQA an importable Python package"
Make DESCQA an importable Python package to make developing validation tests more easily and conveniently. Here's the proposed module structure:

[code]

[2017-11-23 21:20] yymao commented on #26
fixed in #27

[2017-11-23 21:20] #26 closed

[2017-11-28 15:37] adam-broussard commented on #12
Hi all, I have recently gotten a NERSC account so that I can access the protoDC2 catalog.  I'm looking at the available quantities and it looks like I can access the band magnitudes, but not the emission line strengths.  Does anybody know how to get these added in?

[2017-11-28 18:02] evevkovacs commented on #12
These are native quantities, available in the catalog but not yet exposed in the reader. Please see https://github.com/LSSTDESC/gcr-catalogs for instructions on how to use the GCR (you need the add_quantities method) and https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-11-27_4&test=ListQuantities for a list of the native quantities (click on native_quantities.txt under proto-dc2_v2.0)

[2017-11-28 18:15] yymao commented on #12
@adam-broussard `get_quantities()` also accept native quantities.

@evevkovacs what's the native quantity names for the emission line strengths?

[2017-11-28 19:32] evevkovacs commented on #12
@adam-broussard   Examples are:  (see also my comment above for helpful links)
emissionLines/diskLineLuminosity:balmerAlpha6563:rest
emissionLines/diskLineLuminosity:balmerAlpha6563:rest:contam_nitrogenII6584

[2017-11-29 22:31] yymao commented on #12
@adam-broussard @evevkovacs see usage on the [updated demo notebook](https://github.com/LSSTDESC/gcr-catalogs/blob/master/examples/GCRCatalogs%20Demo.ipynb) (search for "accessing native quantities" subsection)

[2017-11-29 23:02] evevkovacs commented on #12
Thanks Yao for the quick turn-around on this.

[2017-12-04 18:51] duncandc commented on #7
I am going to start working on this.

[2017-12-04 18:56] yymao commented on #11
Thanks to @evevkovacs. #34 closes this.

[2017-12-05 01:52] adam-broussard commented on #12
Thanks a bunch for the help so far - I have been able to access the values, but I can't figure out the units.  It looks like the values for "emissionLines/totalLineLuminosity:balmerAlpha6563:rest" are around unity though.  Can anyone help tell me what the native units are or where to track them down?

[2017-12-05 03:43] yymao commented on #10
Just a quick update --- we've decided on using treecorr but had some issues installing it on the NERSC DESC Python environment. Will continue to work on resolving this issue...

[2017-12-05 03:47] vvinuv commented on #10
Oops, still not fixed?

On Dec 4, 2017 9:44 PM, "Yao-Yuan Mao" <notifications@github.com> wrote:

[2017-12-05 03:50] yymao commented on #14
@jablazek @rmandelb @EiffL @evevkovacs @dkorytov @patricialarsen Just to loop everyone in on this issue of how to implement a validation test on galaxy ellipticity distribution with two-component shapes and radial profiles --- I think the conclusion today is to do some kind of weighted sum to generate total shapes. What's the weighting scheme we will be using? I assume we can do that at the reader

[2017-12-05 03:58] yymao opened #35 "shear-shear correlation"
~For testing IA models~, it would be useful to test the 2-pt functions. We plan to use treecorr for the calculation. ~We plan to start with using analytical calculation as the validation dataset (@jablazek @patricialarsen).~  (Edited by Rachel to reflect the focus on cosmological shear-shear, not intrinsic alignments.)

- [x] code to reduce mock data
- [x] code that works within DESCQA framework
-

[2017-12-05 04:00] yymao commented on #9
The CLF test is done but we still need validation datasets. Pinging @erozo @anjavdl to see if they have any further thoughts on this.

[2017-12-05 05:15] evevkovacs commented on #14
@jablazek @rmandelb @EiffL  @dkorytov @patricialarsen @yymao  The current plan is to use a luminosity-weighted average of the magnitude of the ellipticities for disk and the spheroid. Rest-frame luminosity in either r or i will be used. e1 and e2 will then be computed from the position angle.
It could be done at the reader level, but Dan has to fix a bug in v2.1, so he's just going to add this qua

[2017-12-05 05:25] yymao commented on #14
@evevkovacs @dkorytov Wouldn't it be better to still do it at the reader level so that we can more easily try out different weighting schemes/ratios?

[2017-12-05 20:08] evevkovacs commented on #12
@adam-broussard  Sorry for the delay in replying. We will have a units attribute soon, but in the mean time the units for luminosity  (AB system) are 4.4659e13 W/Hz.

[2017-12-05 20:10] evevkovacs commented on #14
All the needed quantities will be available so additional models can be added via the reader as desired.

[2017-12-07 05:00] yymao commented on #8
@chihway, do you think you can help with this?

[2017-12-07 17:03] EiffL commented on #14
@evevkovacs  @dkorytov I'm trying out another way of computing the total ellipticity by adding the second moments, but I'm running into 2 issues with proto-dc2_v2.1.1
 - It looks like `ellipticity_1` = `ellipticity_2` for all objects, which is a little bit suspicious...
 - What is the unit of `morphology/positionAngle` ?  It doesnt look like radians or degrees

[2017-12-07 17:12] dkorytov commented on #14
Yes, ellip1=ellip2 is wrong and I found the source.
I'll double check positionAngle, I might have converted twice units twice
by mistake.
Thanks!

On Thu, Dec 7, 2017 at 11:03 AM, Francois Lanusse <notifications@github.com>
wrote:

[2017-12-07 17:35] dkorytov commented on #14
I'm correcting the values in the catalog but meanwhile here are the
formulas to correct the values:
PostionAngle_correct = positionAngle*(180/pi)**2
ellipticity = ellipticity_2/sin(2*pos_angle)
ellipticity_1 = ellipticity*cos(2*pos_angle)

On Thu, Dec 7, 2017 at 11:12 AM, Danila Korytov <dkorytov@gmail.com> wrote:

[2017-12-07 17:57] EiffL commented on #14
perfect, thanks !

[2017-12-07 18:29] EiffL commented on #14
@dkorytov  Hum.... sorry, the ellipticity still looks really weird...
Here is the  distribution of `ellipticity_2`
![image](https://user-images.githubusercontent.com/861591/33731822-fa279c42-db49-11e7-91e0-0fe4eed566b6.png)
it's suspiciously only positive and very close to 0.

The distribution of `morphology/diskEllipticity2` looks ok:
![image](https://user-images.githubusercontent.com/861591/3373

[2017-12-07 19:10] dkorytov commented on #14
Hmm, that does look strange...I'll look into it.

On Thu, Dec 7, 2017 at 12:29 PM, Francois Lanusse <notifications@github.com>
wrote:

[2017-12-07 20:13] yymao commented on #35
It seems like @chihway has made much progress on this using the WLPipe during the Sprint Week. @chihway, can you post some plots here and then we can continue to make a validation test from what yu have done?

[2017-12-07 20:15] patricialarsen commented on #35
Hi @yymao, I've been working on this - we don't have cosmosis on the descqa environment so it's not exactly the same validation test but I'm implementing a similar thing with the programs we have in the environment.

[2017-12-07 20:17] patricialarsen commented on #35
@yymao @chihway : this will be more simple though and it would be great to do the proper analysis with the pipeline and the analysis tools we're using. Once I have the simple version implemented it would be easy to swap it out so I'm guessing setting up the environment to have these tools will be the main challenge to that.

[2017-12-07 20:23] yymao commented on #35
Thanks @patricialarsen, do you want to share some plots here too? BTW, I couldn't assign you, please consider add your GitHub account to the DESC member directory.

[2017-12-07 20:24] yymao opened #40 "color magnitude diagram"
During the Sprint Week, @DouglasLeeTucker and Sahar Allam have made progress on creating color magnitude diagrams for GCR Catalogs (protoDC2 and Buzzard).

@DouglasLeeTucker, can you share some plots you made with us here, and then we can continue to make a validation test from what you have done?

[2017-12-07 20:27] yymao opened #41 "red sequence colors (mean, scatter) as a function of redshift"
@erykoff have made some plots on red sequence colors (mean, scatter) as a function of redshift for protoDC2 and compared them with DES data.

@erykoff, can you share your plots here, and then we can continue to make a validation test from what you have done?

- [x] code to reduce mock data
- [ ] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2017-12-07 20:28] erykoff commented on #41
![pdc2_des_imz_scatter](https://user-images.githubusercontent.com/5167891/33737184-2a338c98-db4a-11e7-9bb8-b5941073cd88.png)
![pdc2_des_imz_mean](https://user-images.githubusercontent.com/5167891/33737185-2a4ad1c8-db4a-11e7-826b-07dc610a7a83.png)
![pdc2_des_rmi_scatter](https://user-images.githubusercontent.com/5167891/33737186-2a632d5e-db4a-11e7-9dff-7e86a07d5cb3.png)
![pdc2_des_rmi_mean](https:/

[2017-12-07 20:29] erykoff commented on #41
Many of the differences are due to different filters, and also due to noise in the training from the small volume.  But I'm not sure how much.

[2017-12-07 20:49] yymao commented on #41
looping in parties who might be interested: @rmandelb @evevkovacs @abensonca @katrinheitmann @j-dr

[2017-12-07 20:50] abensonca commented on #41
Should we consider adding matching DES filters for DC2 to remove that source of discrepancy?

[2017-12-07 21:14] chihway commented on #35
Sorry guys just saw this, below are what I have for proto-DC2 and buzzard_test

![image](https://user-images.githubusercontent.com/2736097/33739027-2133c8bc-db61-11e7-91bf-eacaa041f7d1.png)

![image](https://user-images.githubusercontent.com/2736097/33739056-3d7de76e-db61-11e7-90e8-f089d2d8bdfe.png)

[2017-12-07 21:16] katrinheitmann commented on #35
So Buzzard was run on the full area that's available, right? Thanks! (btw, somewhere it said that protoDC2 is 2.5x2.5, it's 5x5).

[2017-12-07 21:18] chihway commented on #35
Buzzard was run on 'buzzard_test' in gcr which is one healpix (~50 deg^2?) tile.

And yeah sorry I must have mis-written the area. Yes 5x5.

[2017-12-07 21:19] yymao commented on #35
I think this is Buzzard_test, so is only 53.7 sq. deg.

[2017-12-07 22:16] evevkovacs commented on #41
@abensonca  So that would be an additional 8 filters to calculate.  I think it would depend on how many WGs would be interested in DES magnitudes, and whether we need them for validation.

[2017-12-07 22:22] abensonca commented on #41
Agreed - we should only add them if this is useful for validation.

[2017-12-07 22:51] DouglasLeeTucker commented on #40
No problem!  We are still in the middle of analysis, and still cleaning up stuff, but here are some initial plots.  Here, we are looking at protoDC2 and buzzard_test for local samples (z< 0.2) and restricted to more luminous than M_r=-16 (which is where protocDC2 seems to cut off).

1. Histograms of the rest-frame SDSS g-r (protoDC2) and z=0.1(?) DES g-r (buzzard_test) galaxies in the local (z<0.2

[2017-12-07 23:08] chihway commented on #8
maybe, so here's what I know (from @rmjarvis, please confirm ):
* treecorr convention: you are the observer looking out towards the sky, the E-W direction is positive shear_1, the NE-SW direction is positive shear_2. This convention is also used by DES data.

* DC2 and buzzard convention: the same as above, except that you are in outer space looking down

Between the above two conventions, you wou

[2017-12-07 23:28] rmjarvis commented on #8
Not quite.  NW-SE is positive shear_2.  West is to the right when looking up (and when north is up).

[2017-12-07 23:46] yymao commented on #8
Also looping in catalog providers @j-dr and @dkorytov

[2017-12-07 23:48] EiffL commented on #35
@patricialarsen @chihway @jablazek It sounds to me that this issue actually covers 2 different things: IA pt functions tests  and  WL 2pt functions. I'm proposing opening another issue where I am going to implement the Ellipticity-Direction correlation function if that's ok with you guys

[2017-12-08 00:05] j-dr commented on #8
Can confirm that shear_1_buzzard=shear_1_treecorr and shear_2_buzzard=-shear_2_treecorr.

[2017-12-08 02:06] yymao commented on #35
@EiffL that sounds a good idea. @chihway, should I rename this to validation for WLPipe, and open a new issue for @patricialarsen, @EiffL, and @jablazek on the Ellipticity-Direction correlation?

[2017-12-08 03:56] jablazek commented on #35
this seems sensible to me. The necessary 2pt codes are similar but not the same.

[2017-12-08 04:47] chihway commented on #35
Yep sounds good to me!

[2017-12-08 05:06] yymao opened #42 "2pt correlation (e.g. ellipticity-direction) for IA model testing"
@EiffL, @patricialarsen, and @jablazek have been working on getting 2pt correlation (e.g. ellipticity-direction) for IA model testing.

Can one of you list the items that we should test? And we can see if we need separate one issue for each of them.

Some techniques used here are related to #10 #35 but the purpose and validation datasets would be different.

P.S. @patricialarsen I cannot assign yo

[2017-12-08 07:34] yymao opened #43 "create flowcharts to illustrate the code structure of descqarun and descqaweb"
To help future maintainers, we will create flowcharts to illustrate the code structure of descqarun and descqaweb. The flowcharts will provide a high-level picture of how different components of the DESCQA framework are connected.

(cc'ing people who might be interested in this issue: @tomuram @evevkovacs @ehneilsen)

[2017-12-08 16:59] DouglasLeeTucker commented on #40
<img width="372" alt="screen shot 2017-12-08 at 10 46 47 am" src="https://user-images.githubusercontent.com/2229177/33776313-9414c2a0-dc06-11e7-8fae-b4668766c2f9.png">
<img width="378" alt="screen shot 2017-12-08 at 10 47 05 am" src="https://user-images.githubusercontent.com/2229177/33776328-9acbdd04-dc06-11e7-9011-c1589478ef00.png">

5.  Same as Item 4 (above), but cleaner (and a log binning for

[2017-12-08 17:31] yymao opened #44 "new subdirectory `descqagen` to host code that generates validation datasets"
We propose to create a new subdirectory, named `descqagen`, which will host code that generates validation datasets, for example, code to query the HSC database.

`descqagen` would hence be part of, but mostly independent from other components of the DESCQA framework.

@duncandc agrees to be the first volunteer to push his code in.

[2017-12-10 17:35] yymao opened #48 "remove custom plotting styles (colors, fig size, font size, etc)"
Tests should refrain from customizing plotting styles (colors, fig size, font size, etc). This will help the plot style look more consistent among different tests.  If later we want to adjust plotting styles, we can do it for all tests in `descqa/plotting.py`.

Each test can still do minor adjustments (e.g., mark styles and sizes and line styles) to fit its need.

[2017-12-11 21:05] yymao commented on #9
Posting some CLF plots here for easy access ---

![image](https://user-images.githubusercontent.com/3792659/33853744-06b64594-de8d-11e7-8763-a9ec19aad713.png)

![image](https://user-images.githubusercontent.com/3792659/33853734-fdc3d85c-de8c-11e7-90a7-1cdb88ec790e.png)

[2017-12-13 04:57] yymao commented on #11
reopen this issue as we haven't finalized validation criteria.

[2017-12-14 15:53] yymao commented on #7
Here's a preliminary result from this test, made by @duncandc: (and the [corresponding entry on DESCQA web interface](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-07_26&test=ApparentMagFuncTest))
![image](https://user-images.githubusercontent.com/3792659/34000936-b0a0a690-e0bc-11e7-931b-bd644db1930e.png)

Lines are protoDC2 and buzzard_test, points are HSC. Difference in normalizat

[2017-12-14 16:00] yymao commented on #11
@evevkovacs has implemented this test but we still need to impose a validation criterion.

The plot below is `Nz_i_Coil2004_maglim` test, taken from [this DESCQA run](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-08&test=Nz_i_Coil2004_maglim)
![image](https://user-images.githubusercontent.com/3792659/34001255-899bdfa0-e0bd-11e7-8568-e9134a0c9ff1.png)

The plot below is `Nz_r_DEEP2_J

[2017-12-14 16:01] yymao commented on #14
@EiffL and @evevkovacs, any updates on this test?

[2017-12-14 16:03] rmandelb commented on #14
@yymao - it looks like as of the last discussions we were waiting to hear from @dkorytov about the strange things Francois was finding.

[2017-12-14 16:06] yymao commented on #14
@rmandelb sorry --- I should have added more detail in my comment. On the last day of the Sprint Week, @dkorytov has updated the protoDC2 catalog to fix the ellipticity issue (see https://github.com/LSSTDESC/gcr-catalogs/pull/48). So I am now following up to see if the fix actually works.

[2017-12-14 16:08] EiffL commented on #14
@yymao Let me have a quick look

[2017-12-14 16:13] EiffL commented on #14
Nope, I think Dan made some update but not after I made these plots last week. Here is the e2 component in the latest version of the reader:
![image](https://user-images.githubusercontent.com/861591/34002112-c3a2f6dc-e0bf-11e7-93be-1425bff35cf1.png)

[2017-12-14 16:15] yymao commented on #14
@EiffL thanks!
@dkorytov and @evevkovacs, can you take a look at this issue?

[2017-12-14 16:27] yymao commented on #42
So far we only have a theoretical prediction on w_g+ from @jablazek (plot taken from [this run](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-08_34&test=IA_theory))
![image](https://user-images.githubusercontent.com/3792659/34002625-13f4d3de-e0c1-11e7-94fd-4e3d5f8f0a86.png)

@EiffL @patricialarsen any updates on implementing w_g+ (or other 2pt statistics) from mock data?

[2017-12-14 16:39] yymao commented on #15
@rongpu made a test in DESCQA v1 but we need an updated version for v2 (probably means lots of tidying up and refactoring code).  So far we haven't made any progress.

[2017-12-14 16:41] yymao commented on #13
@yymao attempted to start to write this test during the Sprint Week but failed due to the lack of a cloned Yao. As a result, no progress has been made on this test so far.

[2017-12-14 16:48] evevkovacs commented on #14
@yymao  I will ping Dan who is in Mexico and take a look myself. I have the test code partially done.

[2017-12-14 17:00] rmandelb commented on #13
Next time, do 'git clone yao'.

[2017-12-14 17:08] dkorytov commented on #14
Hmm...I thought I fixed that...

I'm changing the ellipticity model to copy data from galaxy zoo (https://arxiv.org/abs/1306.3264, fig 4) The current geometric model has a spike in the distribution while the data doesn't.

[2017-12-14 18:05] patricialarsen commented on #42
@yymao I have the shear-shear tests implemented (in real space) in my version of this (theory and data). This seems to work fine, and I am now expanding this to kappa-kappa tests etc. and adding in criteria for passing the test.

[2017-12-14 18:08] yymao commented on #42
@patricialarsen that sounds great! Can you share some plots with us in this issue? If you can do a PR of whatever you have coded up that would be even better! (We do encourage early PR!)

[2017-12-14 18:23] yymao opened #49 "stellar mass function"
I know @evevkovacs is working on the SMF test so I opened this issue to track progress.

- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2017-12-14 18:27] patricialarsen commented on #42
@yymao, yes I'll sort that all out once I have more reliable internet. I'm in Mexico at the moment and will spend the weekend on airplanes so this week isn't ideal! By the way this 2-pt testing is as much for validation of the weak lensing as for IAs.

[2017-12-14 18:47] yymao opened #50 "Suite of validation tests on DC2 extragalactic catalogs"
This *epic* issue serves as the general discussion thread for [all validation tests](https://github.com/LSSTDESC/descqa/issues?&q=label%3A%22validation+test%22) on the extragalactic catalogs in the DC2 era.

In particular, we need to label a set of tests that are [*required*](https://github.com/LSSTDESC/descqa/issues?q=label%3A%22validation+test%3A+required%22) for DC2, and to make sure we have va

[2017-12-14 21:28] evevkovacs commented on #14
I just ran a notebook to plot ellipticity1 and ellipticity2. Here's my code:
gc = GCRCatalogs.load_catalog('protoDC2')
edata = gc.get_quantities(['ellipticity_1', 'ellipticity_2'])
fig, ax = plt.subplots(1,2)
ax[0].hist(edata['ellipticity_1'])
ax[1].hist(edata['ellipticity_2'])
and here's the result
![image](https://user-images.githubusercontent.com/7797837/34014927-7ba9f5d8-e0e2-11e7-97f0-b8e3001

[2017-12-14 21:38] yymao commented on #14
@evevkovacs @EiffL thanks --- I think your plots actually agree with each other --- very narrow spiky distribution near 0.

@dkorytov mentioned that he's changing the ellipticity model --- is that something in progress or already implemented in v2.1.1?

[2017-12-14 22:26] evevkovacs commented on #14
@yymao  @dkorytov  Well there's some confusion about which component is off. Dan is looking into it. Apart from changing the model, there is also a bug which should be fixed in v2.1.1, regardless of whether we produce a new minor version.

[2017-12-15 19:39] vvinuv commented on #13
Is this test compares the scaling relation of luminosity and size of observed objects to the simulated objects?

[2017-12-15 20:16] yymao commented on #13
@vvinuv Yes!

[2017-12-15 20:17] evevkovacs commented on #13
@vvinuv  If you can point us to a good data set for comparison, this would be very helpful. Thanks!

[2017-12-15 20:21] yymao commented on #13
@vvinuv Or, even better, implement this test :)

[2017-12-15 20:46] vvinuv commented on #13
@evevkovacs We have found the luminosity and size of SDSS galaxies in this paper http://adsabs.harvard.edu/abs/2015MNRAS.446.3943M .  There is a catalog associated with that paper and contains luminosity and size of galaxies in g,r and i filters.

[2017-12-19 11:48] slosar commented on #50
I have a general comment regarding three test: dN/dmag, color-mag and color distribution test. These are really testing different aspects of the same thing, namely the full distribution of magnitudes. I.e. if you had statistically indistiguishable distribution of magnitudes from reality, you would automatically pass all three. The first test looks at 1D histograms of mags, the second test is  mag

[2017-12-19 11:54] slosar commented on #10
Do we still have just lightcones and correlation functions? Am I correct to see that your galaxies are a factor of 2-3 overclustered? Having power spectrum of period box would be my ideal test but if all you have is lightcones then I guess we'll have to live with projected correlation funcs.

[2017-12-19 14:19] yymao commented on #10
Updated test: https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-18&test=tpcf_Wang2013_rSDSS (results are similar)

@slosar The catalogs are over-clustered probably because the catalog is not deep enough?

@evevkovacs We do have snapshots, don't we? This question seems to appear many times...

[2017-12-19 17:31] evevkovacs commented on #10
@vvinuv @yao @slosar I think it is important to debug the test first and make sure it is correct.

[2017-12-19 19:56] slosar commented on #10
@yymao Which catalog is not deep enough? If you galaxies in a mag range then they are what they are, by definition you are deep enough? (in the limit of narrow enough bins that bias ~ const across mag bin)

[2017-12-19 20:00] yymao commented on #10
@slosar mock catalogs have cutoff in redshift: protoDC2 light cone goes to only z=1, and the Buzzard light cone goes to z=2.1.

[2017-12-20 02:50] rmandelb commented on #10
Can you clarify what is being plotted?  It says xi(theta) which confuses me a bit; that is, usually xi is used for a 3D correlation function as a function of r.  Is this w(theta), the projected 2D angular cross-correlation?  The issue with that one is that it includes information both about the 3D clustering and the N(z).  I mean, if you have a sample with the very same 3D clustering but a differe

[2017-12-20 02:58] rmandelb commented on #50
For photo-z and clusters, they might actually care about some of the color-color distributions though.

I agree with the basic idea that we don't want to paint ourselves into a corner by devising validation tests based on different datasets that turn out to be impossible to satisfy.  My feeling had been that we may indeed need to check all these different things, but our validation criteria cannot

[2017-12-20 03:17] rmandelb commented on #13
I would imagine there are CANDELS or other HST-based datasets that go to higher redshift and fainter magnitudes than SDSS.  This would be useful in my opinion rather than only having a z<0.2 validation test.

[2017-12-20 03:24] rmandelb commented on #42
A note about that theory prediction from @jablazek - that must be for the 2-halo term only.  If we're comparing the mocks against that, then we'd need to be careful what scales we compare on.

[2017-12-20 03:27] rmandelb commented on #11
Just to smooth out some of the structure, could we imagine fitting the data to the same parametric form for the N(z) from DEEP2?  The advantage of this in my mind is that (a) it means we don't have to worry about structure in the mocks that is just due to small areas involved, and (b) it means that our test is still at least somewhat valid only with z<1.

[2017-12-20 03:27] rmandelb commented on #11
(And then our validation criterion can be on the values of the fit parameters.)

[2017-12-20 16:45] evevkovacs commented on #14
@EiffL  @rmandelb  (cc to @yymao ) As discussed, I will start working on integrating plots of the total ellipticities and the components into DESCQA.  Can you point me to some sample validation data? It doesn't have to be the final data set, but I'd like to get an idea of what selection cuts I need to be making on the catalog data. For example, will I need to make a selection on the redshift range

[2017-12-20 16:56] slosar commented on #10
I would also prefer to see 3D clustering test as it is just more accurate representation of the exact test that you are doing. The validation should be over the mag limit and redshift limit of the test sample -- if it is fine at low-z, I'm ok to believe it must be reasonable at higher z.

[2017-12-20 17:11] evevkovacs commented on #11
@rmandelb  Yes, that is a possibility. The plots above are both for the small-area catalogs, so are you imagining that this will be an interim criterion, until cosmoDC2 is available? For comparison, here is a similar plot for Buzzard (10 k sq. deg). [](![image](https://user-images.githubusercontent.com/7797837/34219320-6ab0ef50-e576-11e7-9d69-eea2954afd81.png)

[2017-12-20 17:20] adam-broussard commented on #12
@evevkovacs I see that the units are L_nu - can you tell me how I could convert this to a true luminosity?  I assume that the wavelength bin size on the SED should work as a differential nu to integrate it, and if so what is it?  Thank you again!

[2017-12-20 18:44] yymao commented on #10
@rmandelb I think what is plotted is projected correlation (and the label should be changed) but @vvinuv can correct me if I'm wrong.

@slosar when you say 3D clustering, is the galaxy sample you have in mind within a thin redshift range with an absolute magnitude cut?

[2017-12-20 22:28] janewman-pitt-edu commented on #11
The errors in z0 coming from the fit of z0 vs. magnitude s are quite small.  Inaccuracy in the model would be a bigger worry (i.e.: a fit like z^2 exp(-(z/z0)^1.25 or ^1.5 would also give an acceptable solution for some value of z0, given the sample/cosmic variance in DEEP2).  I actually think these plots look pretty acceptable, especially because they look better at the fainter end which is the L

[2017-12-20 22:39] vvinuv commented on #10
@rmandelb the label on the y-axis is wrong. I meant w(theta) which is the angular correlation function NOT projected correlation. I use the Wang et al paper (http://adsabs.harvard.edu/abs/2013MNRAS.432.1961W)  as it is one of the latest measurements from SDSS galaxies. However, Wang et al work do not use the redshift information and all they use only r-band magnitude less than 21 (@slosar also I w

[2017-12-21 02:26] rmandelb commented on #10
Hi @vvinuv - thanks for clarifying.  Indeed in my message I accidentally wrote "projected 2D angular cross-correlation" when I meant "angular correlation function"... i.e., my statements about this quantity including information both about the intrinsic clustering and the N(z) apply to the angular correlation functions that you are showing.  So my point still stands: comparing this quantity with t

[2017-12-21 02:41] rmandelb commented on #11
@janewman-pitt-edu - speaking of the statement that these plots looking acceptable, I had some thoughts about this:

- Correct me if I'm wrong, but I think anything with i>24 from Coil et al is an extrapolation of a fitting formula, right?  I think that any validation tests using those extrapolations should be designed to be less stringent.

- I don't think we need a validation tests for all the m

[2017-12-21 05:00] janewman-pitt-edu commented on #11
@rmandelb : I'm pretty sure the biggest uncertainty for the DEEP2 fits is sample/cosmic variance, not incompleteness.  Without much more area it's just not possible to distinguish between exp(-(z/z0)^1 vs 1.5.  (We can rule out 2 or 0.5).

Past i=23 (or r=24).  The z0  vs magnitude limit curve is such a straight line (with very small residuals) that I have confidence in those extrapolations; what

[2017-12-21 11:01] slosar commented on #11
I don't have much to add, except that absolute number of object as a function of magnitude matters much more than how they are distributed across redshift. The former affects number of blends, etc which propagates into pretty much everything and will be crucial for some decision (do you just throw really bad ones away, or there are just too many so you need to fight them), the latter just changes

[2017-12-21 12:32] slosar commented on #10
@vvinuv Rachel said everything: it is ok to "cheat" in validation to make sure your catalog is correct and to use the actual distances (even with spectro survey you have RSD).  In particular all projected corr function (either to theta or to rp) are integrals over the 3D which is the fundamental quantity, so even if not observable, if you get that right you'll get everything else right. Also, if y

[2017-12-21 17:11] vvinuv commented on #10
Thanks @rmandelb  and @slosar . As @rmandelb pointed out that angular correlation function is a combination of redshift and intrinsic clustering. I think @evevkovacs showed that N(z) of  catalogs mostly agrees with the DEEP2 data and I assume this is also true for SDSS galaxies. In that case the recent angular correlation test was mostly agrees with the observation (if you like to see it please go

[2017-12-22 00:54] rmandelb commented on #10
I'm confused; what changed between the plot you showed above (which looks like a bad match) and the plots that are linked in your latest comment (which look significantly better)?

[2017-12-22 02:30] rmandelb commented on #14
That's a good idea.  I was struggling a bit with this because most of the samples I can think of have some hard-to-reproduce cuts, or don't divide by the quantities we are interested in, or only report an RMS ellipticity but not a distribution.  COSMOS is probably the way to go, and Benjamin Joachimi could presumably give us the distributions in figure 7 of that paper.  In the meantime, the captio

[2017-12-22 02:31] rmandelb commented on #14
Paging Benjamin @joachimi : we are interested in getting a machine-readable version of the data in [figure 7](https://arxiv.org/abs/1203.6833) of your 2013 paper to compare against our simulations; can you please help us out?

Many thanks!

[2017-12-22 04:23] vvinuv commented on #10
There was a bug in the code to select the sample for angular correlation function. Earlier I was only using the galaxies within redshift of 0.3. That sample was also used for testing for SDSS size-luminosity relation. I forgot to remove the redshift constraint and the resulting angular correlation functions didn't match with the observation. After I removed the redshift constraint the correlation

[2017-12-22 04:30] vvinuv commented on #10
@rmandelb @slosar, @yymao refactored the validation script and he was able to find the projected correlation function as shown here https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-21_32&test=tpcf_Zehavi2011_rSDSS. I just glanced at his code and seems there are no issues.

[2017-12-22 05:21] evevkovacs commented on #14
Thanks, that would be great. I started looking at the paper. from Fig 5 I infer that the  redshift range is 0-1.5, but wasn't sure that was true for all the plots. The other question I had was regarding the various morphology cuts. How are selections for early, late, disk dominated and bulge dominated defined?  I didn't see definitions in the paper, but maybe I missed them.  And what's the closest

[2017-12-22 05:32] yymao commented on #10
@vvinuv @rmandelb I can confirm that the w(theta) is now fixed (the fix involves the combination of not limiting maximal redshift and using a better footprint to generate random). [See plots here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-21_40&test=tpcf_Wang2013_rSDSS)

As @vvinuv mentioned, I was able to generate a reasonable wp(rp) results once the use of pi_max is correctly

[2017-12-22 13:42] rmandelb commented on #50
@yymao @evevkovacs - Just to collect some basic progress notes here: SL and SN confirmed they care more about the sprinkler.  It's useful for the extragalactic catalogs to be at least vaguely reasonable but the existing validation tests are enough to ensure that.  I will continue to work with the remaining analysis WGs.

[2017-12-22 13:46] rmandelb commented on #10
@yymao - I am concerned about the wp(rp); am I correctly interpreting the proto-DC2 plot as showing almost no evolution of the bias with luminosity? Buzzard doesn't look very good either.

Is there any reason not to show past 10 Mpc/h?  It would be good to test the clustering out to a few tens of Mpc/h if possible (e.g., if the validation data allows and there isn't some other obstacle that I'm mi

[2017-12-22 15:08] rmandelb commented on #14
V band is sort of midway between g and r.  I would suggest picking one of those and not worrying about it too much.

Section 4.1 describes the morphological classifications that lead to a definition of early-type, bulge-dominated late type, disk-dominated late type, and irregular. They are from an image-based algorithm that we cannot really reproduce here, but since this is a sim you should just u

[2017-12-22 16:15] evevkovacs commented on #11
@rmandelb @yymao @janewman-pitt-edu @slosar  So to summarize this:
i) DN/dmag is much more important than dN/dz
ii) dN/dz could be checked "by eye" if the fits to the data were more representative of the true uncertainties involved and the catalog data included errors for cosmic variance
iii) the fits to the data for dN/dz need to explore other functional forms.

Actually, since Coil at al do have

[2017-12-22 16:49] aphearin commented on #11
@evevkovacs @yymao - a lot of work needs to be done on the catalogs in order for them to meet basic specs. This test you describe is important, but for example implementing jack-knife errors on the catalogs seems to me a much lower priority than inspecting the result and trying to make adjustments to the catalog. Worth keeping in mind as we have very limited time remaining.

[2017-12-22 17:21] slosar commented on #10
I'm totally confused -- don't those lines imply fainter objects to be more clustered than bright objects? (in https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-21_32&test=tpcf_Zehavi2011_rSDSS)  Also, didn't we agree want to do 3D clustering. Finally, I really think we should test to 200 Mpc/h to see the BAO bump (to make sure it is correctly broadened, etc, it is just a nice sanity che

[2017-12-22 17:22] evevkovacs commented on #11
@aphearin  @yymao  We already have a jack-knife module from DESCQA1, so I hope this will be easy.

[2017-12-22 17:25] rmandelb commented on #10
@slosar , I don't see what you mean.  The data from Zehavi show a monotonic *increase* in the clustering with luminosity as far as I can see in the place you linked.

[2017-12-22 17:36] evevkovacs commented on #14
@rmandelb Thanks very much, that is a big help. I noticed the F814W cut, but forgot to ask for the LSST equivalent. Thanks for picking up on that. We switched the ellipticity definition to (1-q)/(1+q), as per your suggestion some time ago, but the test can figure out the change to the above definition.

[2017-12-22 17:49] yymao commented on #10
Note that I'm using a new color scheme where a brighter sample has a brighter, warmer color.

I'm working on extending the test to larger scale (but not to 200 Mpc/h, I don't think the proroDC2 catalog is big enough). Will report back once I have that ready.

Do we still want to test 2pt correlation function in a snapshot box?

[2017-12-22 17:50] rmandelb commented on #14
Yeah, sorry.  The advantage of (1-q)/(1+q) is that you can take the ensemble average <e1> or whatever and get the shear (whereas with the other definition, the ensemble average is *not* equal to the shear).  So the definition I recommended earlier is useful for lensing tests.  It's just not great for comparing with this paper :)

[2017-12-22 17:52] yymao commented on #11
Not necessary for this specific case but generally, I agree with @aphearin that we are currently human power limited and we really need to prioritize our efforts.

[2017-12-22 18:22] janewman-pitt-edu commented on #11
Hi Eve,

What was published in Coil et al. used just the first season of DEEP2 data.  We can do much better with the current dataset.  I have a version of her code that I upgraded over the years that can be used for that.

Best,

Jeff

[2017-12-22 23:27] yymao commented on #10
@rmandelb @slosar OK --- I've tried to extend the scale to about 40 Mpc/h and [here's the results](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-22_7&test=tpcf_Zehavi2011_rSDSS). You can see that there's very few pairs beyond 10 Mpc/h and the points are jumping around.

I've also used fewer bins to reduce noise and you can see the lack of magnitude trend in protoDC2 is quite clear.

[2017-12-24 00:41] rmandelb commented on #10
Whew.  Is it possible to define the maximum scale for clustering-related tests based on the box size?  i.e., always have a minimum scale of whatever you want the minimum to be, always have a fixed logarithmic bin size, and choose the max scale to be some fixed fraction of box size -> that determines the number of bins?  That way we can get something reasonable for protoDC2, and some other reasonab

[2017-12-24 02:23] yymao commented on #10
@rmandelb I guess we can ask catalog providers to provide a scale beyond which they don't trust their catalogs.

I also wonder the if clustering signals would look better if we use number densities, instead of luminosities, to select the galaxy samples, given that the luminosity function of protoDC2 does not match to observed ones very well. In fact, @aphearin might already have some results on th

[2017-12-26 15:28] vvinuv commented on #10
@slosar, as @rmandelb pointed out that the clustering from Zehavi increases with luminosity. @slosar are you implying that the 3D correlation function to be found is in terms of projected correlation and RSD in a contour figure as in Zehavi et al 2010? Or do you want to use the truth values of 3D information of galaxies in the simulation to find 3D correlation (which is more unlikely)?

I didn't f

[2017-12-26 18:46] rmandelb commented on #10
Sure, though I think that if we used some fixed fraction of box size I think it would be hard to go too badly wrong.

If we had roughly the right trend in clustering as a function of luminosity, but were having trouble matching the data in amplitude, I would say that's worth trying.  But right now the clustering appears to be essentially flat with luminosity, so even if we chop the bins differentl

[2017-12-26 21:00] yymao commented on #49
A SMF test with PRIMUS 2013 data is now available from the merged PR #51.

[2017-12-27 09:58] slosar commented on #10
rmax for xi should be a fixed fraction of box size and note that correlation function will start to break down well below L_box, because box imposes its own integral constraint (in principle you can predict that, but not worht the hassle, just stop at L_box/8 or or something).
These clustering amplitudes are not to good, true.

[2017-12-27 15:11] yymao commented on #10
@rmandelb @slosar For light cones, things would be a bit trickier than just using a fixed fraction of the box size. Buzzard light cone catalog, for example, uses three different boxes (of different volumes), and the plot you've seen (saying `buzzard_test` on it) was made with a small patch of the full Buzzard catalog. For `protoDC2` things are less complicated: it repeats a single box several time

[2017-12-27 15:58] slosar commented on #10
@yymao Ok, no need to overcomplicate things. Just use the smallest fundamental length-scale, even if you have to put in this by hand...

[2017-12-27 17:12] aphearin commented on #10
@yymao @rmandelb - yes, I am actively working on improving the trends of clustering with luminosity and stellar mass, by rescaling variables using Monte Carlo techniques. I'm happy to share results thus far, I've made a lot of headway but it's a work in progress.

[2017-12-27 20:36] yymao commented on #10
@aphearin There's something I don't fully understand --- I remember that your method just rescales the quantities but preserves the rank ordering, is that true? If so, how does that induce magnitude-dependant clustering if there's no such signal to begin with, as @rmandelb pointed out earlier?

[2017-12-27 21:13] aphearin commented on #10
By now I have tried many methods @yymao, fixing some relationships, breaking others. Probably unsurprisingly, the methods that seem to work best involve rank-ordering by M_infall in some way (either at the galsampler level, or remapping stellar mass using an empirical stellar-to-halo-mass relation or a conditional stellar mass function or deconvolution abundance matching). Note that any such metho

[2017-12-28 02:06] rmandelb commented on #10
@aphearin - Thanks for the update.  Let's have a discussion whenever you feel you're ready for feedback from the group. (No need to give an update while you are still actively trying stuff out, unless you feel you need the feedback to choose a way to proceed!)

[2018-01-03 13:55] rmandelb commented on #50
In this comment I will collect the list of working group contacts for extragalactic catalog validation.  Currently several are listed as TBD, so this is not very useful, but I will edit the comment as I get more information:

- CL: TBD
- LSS: @slosar (Anze)
- PZ: @sschmidt23 (Sam) proposed some tests, but it's unclear whether he's going to be the contact for this or if other PZ members will be inv

[2018-01-03 21:15] sschmidt23 commented on #50
@morriscb is the other contact for PZ, we're planning on discussing tests on Friday and updating shortly after that.

[2018-01-04 22:45] patricialarsen commented on #8
I've just noticed this issue, I think this could be covered by the shear-shear correlation functions test as flipping the shear_2 sign alters the results for w-minus. I currently assume the buzzard/DC2 convention, if a catalog's shear_2 sign does not match this it should fail the w-minus test and swapping the sign should fix this.

It doesn't solve the question of what sign convention to use, but

[2018-01-04 23:55] vvinuv commented on #13
I found a few issues to validate this test. For protoDC2 catalog the sizes are given for bulge and disk components. Therefore, to have a meaningful comparison to the data we need similar observational data. As far as I know that the two dimensional decomposition of data is available mostly for SDSS galaxies and a few high redshift HST based BCGs (correct me if I am wrong). We could not validate th

[2018-01-05 00:58] rmandelb commented on #13
There are 2-component Sersic fits in COSMOS, for galaxy samples going down to i~25.2 (they are getting noisy down there, so I wouldn't go to the flux limit).  See http://adsabs.harvard.edu/abs/2014ApJS..212....5M appendix E.  It just so happens that the server where the data can normally be downloaded from is down until mid-next week, but I can put it elsewhere for you if this sounds interesting/u

[2018-01-05 01:27] yymao commented on #13
@vvinuv there's also one-component size `size_true` in protoDC2 catalog version >= 2.1.2 (which is a luminosity weighted size given the two components, not exactly the same as single Sersic half light radius but should be a reasonable comparison).

[2018-01-05 05:19] vvinuv commented on #13
@rmandelb Thanks! I think it could be useful. However, I can wait until mid-next week.  @yymao I think the luminosity weighted radius is different from the radius by fitting only single Sersic. I checked somewhere else but don't have a figure now.

[2018-01-05 19:00] j-dr commented on #13
@vinuv, re: buzzard, FLUX_RADIUS is an estimate of the half-light radius. FLUX_RADIUS is just the name of the source extractor parameter that the size distributions in buzzard are based on.

[2018-01-05 20:58] vvinuv commented on #13
Thanks! I think Sextractor FLUX_RADIUS doesn't exactly match with the half
light radius of Sersic function. However, for this test FLUX_RADIUS may be
fine.

On 5 January 2018 at 13:00, Joe DeRose <notifications@github.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-01-05 21:46] yymao commented on #13
(It seems that @vvinuv is now working on this.)

[2018-01-08 17:23] patricialarsen commented on #35
Just to keep this issue updated: a first draft of shear-shear 2pt correlations is in the pull request labelled "first commit of shear test" (https://github.com/LSSTDESC/descqa/pull/54)

This doesn't use WLPipe yet, but a simple theory code. It is very preliminary and will be updated over the coming weeks, but currently plots 2pt shear correlation functions from the simulation data against theory w

[2018-01-09 02:19] morriscb commented on #10
Sorry for the late arrival. @sschmidt23 pointed me at this issue as the Photo-z WG has interest in this due to the use of cross-correlation redshift determination in our PZCalibrate deliverable. Assuming the issues with the absolute magnitude can be resolved then this test should meet our needs.

One question I have though is, is this test only being preformed on low redshift objects and not to th

[2018-01-09 02:33] yymao commented on #10
@morriscb protoDC2 has only z < 1 galaxies (a cut is made at z=1). Buzzard has galaxies up to z=2.1 (not sure if a hard cut is made but I don't think so).

[2018-01-09 03:03] janewman-pitt-edu commented on #50
@sschmidt23 pointed out this thread to me -- I want to concur with Rachel on this: for assessing photo-z performance we care much much more about getting the range of galaxy SEDs correct than the overall luminosities of objects (which is what the magnitude vectors is more sensitive to).  The distribution of galaxy colors is our best way of assessing SED.  I don't expect Galacticus to be perfect at

[2018-01-09 03:07] morriscb commented on #10
Okay, so I assume that means galaxies up to those redshifts are being used in this test which is what I wanted to know. I wasn't sure if a cut was being made in redshift below the limits of the simulations or not. Thanks.

[2018-01-09 03:10] yymao commented on #10
@morriscb for the correlation functions with apparent magnitude cuts, yes. For correlation functions with absolute magnitude cuts there are additional redshift cuts applied before the correlation functions are calculated.

[2018-01-09 05:00] vvinuv commented on #10
@morriscb the redshift of the sample with most luminous galaxies is less
than 0.25 and less luminous samples have even lower redshift. I think you
need the bias evolution from these type of samples. I don't know if there
are any such observed correlation functions from high redshift galaxies. As
@yymao said the angular correlation functions with apparent magnitude has
objects till z=1 for protoDC2

[2018-01-09 13:50] rmandelb commented on #10
@vvinuv - what about https://arxiv.org/abs/1210.6694 ? (see e.g. figures 10-12)

I agree in general with Chris that we do want to have some sanity check of the galaxy biases at higher redshifts.  This will be important for LSS, LSS+WL combined analysis, and PZ.

[2018-01-09 13:54] vvinuv commented on #10
@rmandelb <https://github.com/rmandelb>  Thanks for the paper! I will check
the results.

On 9 January 2018 at 07:50, Rachel Mandelbaum <notifications@github.com>
wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-01-09 13:57] rmandelb commented on #10
I would add that Chris can probably suggest a specific validation criterion.  One more thing to think about:

We don't necessarily need a validation test on the clustering signal.  We can do a validation test on the galaxy bias as a function of redshift / luminosity, using the fact that we know the matter clustering (so bias = sqrt((xi gg) / (xi mm))).

[2018-01-09 16:43] evevkovacs commented on #10
@yymao @vvinuv @rmandelb  In future, to avoid confusion, we should make the cuts on the catalog data as close as possible to the data to which they are being compared, and these cuts should be stated clearly on the plots and in the summary text files. If additional redshift etc. cuts are being made, they should also be on the plots and in the files.  I think this should be our standard practice fo

[2018-01-09 19:34] adam-broussard commented on #12
Hi guys I hope everyone had a good winter break.  I wanted to check in again now that we're on the other side of the new year.  @evevkovacs @abensonca can you point me in the right direction for converting the emission lines from L_nu to L?  Thanks in advance.

[2018-01-09 19:44] abensonca commented on #12
For the emission lines the quantities are already L, not L_nu. Eve's comment is for broad-band stellar continuum luminosities (which are L_nu in units of 4.4659e13 W/Hz). The emission lines are in units of Solar luminosities (3.839e26 W). So, to get equivalent widths you should just need to convert the continuum L_nu to L_lambda, and then take the ratio.

[2018-01-09 19:45] adam-broussard commented on #12
Great, thanks for the quick response!

[2018-01-09 20:01] yymao commented on #10
@evevkovacs hmm I think we are already doing that right now, no?

[2018-01-09 20:01] yymao commented on #10
@evevkovacs hmm I think we are already doing that right now, no?

[2018-01-09 21:32] morriscb commented on #10
@vvinuv For our use case we don't need to be assured that the clustering amplitude is entirely physical, just that there is a trend in correlation amplitude with absolute magnitude and it isn't flat like you observed in a plot previously created.

A specific test for our use case could be selecting one of the absolute magnitude bins and measure, as @rmandelb suggested, bias = sqrt((xi gg) / (xi mm

[2018-01-09 22:59] sschmidt23 commented on #10
As Chris said, one of the main things we want to check in DC2 is our ability to correct for galaxy bias evolution, so I think we need d bias/dz >~0.1-0.2 at least, (though it may be larger) for several absolute magnitude ranges out to z=1 as a good quantitative criteria for now.  That is, we want to be sure that the bias evolution is significantly non-zero and measurable beyond statistical errors.

[2018-01-09 23:35] aphearin commented on #10
@sschmidt23 @morriscb - In the ideal case, an actual test function is written that is incorporated into DESCQA - this is the preferred workflow for working group members to make a specific request of mock catalogs.

At minimum, could you be more precise in specifying d bias/dz is defined? Galaxy bias is only defined for a specific galaxy sample. For which specific galaxy sample selection function(

[2018-01-09 23:49] morriscb commented on #10
Hi @aphearin, @rmandelb asked for a suggestion in the thread so I spit balled an idea. Also I mentioned a sample in my post as picking one of the absolute magnitude bins that are already being used in the clustering amplitude vs abs mag plots that were shown on this issue. The exact sample isn't really that important for us, the test only need show that the simulations can produce bias evolution w

[2018-01-12 00:32] yymao opened #57 "readiness test (to catch bugs before catalog goes into image pipeline)"
Now that we are preparing for Run 1.1, we should make sure there is no obvious bug (like incorrect units, labels, etc) in the catalog before the catalog goes into the image pipeline. @evevkovacs @katrinheitmann and I think it would be a good idea to have a "readiness test" that checks if the quantities that are used by CatSim have reasonable distributions (for example, max, min, mean, std, and his

[2018-01-12 00:41] evevkovacs commented on #57
I am thinking that we need a generic test that takes a list of input quantities from the yaml config file and plots the histogram for each quantity, and reports the max, min, mean and std. devn I think I can code this up pretty quickly.  This would be flexible since quantities can be added/removed from the list.
Other ideas?

[2018-01-12 00:50] katrinheitmann commented on #57
I think this sounds very good. There should be also a test that then
puts out a warning if the values are crazy?

On 1/11/18 4:41 PM, Eve Kovacs wrote:

[2018-01-12 00:50] rmandelb commented on #57
That's a good idea.  A few other ideas that should be quick:

1. Report the median in addition to mean (because median is more stable to outliers and a big difference between median and mean can sometimes be concerning, though it's OK for intrinsically skewed distributions).

2. Check for NaN/inf values using np.isnan and np.isinf, and report any problems.

3. You might want to have some means of

[2018-01-12 00:55] yymao commented on #57
@rmandelb good suggestions, thanks!

@evevkovacs given the time scale, we should collaborate on this one. We can work together on the `readiness-test ` branch (i.e., https://github.com/LSSTDESC/descqa/tree/readiness-test, you have push permission to it). And we should commit frequently to avoid conflicts.

[2018-01-12 05:12] evevkovacs commented on #57
@rmandelb thanks for the outlier suggestion. I was worried about this issue. @yymao Yes, collaborating will be the fastest. I'll get started tomorrow morning and make a skeleton that we can flesh out. I was planning to put the acceptable ranges/tests for each quantity in a big dict (of dicts) with keys labelled by the quantity name. We can just keep adding as many checks as we want, depending on t

[2018-01-14 20:47] janewman-pitt-edu commented on #11
And here's the r-i vs. z plot:

![image](https://user-images.githubusercontent.com/3122485/34920526-392d874c-f942-11e7-8b45-dabb62bdbca0.png)

[2018-01-14 22:11] rmandelb commented on #11
@janewman-pitt-edu - thanks for these plots.  A few people had been looking at color vs. redshifts, but I'm not sure anybody has considered mag vs. redshift - and indeed that's a pretty important gap.  We should not just be testing 1D dN/dmag and dN/dz because that will cause us to miss important features in these distributions.

I just tried to find how the mass limit changes from proto-DC2 to co

[2018-01-14 23:39] rmandelb commented on #50
@sschmidt23 @slosar @morriscb @j-dr @erykoff -

Thanks for agreeing to represent PZ, CL, and LSS on the extragalactic catalog validation.  As a reminder, in the next 2 days we'd like to have the following:

- a finalized list of what validation tests are needed for the DC2 extragalactic catalogs for your science; open new issues if anything is missing from the current list in this repository.

- f

[2018-01-14 23:40] rmandelb commented on #50
@jablazek @elikrause @timeifler @joezuntz -

Please comment in this thread with the name / GitHub idea of the person who will work on the extragalactic catalog validation for your working group (for TJP I believe one person was asked but may not have confirmed; I did not hear a name for WL yet).  See the message above this one for what we are asking those people to do, and direct them to this thre

[2018-01-15 00:19] aphearin commented on #11
@janewman-pitt-edu - Thanks for posting the tests of protoDC2. I agree with your assessment that the chunky edges shown in your z_phot vs. z_spec are most likely due to finite time-stepping of the simulation snapshots used to construct the lightcone.

I've also noticed some unrealistic features in color-color and color-magnitude space for protoDC2. I've been working on rescaling a single snapshot

[2018-01-15 00:20] timeifler commented on #50
@rmandelb For WLWG @msimet has volunteered to be the DESCQA liaison.

[2018-01-15 05:22] janewman-pitt-edu commented on #11
@aphearin : My belief that this is due to a mass cutoff is based on past discussions with @evevkovacs et al. about how Galacticus was run (at least in the past).  The shape looks entirely consistent with that to me; basically, the envelope of i magnitude vs. redshift is set by the mass cutoff combined with the highest mass-to-light ratio amongst the low-mass galaxies (or maybe I'm flipping that an

[2018-01-15 15:19] evevkovacs commented on #11
I rechecked the parameter file that I used to run Galacticus. In order to speed up the calculation of luminosities, there is a cut-off in absolute magnitude of -10; ie. if the galaxy is fainter than -10, it is not evaluated. However, at z ~ 0.2,  I estimated that this would cut out galaxies fainter than apparent magnitude ~ 30, so unless I made a mistake, this cut would not produce the behavior se

[2018-01-15 15:47] janewman-pitt-edu commented on #11
@evevkovacs : I come up with ~30 too.  That suggests again that it might be due to a mass limit on how Galacticus was run (or the simulations/merger trees used as input) rather than a luminosity limit directly.

[2018-01-15 16:00] evevkovacs commented on #11
@dkorytov  OK good. We are checking now, but I believe Dan added an additional cut of M<-16 to protoDC2 because that is where the numbers of galaxies started to fall off. And M<-16 would correspond to m~24 at z=0.2, so that is exactly where you see the cutoff. We can easily remove this cut. The number density of the resulting galaxies would probably be too low, but at least there would be some to

[2018-01-15 16:30] janewman-pitt-edu commented on #11
That would explain it!

Why would the number density be low?

[2018-01-15 16:43] jablazek commented on #50
@rmandelb : @patricialarsen has volunteered for TJP. @timeifler, she has been doing WL-related work as well on proto-DC2 and is interested in coordinating with @msimet.

[2018-01-15 16:58] dkorytov commented on #11
Yes, that Mr<-16 cut is in the catalog.

The luminosity function starts to drop after -16. I think to get the
correct distribution at low luminosity galaxies, we would have to have even
smaller halos in the merger trees than we currently have. The limit for
halos is 10 particles or ~1e10 Msun/h.

On Mon, Jan 15, 2018 at 10:30 AM, janewman-pitt-edu <
notifications@github.com> wrote:

[2018-01-15 17:01] aphearin commented on #11
@dkorytov is correct about simulation resolution - properly resolving the halos hosting galaxies fainter than Mr < -16 is not possible for present-day simulations of cosmological volumes

[2018-01-15 17:44] timeifler commented on #50
@rmandelb @jablazek @patricialarsen This is great to hear, Patricia has already reached out to Melanie and myself.

[2018-01-15 20:48] janewman-pitt-edu commented on #11
I know it's late for DC2, but for DC3 can we at least try to emulate the subhalos down to lower masses?  Redshift distributions and photo-z tests will be off if we don't.

[2018-01-15 21:02] aphearin commented on #11
We may be able supplement the existing simulation on DC2 timescales, @janewman-pitt-edu - for example using something along the lines of [this paper](http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1212.3615), which is similar to what is done in Buzzard. I thought for purposes of present discussion that it was worth making sure you were well aware that the specs you are asking for are beyond the

[2018-01-16 10:44] slosar commented on #50
@rmandelb @yymao Is there a living list of current tests or does simply the list of issues with "validation test" label acts as such? Can you elevate my rights so that I can add "validation:required" to some tests, like for example this galaxy bias/clustering test? (or should I tell you which one I think are required?)

[2018-01-16 15:20] rmandelb commented on #50
@slosar - the list of issues w/ "validation test" label is the living list of tests.  I would love to elevate your rights but I'm not fancy enough to do that (I have labeling privs but not "giving other people labeling privs" privs, apparently).

Perhaps @yymao or @evevkovacs can comment on the difference between the "validation test" and "validation test:required" labels; there are far more of th

[2018-01-16 15:29] evevkovacs commented on #50
Yes, validation test:required is intended to flag tests which are required by the working groups and which the catalog must pass in order to be satisfactory. Other validation tests are those which have been suggested and may be nice to have but aren't as high priority to implement.

[2018-01-16 15:33] katrinheitmann commented on #50
There is also the table 10 in the planning document which now lives on Github: https://github.com/LSSTDESC/DC2_Repo/tree/master/Documents/DC2_Plan. That list provides a quick overview and has the same required/nice to have distinction. You can edit that table in principle. Yao seems to be the only one who has the power to help with the labels ...

[2018-01-16 17:19] yymao commented on #50
@slosar: the original idea is that the WGs will report to @rmandelb and discuss here on the set of required validation tests, and then @rmandelb will add the labels on them.

However, if this workflow is not efficient, I'm happy to make necessary changes to make things easier!

[2018-01-17 15:03] rmandelb commented on #50
Done.  Thanks for thinking through which ones are more important than the others for LSS.  And I believe the bias/clustering test is also required for PZ to achieve its goals with the clustering redshift analysis, as well.

[2018-01-17 19:52] evevkovacs commented on #57
@jchiang87 @rmandelb  @yymao @katrinheitmann  Here is an example of the readiness test page  for checking ellipticities. [https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-17_10] and details in ([https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-17_10&test=Check_ellipticity].) If you click on the graph in the left panel, and enlarged version is diosplayed in the right panel.

[2018-01-17 20:04] evevkovacs commented on #57
@jchiang87 @rmandelb @yymao @katrinheitmann  I just ran for the test out of the box for ellipticities, sizes and magnitudes. Here is the result:https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-17_11&test=Check_quantities Magnitudes worked. The plot for sizes needs some adjustment because I haven't done any outlier rejection as suggested by Rachel.  And I seem to have a bug in the repor

[2018-01-17 20:09] rmandelb commented on #57
I see.  So for example the mean ellipticity of the bulge was set to be in the range 0.2-0.8 for this test, and that's why it failed, but everything else related to ellipticity passed.  (And I assume this test value will be changed.)  This looks like a promising start, modulo the range problem on the size plot.

So one more question - I was just thinking about failure modes, and I thought there was

[2018-01-17 20:28] evevkovacs commented on #57
@rmandelb Yes, that's correct on the ellipticities. The test values will need to be vetted. I put in obvious ones, but will need guidance on others. Regarding generalizing the tests, those kinds of checks are possible. Right now, one could catch that kind of problem by looking at the histogram and seeing that 2 curves are on top of one another. That's one bonus of grouping like quantities together

[2018-01-18 06:20] yymao commented on #57
@rmandelb

Improving upon Eve's version, I've implemented a cleaner overview for the readiness test. [See an example here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-17_30&test=readiness&right=2018-01-17_30/readiness/protoDC2/SUMMARY.html)

In the table on the right hand side, numbers in red indicate that they are outside the accepted ranges. Numbers in grey mean the accepted ran

[2018-01-18 22:11] #57 closed

[2018-01-18 22:18] yymao opened #60 "finalize the acceptable quantity ranges for the readiness test on protoDC2"
Now that we have a readiness test in place (you can [see a demo here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-18_9&test=readiness_protoDC2&right=2018-01-18_9/readiness_protoDC2/protoDC2/SUMMARY.html)), we need to finalize the acceptable ranges for each quantities in protoDC2, especially those used by the image generation.

All the acceptable ranges are set in [this YAML config

[2018-01-18 22:46] jchiang87 commented on #60
Sorry, I haven't been trying to follow the discussion on these validation tests very closely, and I'll admit to not understanding the relationship between "true" and non-"true" quantities, so apologies if this has been discussed or doesn't make sense:   Since you are overlaying distributions of things like redshift with redshift_true, I assume this implies these distributions should be consistent

[2018-01-18 23:55] yymao commented on #60
@jchiang87  "true" and "non-true" quantities are before and after lensing effect, so they should be similar but not identical. The "true" quantities are not validation data.

Quantities that are plotted on the same plot just have similar ranges, so it's easy for visual inspection. That does not mean we are comparing the quantities against each other on the same plot.

[2018-01-19 00:14] evevkovacs commented on #60
@jchiang We struggled with a method to automate the readiness test, but decided that human intervention was needed. So the basic idea is that the catalog providers run this test to make sure that the values in the catalog are reasonable, and that the distributions pass a visual inspection. The providers will then "sign-off" (location TBD) that the version of the catalog has "passed".

[2018-01-19 01:24] salmanhabib commented on #60
@jchiang87 There was a lot of discussion regarding error metrics for the validation tests. The basic problem is that unless catalogs are tuned to observations, the deviations are systematically off and tests like KS and chi^2 are not really sufficiently informative. For example, one catalog may be fine for a certain limited range of observables and deviate outside this range, but may be the scienc

[2018-01-19 11:27] rmandelb commented on #50
@j-dr and @erykoff - can you please let us know the status of cluster-related extragalactic validation tests?  See e.g. this comment: https://github.com/LSSTDESC/descqa/issues/50#issuecomment-357552766 earlier in this thread for info on what we are looking for.

I'm about to go offline for a day, but Yao, Eve, and others on this thread may be able to answer if you have questions about the process.

[2018-01-19 16:20] yymao commented on #57
Posting the [latest readiness test example](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-18_9&test=readiness_protoDC2&right=2018-01-18_9/readiness_protoDC2/protoDC2/SUMMARY.html) in case people come here to check the status of the readiness test.

Further discussion should move to #60

[2018-01-19 22:58] EiffL opened #62 "Image generation pipeline sanity test"
The purpose of this test will be to check the consistency of the instance catalog creation and image generation with the input quantities in the protoDC2 catalog. This can be done by generating a small instance catalog and one exposure with ImSim and checking the measured sizes and ellipticities of the galaxies in the field. The statistics will not be very high but it will catch obvious failures.

[2018-01-19 23:43] j-dr commented on #40
@erykoff and I think that this needs to be made a required validation in order to enable the planned CL WG analyses on DC2. Our thinking right now is that the best way to do this is to run redmapper on protoDC2 and compare the mean red sequence and scatter to what is found in either DES or SDSS.

The mean is not incredibly important, so long as there is a well defined red sequence, but the scatter

[2018-01-19 23:45] j-dr commented on #9
@erykoff This probably also needs to be either made required or at least strongly prioritized for CL. We can provide a CLF fit to SDSS data to validate against, but some work will probably need to be done in order to make a similar selection on the sims without running redmapper.

[2018-01-19 23:58] j-dr commented on #10
Something that isn't being covered in this issue, but will be important for clusters is small scale, color dependent clustering (particularly for red galaxies...). Not sure if I should open a new issue related to this. Happy to do so if we don't want to cram too many things into one test.

This will definitely be important for cluster miscentering though, so thought I would bring it to people's at

[2018-01-20 00:02] j-dr commented on #13
This test is also going to be quite important for CL in order to test the impact of blending on red sequence colors. I expect that we will need to use something at higher redshift as well for validation data as has already been brought up.

[2018-01-21 19:56] rmandelb commented on #13
@vvinuv - following up on my comment on this thread from about 2 weeks ago (validation data), the server where the dataset that I mentioned is now online:
http://great3.jb.man.ac.uk/leaderboard/data
(scroll to the bottom, http://great3.jb.man.ac.uk/leaderboard/data/public/COSMOS_25.2_training_sample.tar.gz )

@j-dr - the dataset that I just linked to goes to i<25.2.  The FITS are good for galaxies

[2018-01-21 19:59] rmandelb commented on #10
@j-dr - does it make sense to do this as a test of small-scale clustering split by color?  Or could we do a more specific test that focuses on the populations of cluster-mass halos?

My gut feeling is that this deserves a separate issue, because the goal of the validation test (what science it will enable) is quite different from the goal of the large-scale clustering validation test.

[2018-01-21 20:02] rmandelb commented on #9
Joe - can you comment on whether the test plots that Yao shared from Dan's work on this (https://github.com/LSSTDESC/descqa/issues/9#issuecomment-350857878) might be providing essentially what you want?  It's based specifically on a selection in bins in halo mass, which gets around the "needing to run redmapper" problem.  As you can see, as implemented it does include both the central and satellit

[2018-01-21 20:05] aphearin commented on #10
I agree entirely with @rmandelb - this warrants a separate issue. The science targets driving these two validations are pretty distinct, as is the labor required of catalog producers.

[2018-01-21 22:30] yymao commented on #9
Just to clarify that the plots above are taken from a DESCQA test Joe and I wrote, so @j-dr should be very familiar with that test :)

[2018-01-21 23:34] aphearin commented on #9
@yymao and @j-dr - Could you clarify the meaning of the halo mass variable in these plots? Is this RedMapper-determined mass? Or some other observational estimator for halo mass? Or is this the CLF as a function of true halo mass according to some model fit to a cluster catalog? I do not yet understand how we can get around the "needing to run redmapper" problem, though I agree with @rmandelb that

[2018-01-22 00:39] yymao commented on #9
@aphearin currently what is plotted is true halo mass. But yes, we might need to run redmapper for a more realistic test

[2018-01-22 00:43] j-dr commented on #9
The problem with this test as currently implemented is that it's hard to come up with something to validate against that would be comparing apples to apples. I think at the very least we need to come up with more realistic color cuts, since as of now I was just cutting on the 25% reddest galaxies using restframe g-r.

One way we could tune the cuts is using buzzard since we have a full redmapper r

[2018-01-22 00:47] j-dr commented on #10
I'm happy to separate this into a separate test. I'll open a new issue and we can discuss there.

[2018-01-22 00:49] aphearin commented on #9
It would be ideal to run RedMapper on protoDC2 if that is feasible. If so, we should hold off on this until after I am done with the protoDC2 overhaul.

[2018-01-22 00:56] j-dr commented on #9
@erykoff already fit the red sequence in protodc2, so that part is definitely possible, but I remember him saying that he thought there might be problems running the full cluster finder, possibly related to the limited area? I'll let him elaborate.

[2018-01-22 01:10] j-dr opened #63 "Radial profiles of red-sequence cluster members"
Moving the conversation started in #10 here. The idea is that we would like to make sure that the CL WG goal of investigating miscentering in DC2 is possible by validating the radial profiles of cluster members.

One way to do this is just to directly measure the radial profiles in cluster mass halos. This should be easy to implement, but is going to be difficult to compare to data, since and prof

[2018-01-22 01:17] erozo commented on #63
I think halo--galaxy CF in a color bin would be great.  I also think the PDF of "# counts of red galaxies in  1 Mpc around random points" relative to "# counts of red gals around halos of a given mass" would be a useful thing to look at.

[2018-01-22 01:23] aphearin commented on #63
halo--galaxy CF does not address "the problem of having to run RedMapper" (phrase coined by @rmandelb). Galaxy clustering is a lot more observationally robust. As a catalog producer, I myself would not pay much attention to such a test unless RedMapper were first run on the mock to identify the "halos" (at which point I would pay close attention to it).

If radial profiles of some variety are need

[2018-01-22 23:30] erykoff commented on #9
I was worried at first that the protoDC2 area would be insufficient for training redMaPPer, but it seems fine.  Certainly there is noise in the measurements due to the small volume, but it did seem to work okay on the earlier protoDC2.  Also, the volume is small enough that it runs pretty fast!
Once a new version of protoDC2 is available (and I think this is what @aphearin is referring to?) I'll b

[2018-01-23 00:27] evevkovacs opened #64 "Add SEDs to readiness test"
@yymao  Please take a look at https://github.com/evevkovacs/descqa/blob/ready_SEDS/SED_test.ipynb
The distributions are not as unreasonable looking as I expected, if we convert the SEDs to magnitudes. I am thinking that we can add a keyword to the yaml file such as function: -2.5*np.log10, which tells the readiness test to first evaluate the function on the catalog data before plotting it or compu

[2018-01-23 01:10] yymao commented on #64
@evevkovacs the current readiness has the option to plot and calculate the statistics of the quality after taking log. I know log luminosity is not magnitude but  they differ by only a constant factor.  Given that this test is just for bug finding, I think this would be good enough, no?

[2018-01-23 01:56] aphearin commented on #63
Here is an example plot of color-dependent clustering at z=0.1, taken from the overhauled DC2 I have been working on. For luminosity thresholds ~<-20.5, everything looks good on all scales. Going down as faint as -19 causes some problems that are primarily due to pushing up against the resolution limits of the simulation.

![two_panel_color_clustering](https://user-images.githubusercontent.com/695

[2018-01-23 02:07] aphearin commented on #40
These plots are taken from the overhauled DC2 catalog I have been working on. Not strictly speaking color-magnitude diagrams, but very closely related. Figures show restframe colors at z=0.1 compared to volume-limited SDSS samples. I can post color-magnitude and/or color-color diagrams if people are interested, though those look comparable.

![sdss_vs_dc2_gr_vs_logsm](https://user-images.githubuse

[2018-01-23 05:31] evevkovacs commented on #64
Yes, that would be good enough.

[2018-01-23 13:13] rmandelb commented on #40
@aphearin - thanks for these updated plots.  For your comparison, has DC2 also been cut to a volume-limited sample using similar cuts as how the SDSS volume-limited samples were defined?  Or when you said z=0.1, did you mean you're using a snapshot?

Might you be able to show 2D histograms instead of scatter plots?  I find scatter plots can be a bit deceptive in terms of where is the maximum densi

[2018-01-23 16:24] aphearin commented on #40
@rmandelb - these plots were generated from a DC2 snapshot catalog. I have not yet run the model on all the snapshots to regenerate a lightcone mock.

I have a few more scatter plots to show that are straight color-magnitude diagrams.  Then I will show four-panel 1-d histograms at the end, which are easier to make and I also think easier to read.

![sdss_vs_dc2_sfr_vs_logsm](https://user-images.gi

[2018-01-23 16:37] aphearin commented on #40
I am sure that the SDSS samples I am using in these validation plots do not go to faint enough magnitudes to make the plots you would like to see. The lack of reliable calibration data down to the magnitude limit that you are asking for (along with @janewman-pitt-edu ), coupled with the demands on simulations to resolve halos down to those magnitudes, places this problem into the category of R&D.

[2018-01-23 23:32] slosar commented on #50
We had a discussion of validation tests within the LSS group a two main issue arose:
 * We need validation of magnification and in fact two: galaxies needs to be bigger at the constant surface brightness (so the total apparent luminosity increases, the kappa term in the distortion matrix) and they need to be moved in the right direction (change in the number density). I could find any issues relat

[2018-01-24 00:09] rmandelb commented on #50
@slosar - thanks for the feedback from LSS.  To answer your questions:

1. you are right that this is more an "is it implemented correctly" issue, rather than one where we are testing the extragalactic catalogs against data.  The catalogs have lensed magnitudes and sizes in them, so I guess the question is do we need to explicitly test the densities are changing in the correct way at fixed magnitu

[2018-01-24 05:51] yymao opened #65 "Create tag for Run 1.1"
I'm going to create a tagged version of DESCQA for Run 1.1 (while the DESCQA is not directly used in the run, it documents the validation tests that the catalog going it has passed, so I think it is good to have a tagged version too.)

Is there any issues/PRs should be resolved before we make this tag? Maybe #60 and #64? Do we think it is reasonable to close them before Friday? Or should we leave

[2018-01-24 11:38] slosar commented on #50
@evevkovacs @rmandelb Thanks for your quick responses:
1. Regarding magnification. I think we should be modulating the number densities by actually displacing the galaxies, even if we do it in the born approximation (if you're doing proper ray-tracing even better!) This means that for each galaxy, you generate the kappa field (integrated mass density) which you can than transform into gamma1, gamm

[2018-01-24 11:47] rmandelb commented on #50
@slosar -

For (1): the catalog has both pre- and post-lensing positions (in addition to the pre- and post-lensing magnitudes and sizes that I mentioned earlier).  I assume that there is an intent to use the post-lensing quantities for everything including positions when making the sims.

You are correct that we could use the statistical properties of pre- and post-lensing positions for a flux-lim

[2018-01-24 16:54] evevkovacs commented on #65
@yymao  @dkorytov Yes, I think we can finish those up. It would be helpful if the A_v and R_v additions could be pushed to the protoDC2 reader. Is there any chance of getting the SED quantities in the reader in the next day or so? If yes, it would also be helpful as the yaml file entries for the SED checks would not have to be changed. Right now, I am using the native quantities.

[2018-01-24 17:00] yymao commented on #65
@evevkovacs the SED part is now ready in the reader (as long as @dkorytov approves it), but since the CatSim interface is still using native quantities, it probably doesn't matter for Run 1.1 (unless we want to revise that part too).

Similar story for `A_v` and `R_v` --- even if we edit the catalog, we need to edit the CatSim interface so that it uses what's in the catalog. Question is whether we

[2018-01-24 18:55] evevkovacs commented on #50
Patricia Larsen will comment on 1). For 2), we can change  the N(z) tests to check the normalization. Can you point me to the datasets?

[2018-01-24 19:32] yymao commented on #50
Looping in @duncandc since he has been working on #7.  It sounds like the newly proposed test is closer to #11, just with a magnitude cut.  Do we still want to pursue #7?

[2018-01-24 19:40] janewman-pitt-edu commented on #50
@slosar @rmandelb I disagree pretty strongly about combining dN/dz and dN/dmag into one test unless we still do a separate dN/dmag test.  The reason is that dN/dmag is something we can measure directly empirically, whereas dN/dz (in mag bins) is a substantial extrapolation (by 2-3 mag) at LSST depth, and poorly constrained on the higher-z tail (z>1) even at the brighter magnitudes, primarily due t

[2018-01-24 19:49] patricialarsen commented on #50
@slosar

I can confirm that the galaxy position does shift due to lensing in our catalogues. These deflections are calculated within the ray-tracing algorithm at the same time as the other weak lensing observables. This should be in the catalogue as a pre-lensed and a post-lensed position. The magnitudes are also altered to take into account the lensing magnification (this may not have actually be

[2018-01-25 03:09] drphilmarshall commented on #40
regimes you are asking about, but that would likely require new simulations
and also a more or less full-time FTE working on this problem. Perhaps we
should discuss this in the context of looking forward towards DC3 at the
collaboration meeting. Tagging @drphilmarshall
<https://github.com/drphilmarshall> by way of proposing such a discussion.
I think that sounds sensible. The Thursday afternoon se

[2018-01-25 03:15] janewman-pitt-edu commented on #40
Sorry, somehow I missed this thread before... looks like it started when I was traveling.

What's special about -19 < M_r < -20 and r-i that makes it look so much worse than the other histograms (though g-r going redder than the real galaxies at the bright end is also an issue, it means the SED gamut won't be right)?

If anyone is still trying to compare SDSS-band to DES-band colors, please at lea

[2018-01-25 03:23] aphearin commented on #40
Hey Jeff, I'm not sure what is going on there, but I can say that it will be difficult to improve upon this level of agreement without significant further R&D.

[2018-01-25 03:36] aphearin commented on #40
@janewman-pitt-edu - Right now all I can show are SDSS band colors, but part of the pipeline we are overhauling involves matching these color distributions to a Galacticus galaxy with similar colors, and using that Galacticus galaxy's spectrum to generate fluxes in other filters. So there will not be any need to apply fitting function transformations to the fluxes, since they will be computed self

[2018-01-25 06:29] evevkovacs commented on #40
@drphilmarshall  @aphearin  The Extra-Galactic Validation session is quite full already and there will be a lot of issues to discuss. We have a CS technical session at 8am on Thursday and a session on "Post-processing models" at 2 pm on Wed. Either of those would have more time for a discussion of "DC3 Goals and Planning". Do either of you have a preference.

[2018-01-25 14:23] aphearin commented on #40
@drphilmarshall - I had not necessarily intended to suggest that the talk schedule be reworked to accommodate this as a dedicated discussion, which could easily happen "offline".

[2018-01-25 15:13] slosar commented on #50
@janewman-pitt-edu @rmandelb
Jeff, you make a good point re dN/dmag being more directly observable. It is also more relevant for things like blending than N(z). So I take back my original suggestion. But at minimmu, Issue #7 should specify which magnitude is this for, now I don't see this anywhere. I think as long as it is for one magnitude we're fine (and then color test will take care of others)

[2018-01-25 15:49] vvinuv commented on #13
@rmandelb Thanks! Could you tell me how you calculate the intensity at half light radius for bulge and disk. Is that I = 10**((surface brightness * 2 * pi * half light radius - 5 log10(4 * np.pi * DL))/-2.5)?

[2018-01-25 15:57] rmandelb commented on #13
@vvinuv - The numbers in these files are all observed quantities, so luminosity distance is not relevant.  The intensity comes directly from the files.

Have you looked at the README that is packaged in the tarball?  It gives equations for various quantities related to the intensities and radii.  If you are uncertain after reading the README I'm happy to discuss, but since equations and parameters

[2018-01-25 16:05] vvinuv commented on #13
@rmandelb I have read the README file and it says that SERSICFIT[0]: I, defined as the intensity at the half-light radius. However, I am not quite sure whether intensity means flux or the luminosity.

[2018-01-25 16:07] rmandelb commented on #13
Everything in those files is flux.

[2018-01-25 16:08] evevkovacs commented on #13
@vvinu  What quantities are you using from protoDC2?

[2018-01-25 16:08] rmandelb commented on #13
Just to confirm something: my understanding for this test is that you want the total flux, not the intensity at a fixed radius.  Do you agree?  If so, please use the equation given in the README,
[code]
(all the factors are explained in the file)

[2018-01-25 16:09] vvinuv commented on #13
@rmandelb Thanks! I was supposed to use the magnitudes of bulge and disk and corresponding sizes from protoDC2. Are those the correct parameters to use?

[2018-01-25 16:10] vvinuv commented on #13
I see. This means that 'I' is the surface brightness at R_(1/2)

[2018-01-25 16:11] rmandelb commented on #13
If you use the flux defined using the equation I copied above, and convert to magnitudes, then you can compare with bulge and disk mags for protoDC2 (and it should indeed be flux, not intensity at fixed radius, that goes into that comparison).

You should also check how sizes are defined.  As described in the README, the sizes in the files I sent are half-light radius along the major axis, so ther

[2018-01-25 16:15] vvinuv commented on #13
Yes, I have checked that in the README file. I think protoDC2 has circular half light radius @evevkovacs @dkorytov

[2018-01-25 16:19] rmandelb commented on #50
@janewman-pitt-edu - I originally thought as you did - let's decouple dN/dmag and dN/dz because the former is directly observable and the latter is not.

However: it's important to note that protoDC2 has a z<1 cut.  So it would actually be quite wrong to compare, say, HSC dN/dmag against protoDC2 dN/dmag without accounting for this.  We may have other catalogs with z cuts.  A combined test would a

[2018-01-25 16:26] katrinheitmann commented on #50
Just my two cents: we should design the validation tests to be most
useful for the cosmoDC2 catalog (reminder: that's the big catalog we
want to use for DC2). protoDC2 is meant as a test bed to implement all
the tests rather than a catalog that will fully fulfill all the
requirements. Due to some changes in the cosmoDC2 production strategy we
will have a slightly longer period for full cosmoDC2 va

[2018-01-25 16:37] evevkovacs commented on #13
@vvinuv @rmandelb Half-light radii in protoDC2 are obtained by assuming that the disk and bulge components have n=1 and n=4 Sersic profiles respectively, and using the physical (scale) radius of the component, as given by Galacticus, as the characteristic scale in the profile. There is an analytic calculation that can be done to compute the factor that relates the half-light radius to this charact

[2018-01-25 16:46] yymao commented on #50
Agreed with @katrinheitmann's point.

On the other hand, isn't a redshift cut in mock catalogs kind of unavoidable, unless we snitches even more larger boxes for high-z bright galaxies?

[2018-01-25 16:48] evevkovacs commented on #50
I agree with Katrin. So, I think it is easy to have a dN/dmag test and specify a redshift range. The validation data sets for different ranges can be different, For example, HSC data at high redshift and something else (eg SDSS) for lower redshifts.

[2018-01-25 16:49] katrinheitmann commented on #50
Yes, but I thought the worry was that the redshift cut in protoDC2 was
low at z~1 (cosmoDC2 will be higher). But maybe I misunderstood.

On 1/25/18 10:46 AM, Yao-Yuan Mao wrote:

[2018-01-25 16:55] evevkovacs commented on #50
Maybe I am missing something, but I thought that the observational data had redshift information and therefore selection cuts could be made to match what is in the simulated catalog if need be.

[2018-01-25 16:57] rmandelb commented on #13
OK, so if you are using the half-light radius of the major axis, then @vvinuv does not need the sqrt(q) symmetrization factor (but he does still need a factor of 0.03 to convert from size in pixels to size in arcsec).

[2018-01-25 17:02] rmandelb commented on #50
@yymao - true, there is always a redshift cut in mocks.  But the issue is that if you're going to i=25, then we expect a few % of objects above z=3, but ~40% of objects above z=1.  So if we do a test with a tolerance of 20%, we don't care if the mock has zmax=3.  We care very much if it has zmax=1.   My concern is about whether the redshift cut is sufficiently low that we're expecting to lose of o

[2018-01-25 17:03] vvinuv commented on #13
@evevkovacs @rmandelb Thanks for clarification!

[2018-01-25 17:04] rmandelb commented on #50
@katrinheitmann - I guess I figured we want these tests to be generally useful, so we have to assume that some mocks will have strict z limitations.  I'm OK with saying we should design the tests for the ideal case, but if we do that, then I would strongly advocate for the test to not be run at all if the mock catalog (like protoDC2) has some condition that makes the test invalid. For example, all

[2018-01-25 17:07] yymao commented on #50
@rmandelb thanks for the clarification! And to your technical question, yes, a test can decide not to generate any plot (or do whatever alternative things) if it finds the catalog's max z is, say, less than 2.

Is it fair to say we need to mocks to have max z > 2? We can probably check if that's sufficient by run the test on buzzard (max z ~ 2.1).  And looking ahead to cosmoDC2, what redshift cut

[2018-01-25 17:09] evevkovacs commented on #50
Yes, certainly. The test writer is free to specify conditions as she/he sees fit. For eaxample, it would be simple to set a requirement on the maximum redshift delivered by the catalog and if that requirement is not satisfied, the catalog is skipped.

[2018-01-25 17:19] rmandelb commented on #50
Sorry if I am missing something, but how can we check whether that's sufficient by running the test on buzzard?

My proposal would be to take our best understanding of dN/dz for the faintest magnitude limit for which we test the dN/dmag, integrate that to find the max redshift for which we'd be missing more than, say, 5% of the galaxies, and set that as the max redshift for the dN/dmag test.

[2018-01-25 17:24] yymao commented on #50
@rmandelb sorry, you're right. I was thinking that we can just check if Buzzard matches to HSC dN/dmag, but then, of course, even if it doesn't match, we still don't know whether it is due to insufficient max z or something else.

[2018-01-25 17:29] vvinuv commented on #13
@rmandelb I can't get correct magnitude of the bulge. E.g. I get bulge magnitude of 30.61 for the first object in the file when I used -2.5 * np.log10(I) + zero point of ACS. I don't think it is the correct magnitude.

[2018-01-25 17:31] rmandelb commented on #13
Well, there are some objects that have basically no flux in one component.  Have you compared bulge vs. disk flux (before conversion to mags) to see whether you happen to have gotten an object for which 99.9% of the flux is in the disk, or something like that?

Can you confirm what you are using for the zeropoint of ACS?  There can be issues there because of different zeropoint conventions.

[2018-01-25 17:52] vvinuv commented on #13
![bulgediskfluxes](https://user-images.githubusercontent.com/3307229/35403717-3ea16e3c-01c6-11e8-9dba-5e52c086b17a.png)

@rmandelb Please see the figure uses fluxes of bulge and disk.

I am using ACS F814W zeropoint of 25.95928.

[2018-01-25 17:53] vvinuv commented on #13
Most of the disk and bulge fluxes are in the range of 0.001 to 0.1

[2018-01-25 18:13] drphilmarshall commented on #40
Got it, thanks Andrew. Still, DC3 is going to come around fast, so it's not
at all crazy to spend some closing minutes in a session on punting things
to DC3 and writing them down. Eve, I don't have a preference for where this
should go - maybe the technical session makes more sense, given the
content? But it's up to you.

[2018-01-25 18:19] rmandelb commented on #13
Pretty sure I know what the missing factor is, but in a meeting and cannot test my hypothesis until tonight.  Made a note, will come back to this.

[2018-01-25 19:31] evevkovacs commented on #13
@vvinuv @rmandelb If you are trying to check apparent magnitudes and are using the observer-frame fluxes supplied in protoDC2, you need to be aware that there is a factor of (1+z) which has not been included in the flux. The observer-frame fluxes are just the integrals over the blue-shifted filter bands. (So need an extra correction of -2.5log_10(1+z) to get the magnitudes. Check with Dan)

[2018-01-25 19:54] vvinuv commented on #13
@evevkovacs Good to know that!

[2018-01-25 20:40] evevkovacs commented on #40
Agenda item has been added to T-CS (Thurs 8 am)

[2018-01-25 21:18] janewman-pitt-edu commented on #50
I think we'll be missing >5% of galaxies with a z>2 cut even by i~23 or so...

[2018-01-25 21:49] yymao commented on #65
@evevkovacs It's about time to create a tagged version for Run 1.1. I'd like to merge #66 before I create the tag. Is there anything you'd like to add to #66? If not, I'll go ahead and merge it. If you do, can you let me know when you'll able to push them to #66? Thanks!

[2018-01-25 22:28] msimet commented on #50
This may not be a complete list, but for the WLWG we will definitely need a power spectrum test (eg #35) and an ellipticity distribution test (#14). There was also a suggestion that #14 be done as a function of redshift--I'm not sure yet if that's required or desired, but I wanted to check if you'd consider that a separate validation test, or an implementation issue for the existing ellipticity di

[2018-01-25 22:33] dkorytov commented on #65
I have the Rv and Av ready to go. I think that should be merged in before creating the tag.

[2018-01-25 22:36] yymao commented on #65
@dkorytov can you submit a PR? And again, this should goes to https://github.com/LSSTDESC/gcr-catalogs

[2018-01-25 22:39] evevkovacs commented on #50
It would not be a separate test. I am working on the ellipticity distribution. z ranges can be added in a configuration file. Do you have an idea of what z bins would be of interest? That would be helpful in configuring the plots etc.

[2018-01-26 04:33] rmandelb commented on #13
@vvinuv - actually I was wrong.  I can't find a missing factor, but I'm also unable to reproduce your plot.  The fluxes I get are typically in the range 1-10, not 0.001-0.01, so my mags are quite a bit brighter as is reasonable.

Can you clarify how you made the plot?  I made one just now by using the equation I pasted above, ```flux = 2pi*n*Gamma[2n]*exp(b_n)*q*R_{1/2}^2*I/(b_n^(2n))```, using n=

[2018-01-26 05:53] janewman-pitt-edu commented on #50
@rmandelb : I've gotten back further from my email and seen your pushback directly :)  Yes, we certainly shouldn't compare dN/dm to redshift-incomplete samples.  However, I don't see that as a reason to drop dN/dm entirely but rather as a driver to disregard it where it is irrelevant.

We need to keep in mind though that dN/dmag/dz will only be at all well-constrained (and not that well given smal

[2018-01-26 11:08] slosar commented on #50
@rmandelb @janewman-pitt-edu Ok, so it seems that HSC is deep enough but without z-s and with larger cosmic variance and on the other hand DEEP2 can give some information on redshifts, but is incomplete. So I think there are two ways to generate tests:

 * Try to infer N(z,mag) together with uncertainties where we think extrapolation is dodgy. Use this extrapolated information as a "test data" to

[2018-01-26 14:57] vvinuv commented on #13
@rmandelb I read in the README file and thought the intensity 'I' in the fits file as the flux. It was the mistake. If I calculate flux from 'I' then I will  get the flux in the range you mentioned. Please see the attached plot. However, it will be great if you could send me the script you were using. In the below figure the x-axis label is flux from bulge and the y-axis label is flux from disk.
!

[2018-01-26 21:59] janewman-pitt-edu commented on #50
HSC has much smaller cosmic variance than DEEP2...

I think once you break DEEP2 into differential magnitude bins you're already getting dodgy.  I believe the N(<m, z) constraints much more.

[2018-01-28 22:36] rmandelb commented on #13
I'm sending you the script directly by e-mail so we can make sure that we agree.

[2018-01-29 17:40] evevkovacs opened #68 "Consistency Check for Convergence and Magnification"
Since these are related, we should check that the shears, convergence and magnification are self consistent (within machine precision). The test is that magnification should be satisfy
'1/magnification = (1-kappa)**2 - shear1**2 - shear2**2)'
(kappa = convergence)

[2018-01-29 17:50] rmandelb commented on #68
@evevkovacs - totally minor/irrelevant point but for people new to GitHub, I wanted to point out that you can use quote marks to avoid your math getting reinterpreted as GitHub markdown:
` 1/magnification = [(1-kappa)**2 - shear_1**2 - shear_2**2]`
And for reference to papers, magnification is often denoted mu, just as shear is often denoted gamma.

[2018-01-29 18:32] yymao commented on #68
implemented in #66

[2018-01-30 00:41] #60 closed

[2018-01-30 00:41] #64 closed

[2018-01-30 00:41] #68 closed

[2018-01-30 12:59] rmandelb commented on #7
@yymao @duncandc - There has been further discussion of this test in #50 (see specifically from https://github.com/LSSTDESC/descqa/issues/50#issuecomment-360517640 onwards).  A few outstanding questions:

- as discussed there, we'd like to have some way of disabling this test for catalogs that have redshift cuts such that the N(<mag) calculation is significantly affected.  Can this be implemented

[2018-01-30 13:04] rmandelb commented on #49
@janewman-pitt-edu @sschmidt23 @morriscb - was this test of the stellar mass function in DC2 intended for the photo-z working group?

I hope @yymao will correct me if I am wrong, but my understanding is that the test has been implemented currently without a validation criterion, so we just need a validation criterion to close this issue.  Might PZ be able to supply a validation criterion?  You can

[2018-01-30 13:11] rmandelb commented on #11
@yymao - I wanted to ask you about an update to this test that could address the issue @janewman-pitt-edu raised.  Since Andrew showed that it would be very challenging in DC2 to get a sample to the depth of the LSST gold sample at the lowest redshift range (see discussion in this issue), I think that for the dN/dz test we need to only use the redshift range where the sample is complete down to th

[2018-01-30 14:18] aphearin commented on #11
@rmandelb - I think this generally a good idea. I will just briefly point out that we have made some progress on this faint-end problem since receiving input from @janewman-pitt-edu and @sschmidt23. The plot here shows that we're now pushing down past the previous hard cutoff at Mi=-14 (shown with the black curve to guide the eye). The hard cut in M* is currently what drives the cut in Mi, and it

[2018-01-30 14:47] yymao commented on #7
@rmandelb To answer your questions ---
- Yes, that can be easily implemented.
- We have not made much progress since the Sprint Week (but @duncandc can correct me if that's not the case). I am not sure if there was really a bug in getting dN/dmag from the mocks, or just that the way the validation data is constructed is not consistent with how we do it with the mock.
- Those criteria can be implem

[2018-01-30 14:50] yymao commented on #49
Yes, @rmandelb. This test is already implemented. We need a validation criterion. If the PZ WG would like to provide a different validation data set, we can do that too.

[2018-01-30 14:56] yymao commented on #11
@rmandelb the procedure you proposed is certainly doable. It does require some work to modify the current code.

Given that, I am unchecking the box for "code to reduce mock data" as it still need to be worked out.

[2018-01-30 15:14] evevkovacs commented on #49
@rmandelb @janewman-pitt-edu @sschmidt23 This test was implemented in DESCQA1 and I ported it to DESCQA2 because it was such a basic test. I added the PRIMUS data for the higher redshifts. It wasn't formally requested by any WG to my knowledge.

[2018-01-30 20:12] #65 closed

[2018-01-31 03:57] janewman-pitt-edu commented on #49
No, PZ has little interest in the mass function.  I think it was for LSS.

I would be wary of PRIMUS constraints as the sample is highly incomplete and has a relatively high catastrophic redshift error rate.  Low-z constraints are almost certainly more useful (especially because they can probe below L*).

[2018-01-31 04:32] janewman-pitt-edu commented on #7
The criteria Rachel suggests sounds reasonable to me.

[2018-01-31 04:34] janewman-pitt-edu commented on #50
One follow-up thought: we could implement this as N(<m, z) with a variety of limiting magnitudes rather than as N( m, z) in differential magnitude bins.  I think that'd work better, and we could use the DEEP2 extrapolations (with a grain of salt) to do them.

[2018-01-31 05:05] janewman-pitt-edu commented on #11
It's slightly different as Anze was requesting doing everything in a general framework (but 100% inspired by Rachel's discussion here).  Basically we'd be comparing a particular simulation in a restricted z and magnitude range, but we'd define the test quantity in broader ranges than that (just only use the relevant cells).

[2018-01-31 05:57] yymao commented on #11
@janewman-pitt-edu hmm, they seem the same to me operationally (need to count the number of galaxies in bins of m and z). Maybe I missed something? Or you are suggesting a different to compare with the validation data?

[2018-01-31 11:03] slosar commented on #11
Ok, this looks like we're turning a bit in circles. You count galaxies in bins of m and z and then compare only those bins that you are complete in your test datasets. Once we have more datasets, this will naturally extend to some other bins.

[2018-01-31 15:32] yymao commented on #11
@slosar thanks --- I guess what I am trying to figure out is how to compare with data, or, more specifically, how to normalize the counts in bins of mag and z and how to define the validation criteria.

I think what you are saying is just do number of galaxies per sky area, in bins of mag and z. I thought Rachel's suggestion was to look at P(z) for z > z*, where z* is the redshift above which the

[2018-02-01 01:15] rmandelb commented on #9
@erykoff @j-dr - I wanted to bring your attention back to this validation test of the conditional luminosity functions of satellites and centrals.  We had established that Eli will rerun redmapper on protoDC2 once @aphearin says it's ready to go (not yet!) but while we are waiting for the updated protoDC2 catalogs, I'd like to address a few remaining questions:

* Should this be considered a requi

[2018-02-01 01:23] rmandelb commented on #12
@adam-broussard - have you been able to successfully access the emission line data?  If you are actively working on this, perhaps you could summarize the status of what you are doing?  In the issue page, I have not yet seen a concrete suggestion for how the validation test will be carried out, what validation dataset will be used, etc.

[2018-02-01 01:30] rmandelb commented on #42
@patricialarsen - I wanted to touch base with you about this validation test.  A few questions:

1. You mentioned that this test is for lensing as well as for IAs.  If so, I think it would be worth splitting into two tests because they are testing rather different things for which our validation criteria will differ quite a bit.  Do you agree, and if so, could you think about the proper split to m

[2018-02-01 01:36] EiffL commented on #42
@rmandelb I'm working on this test, with an ETA by the end of the week.
My understanding was that the shear-shear correlations for lensing were already in at an advanced stage in https://github.com/LSSTDESC/descqa/pull/54 but I can't seem to find the associated issue...

[2018-02-01 01:37] rmandelb commented on #63
@j-dr @erykoff - I wanted to touch base with you about this validation test of cluster member galaxy radial profiles that Joe opened.  In the conversation on this thread, two approaches were discussed:

1. Measure radial profiles of galaxies in clusters (running redmapper on the catalog first).  Some care would be needed to select a validation dataset.

2. Use color-dependent clustering validated

[2018-02-01 01:39] rmandelb commented on #41
@erykoff @j-dr - can you please return to this issue of red sequence color validation?

In particular, we need to converge on:
- an approach to validation in detail - what calculations need to be run?  (I gather Eli may have run redmapper and done some plots comparing colors against DES using code external to DESCQA?)
- who is implementing this within DESCQA?
- what is the validation data?  Can we

[2018-02-01 01:45] rmandelb commented on #40
It would be good if we can converge on this color-magnitude diagram test.  I believe that PZ is likely to be the primary driver for this one (particularly now that the cluster red sequence test has been split off into a separate issue #41 ).

So far we have seen two approaches:
1. The plots that @DouglasLeeTucker shared, which were traditional color-magnitude diagrams (no validation data, just loo

[2018-02-01 01:46] rmandelb commented on #15
@yymao - might this test be superceded by #40 and #41 ?

[2018-02-01 01:56] rmandelb commented on #42
Thanks Francois.  What about #35 ?  That one is kind of confusing: the issue title says it's for IA, but the plots are the lensing correlations.  Does #35 or this issue have an incorrect title?  We should try to label these clearly as to whether they are lensing or IA tests.

[2018-02-01 01:57] rmandelb commented on #42
(please read above comment in github, I fixed an important mistake)

[2018-02-01 02:02] EiffL commented on #42
Yes you're right, I think #35 is the correct issue for the lensing test that @patricialarsen has coded up, it's not using wlpipe though at this stage, that's what got me confused, sorry. I agree, we can update the names of these issues to be more explicit

[2018-02-01 02:03] rmandelb commented on #49
@slosar - can you confirm whether LSS would like to have a validation test of the stellar mass function for DC2?

If no, then I think we can safely dispense with this validation test for DC2 since it's not needed to support any working group's goals.  If yes, then we need to define validation criteria etc.

[2018-02-01 02:22] janewman-pitt-edu commented on #49
Just a note -- if we don't do a stellar mass constraint (and I'd be happy not to, as unlike magnitudes stellar masses are not directly observable but rather rely on models/assumptions to infer), we do want to have some sort of dN/dmag or dN/dz test to make sure the numbers of objects are sane.

[2018-02-01 02:24] rmandelb commented on #49
Yes, I agree.  I don't believe there is any thought that the dN/dz or dN/dmag test will disappear (despite the fact that the exact form of these is still being finalized).

[2018-02-01 02:54] yymao commented on #42
@EiffL @rmandelb I believe you both have the permission to edit issue titles. Please do when you see fit.

[2018-02-01 02:57] yymao commented on #49
Given that this is not a required test and it is already implemented (though without validation criteria). We can probably close this issue. Do you agree @rmandelb?

[2018-02-01 02:59] yymao commented on #15
It might be. I put a "not required" label on this now, but @janewman-pitt-edu can confirm.

Also, this test is inherited from DESCQA v1 and I think @rongpu is working on it. We can check with @rongpu and see if he's interested in helping out on #40 and #41.

[2018-02-01 03:02] yymao commented on #8
According to @patricialarsen, I think we can close this since it will be covered in #35.

@patricialarsen @rmandelb Feel free to reopen if you disagree.

[2018-02-01 03:02] #8 closed

[2018-02-01 03:23] janewman-pitt-edu commented on #40
I think even (2) is problematic right now: it really needs to be a comparison of equivalent apparent-magnitude-limited or volume-limited (i.e. with a absolute magnitude limit where SDSS is 100% complete for all colors and the whole redshift range) samples to make sense.  Otherwise the relative weightings of red vs. blue galaxies as a function of absolute magnitude will be thrown off by the r band

[2018-02-01 03:26] janewman-pitt-edu commented on #15
I would say definitely not superseded by #41 (which only tests a narrow range of SEDs); and probably not superseded by #40 (because it should be equivalent in conclusions, but is simpler to implement).

[2018-02-01 03:28] yymao commented on #40
Just a technical side note: we can certainly have tests that generate plots but do not have specific criteria, as long as the test is not required by a specific scientific purpose.

[2018-02-01 03:32] janewman-pitt-edu commented on #40
Then having the CMD plots would be great :)

[2018-02-01 04:11] janewman-pitt-edu commented on #11
I think we want to:

1) do the analysis for integral bins in magnitude (i.e. m < X), not differential bins in magnitude (A < m < B).  That is tied down better by the data than differential bins.

2) have both minimum and maximum redshifts for any given comparison.  Most observational samples will have an effective z limit.

I agree this is all delving in the details.

[2018-02-01 04:36] aphearin commented on #40
Another advantage of (2) is that it allows much more target/focused testing for catalog producers. For example, it is possible that the r-band LF is incorrect while Prob(g-r | Mr) is correctly captured by the model. That is quite useful information for a catalog producer. The formulation of test (2) could be done such that the g-r comparison is only done on matched distributions of Mr. A separate

[2018-02-01 04:42] janewman-pitt-edu commented on #40
They're very clearly not volume-limited.  A volume-limited sample would have a hard cut (maximum) in M_r, and be dominated by number by objects near the faint cut.  Note that to design a volume-limited sample for redshifts z1 < z < z2, you want to set the absolute magnitude limit such that objects of all colors are included at that limit in a z > z2 sample (as that limit corresponds to objects tha

[2018-02-01 04:55] aphearin commented on #40
I am referring to the purple vs. green histograms, in bins of r-band labeled at the top of each panel. I did exactly as you just described to make these plots. How can you see from the purple and green histograms that these distributions are clearly not volume limited? I do not follow.

[2018-02-01 04:59] janewman-pitt-edu commented on #40
Those don't tell you about if it's volume-limited (but if one sample effectively is and the other effectively isn't then that alone would cause differences).  Absolute magnitude doesn't get plotted in them, after all... I'm looking at the 2D plots of color vs. absolute magnitude.

[2018-02-01 05:04] aphearin commented on #40
It's true that the purple vs. green histograms don't self-express that they were made using volume-limited samples. But they were indeed made using volume-limited SDSS samples, again, using the exact prescription that you described.

[2018-02-01 05:08] janewman-pitt-edu commented on #40
So the 2D plots are not the same samples?  They don't look volume-limited (for the reasons I mentioned).

[2018-02-01 05:14] j-dr commented on #63
I think color-dependent clustering is the way to go. It has the important benefit of having readily available validation data and doesn't require running redmapper (although I think we're going to have to do this for at least one other test anyways).

The test that @aphearin has implemented should do just fine. It might be useful to also include a higher redshift measurement, e.g. from [0708.0004]

[2018-02-01 05:28] j-dr commented on #41
I think this actually supersedes #40 for CL. It's going to be a lot of extra work to write a test for this that isn't just comparing the red-sequence as inferred from redmapper to either DES or SDSS if @erykoff thinks that we can't use the DES data. Unless there are strong objections, I think we should go with the redmapper-centric test.

I already have some code to make these comparisons that I c

[2018-02-01 05:36] aphearin commented on #40
Ahh, I see the confusion then, which comes from my not having provided sufficient information about how I generated the plots (which were just "status updates", after all). Nope, those are different samples, and you are correct that they are not volume-limited. The 2-d scatter plots with the blue points were selected/matched based on stellar mass, not for any particularly good reason, other than t

[2018-02-01 05:39] janewman-pitt-edu commented on #40
Ah, that might explain why the blow up in SDSS r-i colors for one abs. mag. bin doesn't show up so clearly in the 2D plots...

[2018-02-01 06:12] j-dr commented on #9
@rmandelb, to address your questions:

- I think this should be required, but we can make the criteria relatively lax because there are a lot of things to worry about here.
- I'm not sure what the alternative to using true halo mass is. For instance, if we use richness bins, then the amplitude of the satellite LF is guaranteed to match the data. @erykoff and @erozo probably have thoughts about pos

[2018-02-01 19:40] erykoff commented on #9
So @j-dr and I just chatted about this.  The first thing is about Joe's point 1.  Looking at the protodc2 plots above the centrals are too bright compared to the satellites (making centering too easy/optimistic) and for buzzard too faint (making centering too difficult/pessimistic).  However, the absolute luminosity doesn't matter as much as the relative luminosity.  The ratio of the integral of t

[2018-02-01 19:44] erykoff commented on #41
I think it should be fine to compare against DES data from year 1, I'll confirm this.  As @j-dr says the most important thing is the scatter in the red sequence, and secondarily to this the slope in the color-redshift relation.  (If it's flat, it doesn't matter how tight the scatter is, you can't measure redshifts).  The overall color doesn't matter, nor do the exact positions of the filter transm

[2018-02-01 19:55] EiffL commented on #62
@yymao @fjaviersanchez If I understand what we just said in the SSim meeting, this issue was opened with essentially the same intention of testing the generated images.
I have played around with that a little bit, I can generate instance catalogs and produce an eimage with imsim, but then I got stuck when trying to analyse the images with the DM stack. The first issue is that I'm very new to the D

[2018-02-01 20:43] fjaviersanchez commented on #62
@EiffL what I was thinking for DC2 was to add a GCR reader for the e-images and add some tests in DESCQA for those images. For the validation of the DM processed catalogs/images there are some tools already in DM that @jchiang87 was testing and on which he'll report tomorrow. However, more validation tools will probably be needed. I have a notebook that reads an image and processes through DM, I c

[2018-02-01 20:45] aphearin commented on #40
It's good we clarified what was being plotted, since that was a source of confusion that I had forgotten to fill in. Now that that's clear, maybe we should return to the question posed by @rmandelb that got us here originally.

Since Prob(A, B) = Prob(A | B)*Prob(B), then there is mathematically no distinction between the two, it's just a matter of what is easier to implement, and what is easier t

[2018-02-01 23:58] yymao commented on #62
Agreed that there can be multiple validation tools, even for the same data set. I think DESCQA would be particularly useful for users who are not familiar with the technical details of the data sets, since they can just browse the validation outputs to get a sense of what's going on. It's also useful for quick sanity checks.

[2018-02-02 05:10] janewman-pitt-edu commented on #40
I had already voiced an opinion on this but maybe wasn't clear -- we'd need to define new statistics and methodologies for (1), whereas (2) is a close analog of the color test already implemented.  This makes (2) a lot easier.  The (1) plots are very informative though so having them displayed but not associated with a test makes a lot of sense to me.

[2018-02-02 19:55] rmandelb commented on #40
OK - so far what I am hearing is:

- We show the 2D plots (approach 1) for informational purposes.
- We impose validation criteria using the 1D plots (approach 2).

What we need are:
1. *quantitative validation criteria*: @janewman-pitt-edu , do you have any thoughts on this?
2. *code that is integrated into the DESCQA framework*: unless @yymao or @aphearin tells me I'm wrong, and it already is in

[2018-02-02 19:58] rmandelb commented on #41
@j-dr -

That's fine, but other groups still want #40 so we can't drop it (sadly).  I will, however, try to remember not to bother you in that one!

@erykoff -

Thanks for checking.  I think the approach we should take will depend on the answer to this; do you think you'll know by mid-next week?  That would enable implementation on hack day. (might one of you be interested in doing that?)

[2018-02-02 20:13] rmandelb commented on #9
Hi @j-dr and @erykoff -

Your reasoning for why this is important to have as a required test (but then not being super stringent) makes sense to me.

One thing I want to note is that @aphearin is updating protoDC2, but there will be cosmoDC2 in the not-too-distant future, so these tests that involve running redmapper imply two redmapper runs (not just one).  Hopefully not a problem, but I wanted t

[2018-02-02 20:25] rmandelb commented on #63
@j-dr - it's true that we'll have to run redmapper for another test.  But I think this color-dependent clustering test is quite useful and it'll help other groups as well.

I like your idea of having a higher redshift data point.  Figure 9 in the paper you linked to might be the one to use.

Let me suggest that since others may be interested in this, we implement the test such that fainter luminos

[2018-02-02 20:26] rmandelb commented on #49
@yymao - I agree.  People can look at the plot, and that's it - we are done.  Thank you!

[2018-02-02 20:26] #49 closed

[2018-02-03 01:02] evevkovacs commented on #14
@rmandelb Sorry this one got lost in my email stack. Yes, I mostly need  validation criteria. I'll try to have some example distributions by next Thursday, but have been working on the new protoDC2 as well, which is also time critical.

[2018-02-03 17:21] aphearin commented on #40
@janewman-pitt-edu - it would be quite helpful to me if you or someone in the photo-z group could implement the behavior of the following function:

[code]
The two arguments are Absolute petrosian r-band magnitude limits in SDSS Main Galaxy Sample DR7. This function plays a central role in how DC2 colors are assigned, and I am pretty sure the same is true for @j-dr with the Buzzard catalogs. My cu

[2018-02-03 19:21] janewman-pitt-edu commented on #40
Deriving those quantities accurately is pretty non-trivial as you'd need to kcorrect the rest-frame colors to every possible z to do it right (calculating the limits for each galaxy and then using the most extreme values to set the overall limits).  I also don't think the results would be so different from doing the cuts by eye so long as you err on the side of being conservative (and make sure to

[2018-02-03 19:27] janewman-pitt-edu commented on #40
i.e.: For a color test, you just need to make sure it's an apples-to-apples comparisons.  They could be any of a variety of apples (volume-limited, 1/Vmax weighted, simple magnitude and redshift cuts, or whatever) so long as both apples are of the same type (and both datasets are complete enough to do the chosen comparison).  You might as well just choose some simple cuts that you are confident wi

[2018-02-04 21:56] rmandelb commented on #14
Thanks for clarifying, Eve.  I am sure the weak lensers can provide some validation criteria; it seems likely we would just want to have rough tests of percentile values (i.e., the |e| values for say the 16th, 50th, and 94th percentile) so that we know the distributions are sensible.  However, it may be best if we can see what the plots look like before deciding on the exact form of the test.

I c

[2018-02-05 03:51] rmandelb commented on #40
I would be too.

I would like a goal-driven validation criterion that starts with our science goals (what analyses do we plan to do for DC2, in order to learn various things about our analysis pipelines?).  Given those goals, what level of agreement is needed between simulations and data?

For example, when defining validation criteria on the N(<limiting mag), we use our goal of having *roughly* r

[2018-02-05 04:10] janewman-pitt-edu commented on #40
As I recall, for DESCQA1, we defined things in terms of the RMS distance of the CDF of colors in the simulation from the true (data) CDF (this is related to the Cramer-von Mises statistic for differences between distributions).  The goal given in the DESCQA1 paper was 0.05, but that's a somewhat arbitrary number (chosen in part by what seems achievable in the near term).  I'd say excellent agreeme

[2018-02-05 14:56] aphearin commented on #40
Ok @janewman-pitt-edu, this is actually very similar to what I am already doing, so if you and @rmandelb are happy with eyeball-level estimates of SDSS completeness, then I am too.

This highlights a difference between end-user tests of a final catalog vs. tests for catalogs that are in-production. Since the theoretically natural way to *build* models of the galaxy--halo connection is using snapsh

[2018-02-05 16:39] janewman-pitt-edu commented on #40
We can look at the statistics of the distribution using the DESCQA tools, I imagine, but those are looking like a closer match than Buzzard was (which should have matched colors by construction, I would have thought, but didn't quite).

[2018-02-06 03:19] adam-broussard commented on #12
Hi @rmandelb !  I apologize for the late response - I was preoccupied with a proposal which was due at the end of last week and had to stop work on this project for a bit.  We have some ideas of plotting the equivalent width distribution and comparing to observations, but nothing is solidly formed just yet.  Give me a few days this week to get everything in a row and I'll report back in by Thursda

[2018-02-06 16:54] patricialarsen commented on #42
@rmandelb yes, I can confirm that #35 is the right issue for the lensing test, and this is the IA test. It was an early confusion between the two when the issue titles were made. These are definitely two separate tests. I'll respond to your other question on the correct issue to try to avoid confusion.

[2018-02-06 17:01] patricialarsen commented on #35
In response to @rmandelb (comment below)

The main difference between the shear-shear validation test plots and @chihway's plot is that the theory she used was from WLPipe. It would be great to incorporate that theory, but it's not in the descqa environment on nersc so I'm using a simpler theory code based on the camb module that is in the environment. We could try to get it installed properly but

[2018-02-06 22:38] msimet commented on #50
Another pair of required tests from the WLWG: galaxy size distributions and galaxy position angle distributions (assuming our ellipticity distribution test is for |e|, not e1 and e2).  We're working on validation criteria now.

[2018-02-07 20:21] evevkovacs commented on #50
There is size-magnitude test under development.
See https://github.com/LSSTDESC/descqa/issues/13
Galaxy position angles are randomly assigned. See position-angle distribution in readiness tests: See https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-30_4&test=readiness_protoDC2

[2018-02-07 20:31] yymao commented on #50
@msimet does the galaxy size-magnitude test satisfies the WL WG's need in terms of validating the galaxy size distributions? If not, can you suggest a more direct test?

@evevkovacs It is true that the *current* galaxy position angle distribution in protoDC2 is just a uniform distribution, but that doesn't mean that it satisfies the WG's need and we don't need a validation test for it. @msimet wha

[2018-02-07 20:37] evevkovacs commented on #50
@yao @msimet  Yes thanks for clarifying. My comment was meant to be a starting point for discussion, not an answer to the issue!  In addition to validation criteria, we would also need a validation data set for whatever test you are proposing.

[2018-02-07 21:03] msimet commented on #50
For position angle, we don't need anything more complicated than a KS test comparison to a flat distribution.

I'm not sure about the size-magnitude test--was the plan for a full distribution of sizes as a function of magnitude, or just something like the mean?  We care about the small-end slope of the size distribution (because it determines the effect of our selection function) and also that siz

[2018-02-07 21:27] rmandelb commented on #50
@yymao - the position angle distribution test is meant as more of a bug test - it should be flat.  If you feel that sufficient bug checks have been carried out that this is unnecessary, please let us know.

You should check out #13 for what's been discussed so far re: size/luminosity.

[2018-02-07 21:42] yymao commented on #50
@rmandelb I don't think there is unnecessary checks, and bug tests are very important tests 🙂. This one is easy to implement, so let's just do it. We can open a new issue for checking position angle distribution.

[2018-02-07 23:35] msimet commented on #13
Can I ask for some more details on what you'll be computing for this test? The description I see is

(which was answered in the affirmative). Is this simply computing the mean relation, or will you be looking at the scatter/full distribution at fixed luminosity as well? I'm assuming it's the former, but I wanted to check. And if I missed this info please feel free to just point me there, sorry. Th

[2018-02-07 23:41] yymao commented on #13
@msimet [See here for an example of this test](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-01-08_8&test=size_vanderWel2014_SM_Lum). Also, some discussion on the implementation can be found in #56.

[2018-02-07 23:58] msimet commented on #13
Excellent, thank you very much!

[2018-02-08 02:51] vvinuv commented on #13
@msimet I think this test is computing the average size - magnitude/luminosity relation and scatter in the size as a function of redshift . May be you could compute the distribution of size at a fixed luminosity. It is all in the Rachel's COSMOS catalog and in the mock catalog.

[2018-02-08 03:29] msimet commented on #50
To answer the earlier question @evevkovacs - we probably don't need anything finer than the tomographic bins will be; I'm told a good proxy for this would be 5 (1st year) or 10 (10th year) bins in redshift with approximately equal number of objects in each bin.

I think the existing size-luminosity test has some of the information we need, but not all of it; we also want a straight-up dN/dsize so

[2018-02-08 05:02] evevkovacs commented on #50
Excellent.  If you are at hack day, I can point you to some test examples that will help with this.

[2018-02-08 05:14] msimet commented on #50
I'll be there in the morning, so I'll definitely try to find you before I have to leave, thanks!

[2018-02-08 16:25] yymao opened #72 "A new test result category: "for reference""
To create a new test result category "for reference" (needs a fancier name), for tests that may generate plots and outputs but do not intend to implement specific validation criteria, and not sensible being called passed/failed.

[2018-02-08 19:07] adam-broussard commented on #12
@evevkovacs Eric emailed me to say that I could pull the SED data from the GCR, and that they are named according to 'SED_l1_l2' where l1 and l2 are the starting and ending wavelengths respectively.  I am seeing values such as 'sed_1000_246' - is it that this is instead the starting wavelength and the width (or something similar)?  Also, can you tell me what the units are on these values?  Thanks!

[2018-02-08 22:09] duncandc commented on #7
![i_band_dn_dmag](https://user-images.githubusercontent.com/6446905/36000873-48b8e116-0cd9-11e8-9b5c-43de37ad9fde.png)

I am testing my calculation of dn/dmag.  Here is a comparison between my calculation and the result in the HSC data release paper.  This suggests that there is a problem with the test.  But for the life of me I can not find the problem.  Particularly confusing is the offset in th

[2018-02-08 22:32] yymao commented on #7
@duncandc is there any chance that there's a missing 5*log(h) ~= -0.77?

[2018-02-08 22:32] duncandc commented on #7
apparent magnitudes don't scale with h, right?

[2018-02-08 22:34] yymao commented on #7
no, i don't think they do

[2018-02-08 22:34] duncandc commented on #7
everyone should feel free to take a look at the notebook in my desqagen branch of my fork.  https://github.com/duncandc/descqa/tree/descqagen/descqagen/app_mag_func_test

[2018-02-08 22:43] evevkovacs commented on #12
@adam-broussard  l2 is the width of the tophat filter, not the ending wavelength.
For units see Andrew Benson's comment above: "The emission lines are in units of Solar luminosities (3.839e26 W). So, to get equivalent widths you should just need to convert the continuum L_nu to L_lambda, and then take the ratio."

[2018-02-08 23:12] evevkovacs commented on #7
Apparent magnitudes have a contribution from the luminosity distance 5*np.log10(dl)+25 which assumes dl is in Mpc. But the catalog providers take care of this. What about magnitude definitions? Catalog fluxes are converted to magnitudes in the AB system. Does this match the definition in Hiroki et al?

[2018-02-08 23:15] yymao commented on #7
@evevkovacs the most recent plot @duncandc showed is comparing the HSC data with HSC paper plot. So there seems to be something going on in Duncan's data reduction but we haven't figured out what it is.

It does seem that the dN/dmag is the HSC paper is closer to the catalogs'

[2018-02-08 23:31] rmandelb commented on #7
I think I see the problem in the notebook.  YOu have a variable representing the full area, but you seem to have assigned its value based on the area of just 1 region:
[code]
So your "full area" is too small by a factor of ~5.  You later use this area to normalize densities for the whole catalog.

[2018-02-08 23:49] duncandc commented on #7
![diff_app_mag_func](https://user-images.githubusercontent.com/6446905/36004411-76b53156-0ce7-11e8-973f-ceba1834bdf0.png)

@rmandelb, that mostly does the trick.

[2018-02-08 23:50] egawiser commented on #12
@evevkovacs great - does that make l1 the central wavelength of the tophat filter, or was I correct that it's the starting wavelength?  And I think Adam was asking what kind of L_nu units the continuum values are in.

[2018-02-08 23:51] yymao commented on #12
it's the start and width.

[2018-02-08 23:51] abensonca commented on #12
L_nu is in units of 4.4659e13 W/Hz

[2018-02-08 23:52] egawiser commented on #12
Awesome.  Thank you all!

[2018-02-09 00:01] duncandc commented on #7
![err_plot](https://user-images.githubusercontent.com/6446905/36004781-59dfeab0-0ce9-11e8-9a45-eecf86141d2d.png)

We are now about 20% higher than the data release paper.  It would make me nervous if this is in the realm of details of magnitude types and flags used to mask the data...

[2018-02-09 00:07] rmandelb commented on #7
Is this protoDC2 or Buzzard that is below the data release paper?

[2018-02-09 00:10] rmandelb commented on #7
To be clear, the reason i ask is that we know about a few effects:
- in both sims, at low redshift, there are missing galaxies beyond some luminosity limit (and I don't remember what magnitude that would affect, but I believe it was @aphearin who showed some relevant plots on this)
- in protoDC2 (but not Buzzard) we are missing everything about z=1

Both of these effects have the right sign at lea

[2018-02-09 00:11] duncandc commented on #7
Although, it just occurred to me that I got these points from plot digitizer... so I don't know how much trust we put in my steady hand...

[2018-02-09 00:12] duncandc commented on #7
This is a comparison between my measurement of dn/dmag and the data presented in figure 16 in Aihara+ 2017 (https://arxiv.org/abs/1702.08449).

[2018-02-09 00:13] rmandelb commented on #7
Well, I would be comfortable at this point going back to your dn/dmag estimate from HSC vs. the sims...

[2018-02-09 00:55] duncandc commented on #7
![unknown](https://user-images.githubusercontent.com/6446905/36006249-b6f85dc0-0cf0-11e8-8f15-2545cace706a.png)

replace "spring week 2018" with "collaboration meeting 2018"!

better, but not exactly good...

[2018-02-09 00:58] adam-broussard commented on #12
That is indeed what I was looking for - thank you for the clarificaiton, Eric!  It is also useful to know that these are L_nu rather than F_nu as I probably would have assumed that they were fluxes naively.  I will work on this and have an equivalent width distribution posted tonight or tomorrow morning.

[2018-02-09 04:10] rmandelb commented on #7
Is the legend really correct?  I believe the number counts in HSC should really flatten out beyond i~26, but the green points labeled HSC keep rising all the way to i~30.

[2018-02-09 05:03] fjaviersanchez commented on #62
@EiffL do you already have any code in this repo to ingest and check images?

[2018-02-09 16:36] adam-broussard commented on #12
Here is what I have found for the equivalent width distribution around a redshift of 1 (although I can do it for others).  I am still searching out a paper which plots the equivalent width distribution for some redshift range.  The closest I have been able to find is [Marmo-Queralto et al. (2016)](https://arxiv.org/abs/1511.01911) which deals with the *average* H-alpha equivalent width as a functi

[2018-02-09 16:45] yymao commented on #7
@rmandelb I believe that is @duncandc's fit.

[2018-02-09 16:59] duncandc commented on #7
That is correct @yymao and @rmandelb.  I have fit a power law to to extrapolate HSC.  That was part fo the original test proposed at the sprint week.

[2018-02-09 19:13] rmandelb commented on #7
OK.  Well, I think the suppression at protoDC2 beyond i=23 has to do with the z=1 limit, which is particularly important there.  I had made a suggestion somewhere for how to account for this (basically taking the DEEP2 dN/dz for mag-limited samples, and using that to "correct" for missing galaxies), but perhaps for now we should do comparisons with Buzzard?

Also, can you by default have a separat

[2018-02-09 20:34] evevkovacs commented on #12
This is a great start. Can you make the same plot for protoDC2 (eg pick z> .9) for comparison?

[2018-02-09 23:31] nsevilla commented on #40
Hi all, just joined this DESCQA effort, thanks to @evevkovacs @duncandc for your help. Posted this here as it is related to color distributions.
As an exercise for myself during the hack day, I implemented within the descqa class framework a trivial g-r vs r-i color distribution 'plotter' and simple photo-z calculation using scikit-learn using protoDC2 data. I believe even though photo-zs can be d

[2018-02-10 05:28] evevkovacs commented on #40
@nsevilla Thanks very much, I think that looks good. Have you tried running on another catalog besides protoDC2 (eg there is a Buzzard test catalog that would be good to try)?

[2018-02-10 16:22] nsevilla commented on #40
Not yet @evevkovacs but will do.

[2018-02-11 03:40] janewman-pitt-edu commented on #12
I think there's ~0% chance [OIII] should generally be as strong as H alpha.  The plot looks suspicious to me... E.g. in Moustakas et al. 2005, H beta fluxes are typical ~1/3 as large as H alpha, and [OIII]/H beta ratios span ~1/3 to 3x .

[2018-02-11 03:44] janewman-pitt-edu commented on #40
@nsevilla That certainly looks related to Peter Freeman's results.  I'm assuming here you ran the photo-z with no magnitude errors applied to the simulated photometry (which is what led to the strongest signatures of the simulation slices)?

[2018-02-11 04:01] janewman-pitt-edu commented on #7
We could certainly look at dN(<m)/dmag and correct using the DEEP2 dN/dz estimates... then differentiate to get dN/dmag... it's better than nothing, at least.

[2018-02-11 15:04] egawiser commented on #12
@janewman-pitt-edu thanks for processing this through your well-trained neural network!  I think the paper you mean is this one?  http://adsabs.harvard.edu/abs/2006ApJ...642..775M  That's low-redshift but does claim agreement with some z~1 observations.  We know that [O III] gets much stronger at high redshift vs. [O II], and that should means it gets somewhat stronger vs. Ha, as reflected in this

[2018-02-11 19:56] janewman-pitt-edu commented on #12
There's not much evolution in BPT diagrams by z~1 (especially for L* galaxies) -- things shift to lower metallicity at higher redshifts than that (the [OII] EW distribution is pretty invariant from redshift at z=0.8-1.4 as I recall, by the way).

I'd suggest looking at histograms of [OIII]/H alpha, [OIII]/H beta, and [OIII]/[OII]; that should show immediately if [OIII] is too tied to H alpha, for

[2018-02-11 20:31] nsevilla commented on #40
Indeed @janewman-pitt-edu , as I found out during the implementation, @morriscb had already shown a similar thing (more sophisticated photo-z code). This is just me trying to get it implemented in descqa, though not terribly original. Mags I believe do not have implemented any errors at this stage, they are mag_{ugriz}_lsst, but not sure.

[2018-02-11 20:42] janewman-pitt-edu commented on #12
PS Yes, that's the right paper.  I found it via arxiv where the date was 2005.

[2018-02-11 21:30] janewman-pitt-edu commented on #12
In case it's helpful, I've compiled plots for the [OII]/[OIII]/H beta flux ratios for DEEP2 galaxies (there's a limited redshift range where we can get all of these lines), as well as the [OII] EW distribution.  I've produced plots of the ratios, etc. as a function of z (where dependence is weak and may just be due to the R=24.1 limit corresponding to more luminous objects at higher redshifts), as

[2018-02-12 02:28] evevkovacs commented on #40
@nsevilla That's correct, there are no mag errors.

[2018-02-12 16:03] adam-broussard commented on #12
I have generated the plot for z = 0.5 but unfortunately I am getting the same results.  I have also included a histogram showing the distribution of different equivalent width ratios, which seems to show that [OIII]/[OII] and H-alpha/[OII] EW is approximately 10, but H-alpha/[OIII] EW is approximately 1.

![ew_dist_z0 5](https://user-images.githubusercontent.com/33520634/36106060-4525fb8e-0fe4-11e

[2018-02-13 04:29] janewman-pitt-edu commented on #12
Yeah, that's definitely not right. [OIII] should generally be less than [OII], not 10x higher, based on the real data.

[2018-02-14 18:49] yymao commented on #7
@duncandc now that you have fixed the normalization issue, can you update PR #46 and #47 (together with Rachel's suggestion of adding a ratio panel in #47)? Once you update the PRs, I'll review and merge (if there's no further issues) them.

Also, do you have access to the DEEP2 validation data?

[2018-02-14 18:50] yymao commented on #9
@j-dr @erykoff can you confirm that it is true that we need to run redMapper for this test to be useful? If so, I think we should wait for the updated DC2 catalog and then revisit.

[2018-02-14 20:20] yymao commented on #12
@adam-broussard I see that you have made much progress on this. Do you think it is useful to create a test in DESCQA, basically porting what you have done into the framework? I can offer help, of course.

Also, how should we validate the results? @janewman-pitt-edu mentioned some potential validation data from DEEP2. Should we use them to compare with the catalog result when we implement this test

[2018-02-14 20:21] aphearin commented on #10
Yes, I agree this should be a separate test. I am happy to share my (Halotools-based) code for this purpose, although it is based on snapshots with xyz coordinates.

[2018-02-14 20:23] yymao commented on #63
@j-dr @aphearin @rmandelb should we rename this test to color-dependent galaxy clustering? Or open a new issue for color-dependent galaxy clustering?

I guess the answer depends on whether or not we still need to test radial profile of red-sequence cluster members. I think this requires redMapper, right?

I propose we open a new issue for color-dependent galaxy clustering, and keep this one focusi

[2018-02-14 20:25] j-dr commented on #63
Yeah, I think we should just open a new issue for color dependent clustering. I don't think we currently plan on testing radial profiles aside from what will be implemented there, at least for DC2, nevertheless I think it's good to keep these issues very specific.

[2018-02-14 20:26] yymao commented on #11
I think we have come to some agreement on how to implement the criteria given the above discussion.

@evevkovacs what's the current status of this test? Are you actively working on it or should we find help? If you are currently working on it, can you provide a status update? Thanks!

[2018-02-14 20:27] j-dr commented on #10
I also agree that color dependent clustering should be a separate test. Can't we just repurpose what @vvinuv has done for magnitude dependent clustering since that is already implemented on lightcones which is what we really want to test at the end of the day?

[2018-02-14 20:31] yymao opened #73 "color-dependent galaxy clustering"
As discussed in #10 and #63, we'd like to make sure the catalog has reasonable color-dependent galaxy-galaxy clustering signals.

This should be relatively easy to implement: we can use the current galaxy-galaxy clustering and just implement color-selection. We can use SDSS data as validation data. Validation criteria TBD.

- [x] code to reduce mock data
- [x] code that works within DESCQA framewo

[2018-02-14 20:38] vvinuv commented on #10
@j-dr you could repurpose the code since it is already implemented on light
cone.

On 14 February 2018 at 14:27, Joe DeRose <notifications@github.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-02-14 20:38] yymao commented on #13
@vvinuv just want to check the current status of this test. Last time I checked this test only takes Buzzard.  Are you now switching the validation data to COSMOS so that we can compare protoDC2 as well? If so, can you update PR #56 to reflect the new changes? Thanks!

[2018-02-14 20:42] vvinuv commented on #13
@yymao I wrote the validation test (didn't a working version yet) a few days ago and because of some other commitments I will be able to do after two days.

[2018-02-14 20:43] yymao commented on #14
@evevkovacs just want to check in to see if you need help on this test. I understand that you have been working on many things right now so I'd like to share your workload if possible. If it makes sense, I can find someone (or find myself) to implement this test since it is relatively straightforward. Let me know what's the current status.

[2018-02-14 20:45] yymao commented on #41
@j-dr @erykoff can you confirm if this test is also one that requires redMapper run?

[2018-02-14 20:47] yymao commented on #42
@EiffL, you mentioned above that you are working on this test. Can you give us an update?

@patricialarsen, are we happy with the theoretical prediction that @jablazek made as the validation dataset?

[2018-02-14 20:51] j-dr commented on #41
Yes, it does. Redmapper is already run on the current version of protodc2, but it will need to be run again once the updated protodc2 is made available.

[2018-02-14 20:56] yymao commented on #40
@aphearin @janewman-pitt-edu @rmandelb @rongpu @nsevilla @morriscb

OK this is another thread that we have lots of discussion and haven't reached a concrete plan. Let's try again:

1. I think we all agree that color-magnitude diagrams are nice to see, but not easy to compare with validation data sets. So we'll keep this issue, but remove "need validation data" and add "not required".

2. We need a

[2018-02-14 20:58] yymao commented on #15
Per our discussion in #40, I relabeled this test to be "required".

@rongpu are you still working on this? Can you give us a status update?

[2018-02-15 03:40] janewman-pitt-edu commented on #40
Color-color would be nice to match (there is at least empirical data for that) but it's not easy to define a good metric for comparing 2D distributions, so I would hold off on requiring that.  The photo-z test doesn't really have a quantitative QA goal, but plotting it is a useful way of seeing if the k corrections to redshifts in between those of the slices are working right.

[2018-02-15 03:47] yymao opened #74 "color-color diagram"
As discussed in #40, we open this issue to discuss implementing a color-color diagram test in DESCQA. According to @janewman-pitt-edu this would not be a required test but it would be nice to have for visual inspection. (cc'ing @morriscb @sschmidt23)

@nsevilla, it seems to me that you have implemented this test to some extent. Will you be able to port it into DESCQA? Let me know if you need any h

[2018-02-15 11:54] nsevilla commented on #74
Sounds good to get me started @yymao . It runs under the descqa already in my version at NERSC as I said in the hack day. Will tidy it up and make a PR.

Concerning a possible test (I know it's not required any more), a possibility would be binning the SDSS 2D data, creating some jackknife errors in each bin, and check statistical compatibility... I think it is going to be far from a good chi2 in

[2018-02-15 15:00] yymao commented on #74
@nsevilla great, looking forward to your PR.

I think it would be better that this test is a standalone test in DESCQA. For one, as you mentioned, there are potential validation data sets and criteria that we can implement, if at a later time we deem that it is important that the catalogs have certain reasonable color-color distribution. In addition, the DESCQA framework allows running several tes

[2018-02-15 16:04] evevkovacs commented on #11
@yymao @janewman-pitt-edu  I am working on the test. I need to do a little code refactoring. I need a source for validation data with galaxy number densities. Right now, I only have shape information to compare with (from Jeff and from Coil et al 2004)  Once I have the data, I can redo the test to conform to it. Thanks

[2018-02-15 16:06] evevkovacs commented on #13
protoDC2 should now have the quantities needed to run this test.

[2018-02-15 16:07] rmandelb commented on #11
If we're already doing a number density validation of N(<mag) in a separate test, then can we just test N(z) based on shape, ignoring normalization?

[2018-02-15 18:12] adam-broussard commented on #12
@yymao Eric and I talked today and we think it would be a good idea to put this in DESCQA.  We discussed some possible tests and came up with:
1. Fitting the exponential decline on the right side of the equivalent width distribution
2. The ratio of primary and secondary modes (essentially the modes of equivalent widths of the star forming vs quiescent population)
3. The equivalent width of the mod

[2018-02-15 18:15] adam-broussard commented on #12
@janewman-pitt-edu could you send me the data you used to generate those example plots?  That way I can easily compare between the data and protoDC2 as well as potentially use them for the tests I outlined above.

[2018-02-15 19:15] yymao commented on #12
@adam-broussard sounds like a good plan. Let me know how I can help you putting this test into the framework!

[2018-02-16 01:02] evevkovacs commented on #41
What's the status on providing a mask to allow users/test-developers to select the redmapper galaxies? Do you still think that it is worthwhile making this mask as a way for people to access the sample?

[2018-02-16 03:03] janewman-pitt-edu commented on #12
Sure, send me a direct email to janewman@pitt.edu and I can reply to it with files.

Best,

Jeff

[2018-02-16 03:13] janewman-pitt-edu commented on #11
dN/dmag gives you the normalization — integral_0^infinity (dN/dz dz) = integral_0^mmax dN/dm dm

where mmax is the maximum magnitude for the sample.

Best,

Jeff

[2018-02-16 15:43] yymao opened #75 "redshift-dependent galaxy bias"
As discussed in #10, the PZ WG wants to check if the galaxy bias has reasonable redshift dependence. @morriscb @sschmidt23 can provide validation data and criteria. The test itself still need to be implemented.

- [x] code to reduce mock data
- [x] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2018-02-16 15:48] yymao opened #76 "position angle distribution"
This is a required validation test from the WL WG @msimet. The distribution of position angle should be a uniform distribution.

This is a very simple test and is certainly a new-comer-welcome task.

- [x] code to reduce mock data
- [ ] code that works within DESCQA framework
- [x] validation data
- [ ] validation criteria

[2018-02-16 15:50] yymao opened #77 "galaxy size distribution"
This is a required validation test from the WL WG @msimet. This test is to check the distribution (mean, scatter, etc) of galaxy sizes. This test is somewhat related to the size-luminosity test #13.

Proposed validation data set is COSMOS.

- [ ] code to reduce mock data
- [ ] code that works within DESCQA framework
- [ ] validation data
- [ ] validation criteria

[2018-02-17 23:41] vvinuv commented on #13
Since the size parameters in two catalogs are different (protodc has bulge and disk sizes and buzzard has only total size) I am not quite sure whether I could write a single script for the validation test. @yymao Do you find a way to generate the plots for two different catalogs?

[2018-02-18 00:19] yymao commented on #13
protoDC2 also has total size (a luminosity weighted total size). I understand that the detailed definitions are different between the catalogs, but as a validation test, I don't think it matters that much. If it does, we can always just skip one of the catalogs.

[2018-02-18 00:45] vvinuv commented on #13
@yymao I think we need to compare the bulge and disk sizes to the corresponding observed sizes apart from the luminosity weighted size from the catalog. I am not quite sure what the luminosity weighted size means. @rmandelb gave me the COSMOS catalog and the validation test comparing the bulge and disk sizes could be a separate test of magnitude-size.

[2018-02-18 01:00] yymao commented on #13
In that case, you can either implement a new test or update this test to validate disk and bulge sizes and skip catalogs that only have total size.

[2018-02-18 01:01] rmandelb commented on #13
The catalog that I sent has fits to bulge+disk for all objects, and fits to a single Sersic for all objects.  I don't see any reason not to use the single Sersic fit to get a total size.  Some galaxies are not well-fit by a single sersic, but the size parameter will still be meaningful at the level we are doing the validation.

[2018-02-18 18:05] vvinuv commented on #13
@rmandelb I think the issue is that there is no single size for galaxies in the protodc catalog and that is why we are comparing the bulge and disk sizes. @yymao says there is single size for protodc catalog but it is the luminosity weighted size for bulge and disk. I am not quite sure what does the luminosity weighted size of galaxy means.

[2018-02-18 19:05] vvinuv commented on #13
Using COSMOS data I checked the Sersic size and weighted average of size of bulge and disk (without adding axis ratios) and found that the weighted average agrees with Sersic size with some scatter. See the figure. Since the total and the weighted average of protodc sizes agree I will compare the luminosity-size relation of van der Wel et al and compare the protodc size to Mandelbaum et al.
![tota

[2018-02-18 20:18] vvinuv commented on #13
FYI the validation code for bulge and disk size is working from yesterday.

[2018-02-19 16:10] yymao commented on #13
@vvinuv thanks for the updates!

The luminosity-weighted size is literally combining the bulge and disk sizes using their relative luminosities as weights. [See the code here.](https://github.com/LSSTDESC/gcr-catalogs/blob/v0.6.14/GCRCatalogs/alphaq.py#L30)

So indeed this definition of total size is not exactly the same as fitting a single Sersic profile. But again, I *think* at the level we are

[2018-02-19 16:57] #72 closed

[2018-02-19 20:18] evevkovacs commented on #11
@janewman-pitt-edu  Is there anything more up-to-date than the Coil et al 2004 data that I have been using for the shape test for the N(z) distributions? Thanks

[2018-02-20 03:02] EiffL commented on #42
@yymao I have the code (from @duncandc) and data (from MB2) for the 3D ellipticity-direction correlation function and I'm implementing wg+ for comparison with @jablazek's validation test.

The question I'm facing now is more about how to incorporate that shape/orientation information to the protoDC2 catalog. I'm thinking of adding an add-on catalog for galaxy orientation, it will contain informati

[2018-02-20 03:13] yymao commented on #42
@EiffL thanks for the update. This sounds good a plan. I do have one question though --- it seems that the main purpose of this validation test is to test the add-on catalog rather than the underlying catalog, is that right? It is totally ok to test the add-on catalogs; we just need to be clear about that.

[2018-02-20 04:09] yymao commented on #42
OK, that's totally fine.

Now, the remaining question is if there's anything in the underlying catalog that we should test more directly/specifically for the purpose of implementing IA models? @EiffL @patricialarsen

[2018-02-20 04:16] rmandelb commented on #13
@yymao - I think I agree with your statement.  I didn't comment on the plot before - but I find the errorbars confusing - why are they enormous and should that worry us?  How were they calculated @vvinuv ?

[2018-02-20 07:57] janewman-pitt-edu commented on #11
Hi Eve,

My numbers are actually based on the full DEEP2 sample, not just early data like Coil et al.  I’m afraid there’s not another sample I’d trust more (COSMOS 30-band photo-z’s are too small area to constrain the z>1 tail and have issues at low redshifts; VVDS and zCOSMOS have few secure redshifts at z>1; etc.).

Best,

Jeff

[2018-02-21 00:41] vvinuv commented on #13
@yymao @rmandelb  Sorry for the late reply. I tested the validation code to compare bulge and disk sizes for protodc2 and testing it yesterday for some period of time. I will push the script for PR.  I have already written the script and I think checking the bulge and disk sizes may not hurt. Also,  there is a tilt in the comparison at larger Sersic radius. Please see the figure. @rmandelb sorry f

[2018-02-22 17:54] patricialarsen commented on #42
The more direct test would have to be on the halo shape orientations and the tidal fields.

For the halo shapes we checked the distribution of axis ratios for the halo shape information against other dark matter simulations and they look roughly consistent. That could be implemented as a test, although since we're only providing it for the large halos (and it's independent of the rest of the catal

[2018-02-22 20:47] jablazek commented on #42
@yymao @patricialarsen @EiffL @elisachisari : To answer the earlier question, I think the model we implemented earlier (the NLA model) is a good validation test for the 2pt correlation functions (both shape-shape and density-shape) for scales above ~8Mpc/h. The test could do a 1-parameter fit to the model (i.e. the overall amplitude) and return a chi2/dof and the best-fit amplitude. We could decid

[2018-02-22 20:56] yymao commented on #42
Thank you both, @patricialarsen and @jablazek. So for 2pt tests, I'm hearing we need shape-shape and density-shape correlations. @EiffL are you are working on both of these already, or do you need help? And you are also implementing ellipticity-direction correlation, right? Do we need different issues to track the progress of these 2pt tests?

We have 1pt tests on position angle and ellipticity. A

[2018-02-22 21:57] EiffL commented on #42
@yymao Yes, I have both ED and wg+ codes, but nothing to test them with at the moment, I'm working on it. I first have to add orientation information to protoDC2, once that's available, I can run tests (remember that E-D requires the 3D orientation of the major of the 3D ellipsoid of the galaxy, which is not a quantity currently defined in protoDC2).

I'm working with @duncandc on this, we should

[2018-02-22 23:35] jablazek commented on #42
@EiffL : do you also have w++ code? That will be lower S/N than wg+, but may be interesting as well. On large scales, both wg+ and w++ should have the same scale dependence (difference amplitude).

[2018-02-25 19:47] rmandelb commented on #13
@vvinuv - are you looking for comments/feedback on https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-02-24&test=size_Mandelbaum2014_BD yet, or are you still working on the test?  I had some questions about it, but I didn't want to send something premature if the test is still in the works.

[2018-02-25 20:26] vvinuv commented on #13
@rmandelb yes I am looking for comments/feedback on the test.

[2018-02-26 01:34] rmandelb commented on #13
OK, here are some comments on [this plot](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-02-24&test=size_Mandelbaum2014_BD&right=2018-02/2018-02-24/size_Mandelbaum2014_BD/protoDC2/size_Mandelbaum2014_BD.png):

- What is the bottom row of blank plots supposed to show?
- I think you only need the bulge/disk legend in a single panel, since it's really the same legend in all plots.
- What d

[2018-02-26 03:12] vvinuv commented on #13
@rmandelb Thanks for the comments and please see my partial answers to your questions

- The bottom panels are supposed to show the validation of simulated catalog until z=3. Currently, protoDC2 has no galaxies greater than 1 and I think catalog makers are working on that. However, I am sure that the figure should not be plotting in that way for these three redshift bins. I will check if I can do

[2018-02-26 03:36] yymao commented on #48
We can revisit this when we are about to write the paper.

[2018-02-26 03:36] #48 closed

[2018-03-04 23:31] rongpu commented on #15
Sorry for the late response. I have just finished a first implementation of the color distribution (very similar to the color test in DESCQA1), and I have created a pull request. The results can be found here: https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-04_11

Main changes from DESCQA1 color test:

- Since we are now dealing with light-cone catalogs, K correction is no longer appl

[2018-03-06 16:41] patricialarsen commented on #42
@EiffL - when you say you have nothing to test this with, do you mean the tidal fields? I believe these were added to the catalog for the February meeting

[2018-03-06 16:46] patricialarsen commented on #42
@yymao these 1pt tests are on the randomly assigned ellipticities, not the correlated ellipticities so this might not be the right venue for that question. I think those are sufficient, but the WL group would know more.

[2018-03-24 02:06] vvinuv commented on #13
@rmandelb  I am really sorry about not replying for a very long time. Please see the link to the recent size comparison  https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-23_31

Please see the following answers to your previous and recent questions:

- What is the bottom row of blank plots supposed to show?
- Fixed!

- I think you only need the bulge/disk legend in a single panel, since

[2018-03-25 00:40] vvinuv commented on #13
@rmandelb I worked on making the B/T plot less busy. Seems like the average mean of sizes  of bulge and disk from simulation don't clearly agree with validation.

https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-24_8

[2018-03-26 13:47] vvinuv commented on #13
@rmandelb I think there is an issue with the B/T plot which may be reason why the sims are not agreeing with validation. @yymao when I search the GCR catalog for size_bulge_true and size_disk_true for protodc2 it seems like the search gives the same array. Unfortunately, I committed the changes of SizeStellarMassLuminosity.py to master and it was removed when turn to previous commit. It may take a

[2018-03-26 16:07] vvinuv commented on #13
@yymao I submitted the script for PR

[2018-03-26 20:47] yymao commented on #62
@EiffL thanks! This is awesome. I'm cc'ing @fjaviersanchez as he'll be interested in this progress.

Are you ready to submit a PR? Or do you think there are still outstanding issues?

As for the desc packages, I do think they are installed in the same environment as descqa but I'll double check with Heather.

[2018-03-26 20:58] yymao commented on #13
@vvinuv thanks for the updates. I'm working on reviewing/merging PRs this week and will get to yours soon.

[2018-03-27 14:33] yymao commented on #74
closed by #88

[2018-03-27 14:33] #74 closed

[2018-03-27 14:33] yymao commented on #15
Implemented in #89. Still awaits validation criteria.

[2018-03-27 16:13] evevkovacs commented on #15
@rongpu Can we rerun this test on the new protoDC2 v3 catalog ASAP? Is the test available in the master branch yet?

[2018-03-27 16:39] yymao commented on #15
@evevkovacs it's on master already. See a test run here:
https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-26_3

[2018-03-27 17:11] rongpu commented on #15
@evevkovacs For a comparison with the protoDC2 v2 catalog, here are the v2 results: https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-04_11
Apparently the v3 catalog has produced many more very blue galaxies in the DEEP2 magnitude range.

[2018-03-27 17:54] yymao commented on #15
@evevkovacs here's a run that has v2, v3, and buzzard: https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-27

[2018-03-27 18:14] evevkovacs commented on #15
@Thanks that's useful. We have solved the discreteness problems in the color distributions. The agreement with SDSS is much better in v3. We will look into improving the agreement with DEEP2.

[2018-03-27 20:27] evevkovacs commented on #15
@rongpu Can you give some details about the data sets used in the tests? We would like to know what catalogs you started with and what selections you made to get the final samples that are used for the DESCQA comparisons. If you have some notes about what you did, that would be great! Thanks, Eve

[2018-03-28 00:57] rongpu commented on #15
@evevkovacs There are two validation catalogs: SDSS and DEEP2+CFHTLS.

I obtained the SDSS catalog using this [SQL query](https://github.com/rongpu/descqa-color-test/blob/master/sdss_query.txt) on DR13, and then I selected the "main galaxy sample" and applied extinction correction with [this script](https://github.com/rongpu/descqa-color-test/blob/master/sdss_trim.py).

The DEEP2+CFHTLS catalog te

[2018-03-28 15:27] rongpu commented on #15
Here is the latest run of color test with the bug fixed (now only using CFHTLS-Deep photometry): https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-27_1&test=Color_Dist_DEEP2
There is very small change in the color distribution.

I should note that both SDSS and DEEP2 color tests apply redshift cuts in addition to the r-band apparent magnitude cut. The redshift cuts applied in the runs a

[2018-03-30 19:40] rmandelb commented on #13
@yymao @vvinuv - I think the plot in its current form looks rather worrisome.  Before merging the PR, I would like to see what happens once the bulge/disk size question is sorted out.  Or has it already been sorted out in a more recent run?

@vvinuv - to answer your question about redshift cuts, I think that once you're eliminating objects above z=1.5, you don't need further redshift cuts.  The cu

[2018-03-30 19:48] yymao commented on #13
@rmandelb there's still some technical bugs in PR #95 and I have asked @vvinuv to fix them. We will post the updated run as soon as we have it.

When you say "worrisome" do you mean that if the test is implemented correctly the catalog is worrisome, or do you mean something else?

[2018-03-30 19:59] rmandelb commented on #13
I mean if the test is implemented correctly the catalog is worrisome.

I don't look for super close agreement, but a factor of 3-4 discrepancy in size at fixed luminosity is worse disagreement then I am comfortable with - unless I am simply misinterpreting the plot?  To be more specific, on https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-24_8&catalog=protoDC2&right=2018-03/2018-03-24_

[2018-03-30 20:07] yymao commented on #13
Thanks, @rmandelb this is very useful. Once @vvinuv fixes the PR I'll double check for bugs and then rerun the test to see if your worries persist.

[2018-03-30 21:57] vvinuv commented on #13
@rmandelb I share the same concern. Eve told me about protodc2 and said that the sizes of bulge and disk are different. In this figure there are something wrong and the script finds only one size. It could be the total size or any sizes of bulge and disk. I will post the correct figure soon. @yymao I will update the PR after solving these issues.

[2018-03-30 22:26] evevkovacs commented on #13
@rmandelb The galaxy shape model is described in Section 5.4 of the protoDC2 note https://www.overleaf.com/8095694zthbdwgqxqzf#/28574272/.  We assume n=1 Sersic and Hernquist profiles for the disk and the bulge with the characteristic scales given by the Galacticus scale radii. We compute the half-light radii by integrating over these profiles. The values looked reasonable for protoDC2 v2. We are

[2018-03-30 22:30] rmandelb commented on #13
Hi @evevkovacs - that link doesn't work for me (it says it's password-protected and you have to invite me).  However, I thought you used to use Sersic n=1 (exponential) and n=4 (de Vaucouleurs) profiles for disk and bulge, not Hernquist for the bulge, so thanks for clarifying; I had misunderstood the model.

[2018-03-30 22:39] evevkovacs commented on #13
@rmandelb The reason we don't use n=4 Sersic for the half-light radius computation is that it gives a very large conversion factor when you integrate the light profile to find the relationship between the scale radius and the half-light radius. The n=4 Sersic has a long tail, and the answer you get depends on where you cut off that integral. So for definiteness, we used Hernquits instead (which lo

[2018-04-03 12:31] rmandelb commented on #13
Hi @evevkovacs - for what it's worth GalSim can very quickly do the scale radius to half-light radius conversion as a function of sersic n (the calculations have been numerically validated for convergence even up to sersic n=6).  It can do it without and with truncation of the profile at any point that you specify.  I am not saying you have to change something at this stage, but it sounds like thi

[2018-04-05 20:40] EiffL commented on #42
@yymao @duncandc @jablazek @patricialarsen  To bring this dicussion back on github (sorry, my bad that I stopped responding on this issue), the only 2 things that will impact the downstream IA mock generation (beyond what I think is already otherwise tested) is the computation of the tidal field, the distribution of satellites in halos (potentially anisotropic), and the halo shape catalog itself I

[2018-04-05 21:09] yymao commented on #42
@EiffL yes we should now validate the three things you mentioned.

[2018-04-05 21:15] EiffL commented on #42
Ok, so, @aphearin I tried to look through your cosmoDC2 repo but couldn't really pinpoint how the satellite galaxies are spatially distributed within a halo in DC2, are they following the host halo shape to some extent ?

[2018-04-05 21:34] EiffL commented on #42
So @yymao I propose the following tests:
 - Compare the tidal eigen vecs X halo positions in DC2 vs MB2
 - Compare the halos orientations X halo positions in DC2 vs MB2
 - Additionally, also 1 pt distributions of halo shapes and tidal eigenvals

It may not be the best things to test but it should catch obvious failure modes. Does that sound good?

[2018-04-05 21:46] aphearin commented on #42
@EiffL - no, in the current version of production, satellites are anisotropically distributed, but there is no correlation with LSS.

[2018-04-05 21:48] EiffL commented on #42
Oh , ok, so they are not following the halo shape (assuming the halo shape has correlation with the LSS)

[2018-04-05 21:52] yymao commented on #42
Sounds good @EiffL. Do you think you can implement these soon or do you need help?

BTW, do we have halo shapes in the catalog?

[2018-04-05 21:57] aphearin commented on #42
@EiffL - yes, that's correct. This is not a necessary feature of DC2, it's just that nobody asked for this feature and so we did not prioritize it. Alternate versions of the extragalactic catalog with such correlations could be made available as needed.

[2018-04-05 22:15] EiffL commented on #42
@aphearin Ok great, thanks for clarifying.
Sorry, we have only started thinking about this recently as @duncandc made further progress on his IA model. He'll probably be able to report on the impact of the satellite distribution in more details. If it's not too much trouble it would certainly be a useful feature to have in DC2, and I know that Duncan has halotools components for that so we should

[2018-04-05 22:22] evevkovacs commented on #42
I just checked with @patricialarsen  and the plan is to have halo shapes and tidal fields in a later version of cosmoDC2 (probably the one coming after the initial version used for image sims)

[2018-04-05 22:26] EiffL commented on #42
Right, ok thanks, that is fine, we don't expect the image simulations to have IA

[2018-04-05 22:31] yymao commented on #42
@EiffL probably should have satellite galaxy angular distribution test too?

[2018-04-05 22:36] EiffL commented on #42
Yep, although at the moment this would just show a flat distribution I guess.

[2018-04-05 22:46] yymao commented on #42
yes, I understand. But it's good to prepare for future catalogs. Obviously this test can have lower priority for now.

[2018-04-05 23:48] aphearin commented on #42
@EiffL - as far as the anisotropy correlations go, I think this is probably best handled in a post-processing phase of what will be the baseline DC2 catalog. The techniques @duncandc has developed are tailor made to create an alternate version with all manner of variety of such correlations excluded/included with varying strength. So this feature will be readily available. Also, since the tidal te

[2018-04-06 01:05] EiffL commented on #42
humm, I'm a bit confused by some of the plots I'm getting. I'm looking only at galaxies with step=247, and just looking at the histogram of halo eigen vector orientation, it looks like they are pointing in a preferred direction:
![image](https://user-images.githubusercontent.com/861591/38398717-98390a8e-3913-11e8-9dc2-a72f71e1938a.png)
I was naively expecting something flat (this is for ~3000 cent

[2018-04-06 16:31] duncandc commented on #42
Just to follow up to @aphearin's comment, I do think we could re-assign satellite positions in a add-on catalog if this is necessary for mine or @EiffL IA methods.

[2018-04-06 17:11] patricialarsen commented on #42
@EiffL - no, the tidal field is not included in v3. Please continue to use the v2 catalogue for this.

[2018-04-06 17:12] EiffL commented on #42
@patricialarsen Ok thanks :-) no problem

[2018-04-06 19:43] EiffL commented on #42
@duncandc I've plotted the halo orientation-direction correlation function in a test in branch `u/EiffL/ia_validation` could you take a look at it and tell me what you think: https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-04-06&test=alignment_test&catalog=protoDC2
![image](https://user-images.githubusercontent.com/861591/38440868-cbc37054-39b0-11e8-8c48-59f089374b21.png)
That's all at z

[2018-04-07 00:49] patricialarsen commented on #42
@EiffL what do you mean by central dark matter shape? If this is a sort of reduced inertia tensor the axis ratios look sensible. These shapes are strongly dependent on the method used to measure them.

Look at for example figure 10 of https://arxiv.org/pdf/1702.03913.pdf - the dashed lines vs the solid lines are the reduced vs. simple inertia tensor. The reduced inertia tensor (which up-weights th

[2018-04-07 01:08] patricialarsen commented on #42
Also, quick suggestion: the direction-position calculation might be interesting to plot. It would validate that the orientations are correctly linked to the density and I think the axis directions are typically more stable to measurement differences than the ellipticities are.

[2018-04-09 20:02] EiffL commented on #42
Thanks for the feedback @patricialarsen . By `central dark matter shape` I mean shape of the dark matter subfind subhalo around central galaxies in MB2. There are many caveats to that, in particular which inertia tensor we are using (we are not sure :-/ we are in the process of recomputing them, probably with simple inertia tensor, but I'll let you know).

Yes, agreed, the directions are more stab

[2018-04-20 02:49] Andromedanita opened #109 "Stellar mass distribution"
The purpose of this issue is to understand the shape of the distribution of galaxy stellar masses in protoDC2 catalogues as we have been discussing this with @reneehlozek. In the previous version, there was a small bump at about 10^10 solar masses that was not obvious to me why it was there. In the most recent version, the bump is still there as well as another skewness at lower masses around 10^8

[2018-04-20 03:05] rmandelb commented on #109
@Andromedanita - the fact that protoDC2 has more galaxies at low stellar mass is a consequence of the fact that we are trying to simulate a sample that is very different in properties from the CMASS sample.  The CMASS number density is orders of magnitude lower than the much fainter galaxy sample in protoDC2, so the stellar mass distributions should look very different.  (Think of it another way:

[2018-04-20 09:59] reneehlozek commented on #109
Thanks @rmandelb - it is good to know what an "apples with apples" comparison would be (so great idea about the cuts, I think this is a great thing for @Andromedanita to get on with next!). I am playing catch up so almost certainly missed a note on this, but was the shift in the distribution from v2 to v3 intentional?

[2018-04-20 13:37] aphearin commented on #109
Thanks for the input, everyone. These changes from v2 to v3 are very much intentional. Between these two versions, we began a new approach in which empirical methods are used to fix the galaxy—halo connection, and Galacticus is treated as a galaxy library that we sample from.

Your observation about the faint end of the SMF illustrates one manifestation of this change. After v2, the PHZ WG request

[2018-04-20 15:45] evevkovacs commented on #109
Please see https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-03-27_2&catalog=protoDC2&right=2018-03/2018-03-27_2/SMF_PRIMUS/protoDC2/SMF_protoDC2.png for the comparison of the stellar-mass function with PRIMUS data  for protoDC2 v3.  The same plot for the pre-release of protoDC2 v4  can be seen here: https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-04-12_24&catalog=proto-dc2_v4.0_

[2018-04-24 14:15] Andromedanita commented on #109
Thanks everyone for your useful comments.

[2018-04-30 20:49] Andromedanita commented on #109
Your suggestion for applying a cut to the color similar to CMASS catalogue for protoDC2 was indeed correct @rmandelb . I applied a cut in i-band to protoDC2 galaxies and I see that only about 200,000 galaxies satisfy this condition out of the total of ~10 million galaxies in protoDC2 and the peak of the stellar mass distribution is shifted to much higher masses close to that of SDSS galaxies. Belo

[2018-05-10 21:29] aphearin commented on #109
Great! Thanks for the hard work in testing the catalog, @Andromedanita!

[2018-05-14 12:06] rmandelb commented on #109
Thanks for these plots!  That looks much better.

Note that if this is the 25 square degree catalog, then with 675 CMASS-like
galaxies detected, this corresponds to a density of 27 per square degree.
The actual CMASS density is closer to 100 per square degree according to
table 2 of http://adsabs.harvard.edu/abs/2016MNRAS.455.1553R .  I'm not
sure how much we want to worry about this, but it may p

[2018-05-14 13:04] aphearin commented on #109
@rmandelb - There are no CMASS validations in DESCQA that I'm aware of, but I think this DESCQA plot comparing the latest release v4.4 of the protoDC2 shows that the stellar mass function is in good agreement with PRIMUS across mass and redshift.

![smf_moustakas](https://user-images.githubusercontent.com/6951595/39998937-38bd6ec6-574d-11e8-8f3f-a51480aca228.png)

[2018-05-14 13:30] rmandelb commented on #109
That does look good, but it might be something to do with the joint distribution of stellar mass and color rather than just stellar mass.  I think @Andromedanita was using v3, and colors of galaxies in clusters were one of the updates to v4, so I expect her results might change somewhat?

[2018-05-14 13:39] aphearin commented on #109
Good point @rmandelb. The SMF for v3 was definitely deficient in high-mass galaxies at z >~0.5, regardless of color cut. This was one of the (many) modifications made between v3 to v4.4.

[2018-05-18 14:02] rmandelb commented on #109
@Andromedanita - I was wondering, were you planning to turn your script that you used to produce the "CMASS" sample stellar mass distribution into a validation test that can be integrated into DESCQA?

I was thinking even a simple validation test that ignores the stellar mass distribution and just checks whether the CMASS-like sample has approximately the right number density would be interesting

[2018-05-20 17:27] reneehlozek commented on #109
I think this would be a great idea for @Andromedanita to implement, especially as you mention she's done almost all the work already!

[2018-05-21 20:42] evevkovacs commented on #13
@vvinuv  Would you be able to run this test on the latest versions of protoDC2? The catalog names are
proto-dc2_v4.4, proto-dc2_v4.5, proto-dc2_v4.5_rescale. To run your test (I'm assuming you have a private version of the code) you need to do this in your local descqa directory:
 ./run_master.sh -c proto-dc2_v4.4 proto-dc2_v4.5 proto-dc2_v4.5_rescale size_Mandelbaum2014_BD -p  ~kovacs/gcr-catalog

[2018-05-21 20:54] vvinuv commented on #13
@evevkovacs <https://github.com/evevkovacs> I will do that . Currently, I
am running a code in the size-luminosity-tests branch. You could have it
from https://github.com/vvinuv/descqa/tree/size-luminosity-test

On 21 May 2018 at 15:42, Eve Kovacs <notifications@github.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-05-21 21:12] vvinuv commented on #13
@evevkovacs <https://github.com/evevkovacs>  I run the command but gets
this error. It says that proto-dc2_v4.4 doesn't match with any available
names

vvinuv@cori05:descqa_vinu >>> ./run_master.sh -c proto-dc2_v4.4
proto-dc2_v4.5 proto-dc2_v4.5_rescale size_Mandelbaum2014_BD -p
~kovacs/gcr-catalogs_v4/0

[INFO ][2018-05-21 14:10:03,074] Using DESCQA 2.0.0-0.7.0

[INFO ][2018-05-21 14:10:03,074] U

[2018-05-21 21:46] evevkovacs commented on #13
oops, I forgot the -t
and try to use the full path to my GCRCatalogs as follows:

Try:

./run_master.sh -c proto-dc2_v4.4 proto-dc2_v4.5 proto-dc2_v4.5_rescale
-t size_Mandelbaum2014_BD -p /global/u1/k/kovacs/gcr-catalogs_v4

Eve

On Mon, 21 May 2018, Vinu Vikraman wrote:

***************************************************************
Eve Kovacs
Argonne National Laboratory,
Room L-177, Bldg. 360,

[2018-05-21 21:57] evevkovacs commented on #13
@vvinuv I just cloned your repo and switched to the size-luminosity-test branch. When I ran the test, I got an error:
UnboundLocalError: local variable 'ylim' referenced before assignment
[ERROR][2018-05-21 14:52:51,857] Exception occurred when running validation `size_Mandelbaum2014_BD` on catalog `proto-dc2_v4.5`. Below are stdout/stderr and traceback:
Traceback (most recent call last):
  File "

[2018-05-21 22:03] vvinuv commented on #13
@evevkovacs <https://github.com/evevkovacs>  sure. I am going to update the
script.

Anyway the versions gave by @evevkovacs <https://github.com/evevkovacs>
work and can be seen at
https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-05-21_38&test=size_Mandelbaum2014_BD&catalog=proto-dc2_v4.4

On 21 May 2018 at 16:57, Eve Kovacs <notifications@github.com> wrote:

--
Vinu Vikraman
http://www.h

[2018-05-21 22:08] vvinuv commented on #13
@evevkovacs <https://github.com/evevkovacs>  updated it

On 21 May 2018 at 17:03, Vinu Vikram <vvinuv@gmail.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-05-21 22:30] evevkovacs commented on #13
@msimet @aphearin  Could you please take a look at the size-luminosity relation in https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-05-21_38&test=size_Mandelbaum2014_BD&catalog=proto-dc2_v4.4 and let us know if the agreement is acceptable?

[2018-05-22 00:03] msimet commented on #13
I'm not sure, actually. A factor of 2 average size difference might be enough for us to care about, and these look within that limit for the bulge sizes with B/T>0.5 and within the disk sizes for B/T<0.5. However, the other component looks more off (but this matters proportionally less because of the bulge vs disk dominance).  Will the total size-luminosity test (vs van der Wel) be run on these ca

[2018-05-22 14:33] aphearin commented on #13
@rmandelb and @msimet - I was surprised when I saw this level of discrepancy. The DC2 model for the size-luminosity relation comes directly from the fitting function provided in [Zhang & Yang 2017](https://arxiv.org/abs/1707.04979), which is based on SDSS galaxies. So I dug back into the paper, and I found that Youcai and Xiaohu actually provide fitting functions for the size-luminosity relation o

[2018-05-22 15:26] evevkovacs commented on #13
@aphearin  @msimet The biggest discrepancy between data and the catalog in the [DESCQA test](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-05-21_38&test=size_Mandelbaum2014_BD&right=2018-05/2018-05-21_38/size_Mandelbaum2014_BD/proto-dc2_v4.5/size_Mandelbaum2014_BD.png) is for the bulge component for galaxies with B/T<0.5. (late-type). The catalog and the data agree quite well for B/T>0

[2018-05-22 19:40] aphearin commented on #13
@rmandelb and @msimet - When evaluating whether the current size-luminosity model in protoDC2 is sufficient for purposes of cosmoDC2, I think we should be using [this earlier DESCQA test](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-05-21_12&test=size_Mandelbaum2014_BD&catalog=proto-dc2_v4.5_rescale) and not [the much more recently completed DESCQA test currently under discussion](htt

[2018-05-22 21:20] rmandelb commented on #13
Hi all - apologies for missing some of this traffic; was offline yesterday for personal reasons, then traveling today.  A few comments, but since this is long I will say the brief summary is that *I think that the results of the size-luminosity relation tests for v4_5 are acceptable*:

- @aphearin I hope you will please correct me if there is a misunderstanding, but based on your comments, here's

[2018-05-22 22:03] aphearin commented on #13
@rmandelb - thanks for getting back to us with a thoughtful answer.

Oh yes, I very much agree we need higher redshift validation data in addition to low-redshift. In particular, and to be clear, in the protoDC2 model, __we do evolve the size-luminosity relation at higher redshift:__ as z increases, we decrease the normalization of this scaling relation (higher redshift galaxies are more compact t

[2018-05-23 19:01] Andromedanita commented on #109
Thanks @aphearin and @rmandelb for the plots and the comments. I was using the latest released version available but that is v3. I asked Yao and he gave me instructions on how to access v4.4 and there is now v4.5 but these are not released yet. I will run my tests with the newer version of protoDC2 catalogues and post the plots here. I will also coordinate with @yymao to integrate this validation