[2018-05-23 22:45] yymao commented on #13
Sorry for coming to the party late --- I just got a chance to clean up and run #95 ([output here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-05-23_35)).

But given the discussion above, it seems to me that we should revise the test so that it only tests bulge size for bulge-dominated galaxies and only tests disk size for disk-dominated galaxies. Is that right, @vvinuv @rmandelb @aph

[2018-05-23 22:47] aphearin commented on #109
Thanks for the update on the plots @Andromedanita. Could you remind me of the density of the CMASS catalog you have been comparing to?

[2018-05-24 00:03] Andromedanita commented on #109
@aphearin  The CMASS catalogue has the density of 101/sq degree as @rmandelb  mentioned. It is on table 2 of http://adsabs.harvard.edu/abs/2016MNRAS.455.1553R

[2018-05-24 03:03] aphearin commented on #109
Hmm, ok, so factor of 6 difference. Is it possible that there is tension between this number density measurement and the Moustakas+13 PRIMUS SMF measurements [plotted above](https://github.com/LSSTDESC/descqa/issues/109#issuecomment-388809084)?

[2018-05-24 09:37] rmandelb commented on #109
@Andromedanita - thanks for sharing these numbers and plots.  Have you looked at the redshift distribution of these CMASS-like galaxies to see how it compares with the actual CMASS redshift distribution?  I wonder if that might shed some light on the matter.

[2018-05-24 14:45] evevkovacs commented on #109
@aphearin @rmandelb @Andromedanita  The recent [dn/dmag](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-05-23_12&test=ApparentMagFuncTest_HSCi) test does not cover the range of magnitudes used in the above test. The catalog data is above the HSC extrapolation at i=23 by about 25%. It seems like it would be useful to extend the range plotted in the dn/dmag test so that we have a comparis

[2018-05-25 18:07] aphearin commented on #109
@Andromedanita - could you confirm whether the following selection criteria stated in [your previous post](https://github.com/LSSTDESC/descqa/issues/109#issuecomment-388190268) are the defining cuts used to make a CMASS-analog for direct comparison with the number density quoted in [the BOSS paper](http://adsabs.harvard.edu/abs/2016MNRAS.455.1553R) that @rmandelb pointed us to?

1. d_perp < 0.55 w

[2018-05-25 18:44] Andromedanita commented on #109
@aphearin Yes, those are the cuts I used and the cuts applied in CMASS selection criteria. They are stated in section 3.3 of this paper: http://adsabs.harvard.edu/abs/2016MNRAS.455.1553R

I have also cleaned my notebook and made it lsst readable on NERSC so that  it can be checked for any possible typos and the path to it is:
/global/homes/a/anitab/DESQA_Mstellar_issue_protoDC2_CMASS.ipynb

[2018-05-25 19:03] aphearin commented on #109
Thanks a lot @Andromedanita - this is very helpful for the calibration I'm doing at the moment.

[2018-06-06 15:45] yymao opened #116 "update sign convention and validation criteria in shear-shear test"
@patricialarsen (cc @EiffL) following the update to the  shear sign convention in the GCRCatalogs (see
https://github.com/LSSTDESC/gcr-catalogs/pull/111) we should make sure the shear-related tests also follow the same convention (that is, the treecorr/GalSim convention).

We need to, for example, remove the minus sign in
https://github.com/LSSTDESC/descqa/blob/master/descqa/shear_test.py#L172
htt

[2018-06-06 18:30] yymao commented on #13
@evevkovacs I believe that's a feature... the code always creates 6 panels but only 3 are used for `size_Mandelbaum2014_BD` (but 6 are all used in `size_vanderWel2014_SM_Lum`). See these configs:

https://github.com/LSSTDESC/descqa/blob/master/descqa/configs/size_Mandelbaum2014_BD.yaml#L20
https://github.com/LSSTDESC/descqa/blob/master/descqa/configs/size_vanderWel2014_SM_Lum.yaml#L25

But yes, th

[2018-06-06 18:52] evevkovacs commented on #13
Actually, they are also blank in size_vanderWel2014_SM_Lum [see here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-06-06_13&catalog=proto-dc2_v4.6_test)

[2018-06-06 18:55] vvinuv commented on #13
Oops! I have already updated the script long before. I don't know whether
@yymao updated to the master branch.

(Not that suggested by @yymao by removing one of the bulge and disk sizes
for size_Mandelbaum2014_BD, I will update that soon)

On 6 June 2018 at 13:30, Yao-Yuan Mao <notifications@github.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-06-06 18:55] yymao commented on #13
@evevkovacs have you run them on `buzzard_test`? Since protoDC2 only goes to z=1 is not surprising the lower panels are empty...

[2018-06-06 18:56] vvinuv commented on #13
@eve I think that is long solved one. I don't know whether @yymao updated it

On 6 June 2018 at 13:52, Eve Kovacs <notifications@github.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-06-06 18:58] vvinuv commented on #13
I removed the bottom three panels

On 6 June 2018 at 13:55, Yao-Yuan Mao <notifications@github.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-06-06 19:00] vvinuv commented on #13
@eve @yymao this is the one I am talking about https://portal.nersc.
gov/project/lsst/descqa/v2/?run=2018-03-23_31&test=size_
vanderWel2014_SM_Lum&catalog=buzzard_test

On 6 June 2018 at 13:57, Vinu Vikram <vvinuv@gmail.com> wrote:

--
Vinu Vikraman
http://www.hep.anl.gov/vvikraman/ <http://www.sas.upenn.edu/~vinu/>

[2018-06-06 19:49] yymao commented on #13
@vvinuv your updates in #95 have not been merged because of the discussion above (about tests bulge size for bulge-dominated galaxies and only tests disk size for disk-dominated galaxies). Note that there's now some conflict with the master branch that needs to be resolved.

[2018-06-08 21:19] rmandelb opened #117 "bug in dN/dz test: normalizations, errorbars"
This issue is for some bugs (at least two) in the dN/dz test.  @yymao and I have been discussing this on slack, but it needs a bit more digging, so we agreed to open an issue (currently assigned to the two of us).

At the DC2 telecon today it was clear that the errorbars on the dN/dz test were wrong (an order of magnitude larger than the scatter in the data points).  Yao and I identified a few thi

[2018-06-09 14:18] yymao commented on #117
I think the issue is that the normalization should be done after jackknife errors are calculated. I started my attempt to fix this in the [issue/117/Nz-normed-fix](https://github.com/LSSTDESC/descqa/tree/issue/117/Nz-normed-fix) branch. Will submit a PR once I have confirmed the fix works.

[2018-06-10 14:27] yymao commented on #116
I tried to address this issue in the branch [issue/116/shear-sign-convention](https://github.com/LSSTDESC/descqa/tree/issue/116/shear-sign-convention) ([see diff here](https://github.com/LSSTDESC/descqa/compare/issue/116/shear-sign-convention)).

However, after I started, I then realized I didn't know how to fix the theory prediction part of the code. [Here's a test run on this branch](https://por

[2018-06-11 21:12] patricialarsen commented on #116
@yymao I'm waiting on covariance matrices to properly fix the validation question so we may as well wait for that before incorporating the sign convention into the validation. At the moment it's set up to only validate on the ++ term which is unaffected by the sign.

Can we not simply not change the main part of the validation tests and instead read in shear_2_phosim? That's probably easier than r

[2018-06-11 22:43] yymao commented on #116
@patricialarsen we can also do that (reading in `shear_2_phosim`), but there were some arguments about using treecorr convention.

Anyway, sounds good that you'll take care of this when you update this test. Thanks!

[2018-06-14 16:22] yymao commented on #7
Done in #47.

[2018-06-14 16:22] #7 closed

[2018-06-14 16:24] yymao commented on #11
This test has been done for a while. There's a bug fix currently open in #119. But this issue should be closed.

[2018-06-14 16:24] #11 closed

[2018-06-14 16:29] yymao commented on #10
This has been implemented in #91.

[2018-06-14 16:29] #10 closed

[2018-06-14 16:30] yymao commented on #35
Implemented in #54

[2018-06-14 16:30] #35 closed

[2018-06-14 16:32] yymao commented on #73
Implemented in #100. Given the small sky area of protoDC2, having validation criteria is not meanfuling at this moment. We can revisit this if we have snapshot data / a larger sky area.

[2018-06-14 16:32] #73 closed

[2018-06-14 16:37] yymao commented on #63
This test has been suppressed by #73.

[2018-06-14 16:37] #63 closed

[2018-06-14 16:41] yymao commented on #15
This test has been implemented in #89 and so far people are happy with visually inspecting the test results. If a formal validation criterion is needed, we should open a separate issue.

[2018-06-14 16:41] #15 closed

[2018-06-21 16:40] #116 closed

[2018-06-22 21:50] #117 closed

[2018-06-22 23:36] evevkovacs commented on #50
@chto @yymao Sorry for posting this here. I couldn't find an issue for the CLF test.I am having a problem with the test. It is crashing with an error:
 "IndexError: cannot do a non-empty take from an empty axes." I am running it on a new test catalog. Here is the descqa command that I'm using:
./run_master.sh -c 'um_hpx_v0.0' -t CLF_r -p /global/u1/k/kovacs/gcr-catalogs_um
This should work for you

[2018-06-23 00:56] yymao opened #121 "color cut in CLF test should work on catalogs that have redshift blocks"
[This issue](https://github.com/LSSTDESC/descqa/issues/50#issuecomment-399610103) that @evevkovacs encountered was due to the fact that the color cut implementation in the CLF test assumes the catalog does not iterate over redshift blocks. When a catalog iterates over redshift blocks, some blocks may not have the redshift ranges needed to determine the color cut, and hence results in error.

This

[2018-06-23 16:35] evevkovacs commented on #121
Wouldn't it be sufficient to have the test read in the catalog using the iterator (as in the dN/dz test)? This modification will have to be made for the test to work on cosmoDC2 in any case.

[2018-06-23 21:00] yymao commented on #121
Sorry if I wasn't clear. The test is already using the iterator feature. However, it assumes that in each dataset that is being iterated over, low-z objects always exist. This is not the case for the cosmoDC2 reader as some datasets contain only high-z objects, and hence results in the test to break.

I'll fix this on Monday.

[2018-06-29 19:36] #121 closed

[2018-07-23 18:39] evevkovacs opened #126 "BPT Diagram Validation Test"
Incorporate into DESCQA the work done in PZ WG to plot BPT diagram for emission lines.

[2018-07-27 19:01] fjaviersanchez opened #127 "Tests for DESCQA using the DM products"
DC2 validation test brainstorming by @rmjarvis and @fjaviersanchez:

Image level (@rmjarvis):

* Check that the images contain some pixels above 10sigma level.

* Calculate gain and read noise and compare with prediction.

* Check masked (saturated) bits of the images.

* Check masked (bad/dead) pixels -> PhoSim

Catalog (visit level):

- use stars and use PSFmag to compute the `CheckAstroPhoto` t

[2018-07-27 23:58] yymao commented on #126
Is this related to #12?

[2018-07-28 20:51] evevkovacs commented on #126
It is related in the sense that they are both tests for ELGs, but the tests themselves are different.

[2018-07-30 00:37] rmandelb commented on #127
@fjaviersanchez @rmjarvis  - this is a great start!  I have a few questions and other suggestions:

- Is there some metadata about the expected sky level that could/should be compared with the actual sky level?  (Possibly an extension of your "Calculate gain and read noise and compare with prediction.")

- for the coadd catalog, might it make sense to do some basic sanity test of the galaxy ellipt

[2018-07-30 01:15] yymao commented on #127
Also note that we have one tract of HSC XMM PDR1 that is available in the same format as the Run 1.1p coadd catalog via GCR, which mean we can run a DESCQA test on both Run 1.1p coadd and HSC XMM and see a side-by-side comparison. This can also be useful for diagnosis/validation.

[2018-07-30 01:22] rmandelb commented on #127
Nice.  If we are comparing quantities that depend on PSF size, then we would have to restrict the Run 1.1p to similar seeing size as the HSC XMM field, but as long as we do that, this could be interesting.

[2018-07-30 02:08] fjaviersanchez commented on #127
There's already a test in place that computes the median background level and can include the prediction by OpSim.

Sounds good!

In principle we weren't thinking about splitting the sample but I think that's a good idea. Thanks!

Thanks! @danielsf @yymao, does the 1.2 reference catalog include the unextincted magnitudes or the extincted ones?

One option can be generating two true catalogs (one f

[2018-07-30 02:20] yymao commented on #127
@fjaviersanchez you mean the truth catalog, right? The magnitudes in the truth catalog do *not* include extinction.

[2018-07-30 02:29] yymao commented on #127
Ah, ok. I am not sure about the reference catalog. I would guess its magnitudes do not have extinction but @danielsf can confirm. However, I think we should generate truth catalog for Run 1.2 rather than using reference catalog for validation.

[2018-07-30 03:59] rmjarvis commented on #127
Sorry, what is the distinction between reference and truth?  I was thinking of the reference catalog as equivalent to a truth catalog.

[2018-07-30 04:03] rmjarvis commented on #127
@rmandelb, we had intentionally avoided doing any tests of the galaxy magnitudes, since the PSF will complicate the interpretation, and I thought weird sub-populations (e.g. an excess at |e|=1) would more likely be a failure of the measurement code than a failure of the image simulations.  So I was deferring careful tests of shapes to the WL group.

However, you are quite right that we should at l

[2018-07-30 07:12] yymao commented on #127
@rmjarvis Reference catalog contains simulated photometry and astrometry noises that are not present in the truth catalog. Also, reference catalog only goes down to a certain depth (e.g. Gaia depth). (see https://confluence.slac.stanford.edu/x/oJgHDg)

[2018-08-02 15:22] chihway opened #128 "Test of gg lensing for different lens properties"
This issue is for developing tests to understand how well the gg lensing signal changes as a function of lens properties (stellar mass, luminosity, colors etc.).

A few references that are worth exploring:
* SDSS: https://arxiv.org/abs/astro-ph/0511164
* CFHTLenS: https://arxiv.org/pdf/1304.4265.pdf
* COSMOS: https://arxiv.org/pdf/1104.0928.pdf

This would be similar to this earlier test: https://

[2018-08-03 06:52] sethdigel commented on #127
Regarding get_predicted_bkg, the predicted sky brightness from OpSim is interesting to have, but phoSim has its own sky brightness model, so the agreement won't be perfect.  That is, phoSim evaluates the sky brightness (as a function of wavelength) based on other OpSim metadata, like elevation of the observing direction, altitude of the Sun, etc. instead of somehow inferring it from the OpSim sky

[2018-08-03 15:14] fjaviersanchez commented on #127
Thanks @sethdigel. Yes, that's a problem and I believe that the trick will be to have reasonable validation criteria (How different should we expect them to be? 20%? 30%?)

[2018-08-03 15:25] yymao opened #129 "add a verification test for the galaxies in truth catalog"
[See this slide](https://docs.google.com/presentation/d/1xXuDLU-2S9bPO3awgSNbSTvGpiHhK_q6f38Sp6xfnmU/edit#slide=id.g3de8536c77_8_0) for context. We want to make sure the truth catalog faithfully reproduce the galaxies in the extragalactic catalog. This verification test will simply compare the galaxy properties in the truth catalog against the extragalactic catalog.

Since both extragalactic and t

[2018-08-03 15:32] jbkalmbach opened #130 "Add reader and tests for strong lensing catalogs"
The DC2 sprinkler will need a strongly lensed AGN catalog and a strongly lensed SNe catalog. We need to write a reader and some tests for verification of these catalogs.

[2018-08-03 16:24] sethdigel commented on #127
Good question.  I'm not sure how to answer, but the scatter seems quite large (and it is probably dependent on band).  In April I put together run 1.2p OpSim metadata with basic information from the log files for phoSim r-band runs, including the numbers of photons that phoSim reported that it generated.  This is dominated by the sky brightness.  Here is a quick plot (sorry it is not Python; I lov

[2018-08-03 16:45] fjaviersanchez commented on #127
Thanks for the plot and the data @sethdigel! Yes, the correlation is there but there are really big outliers (I wonder if those were exposures with really bright sources?). Since we have a way to compute the median sky-level we can try to convert OpSim's values to counts (or the counts to magnitude) and set some arbitrary, but restrictive, tolerance that we can fine tune once we get more experienc

[2018-08-03 18:12] sethdigel commented on #127
Yes that sounds reasonable; working in terms of the medians of the e-images (if that is what you have in mind) sounds sensible for figuring out whether a given sensor visit is way off what you'd expect from the OpSim metadata.

Regarding the extreme outliers in the plot, I don't have an explanation, but the sensor visits clearly did have sky emission - Mie and Rayleigh scattering from the Moon, pl

[2018-08-03 21:27] aphearin commented on #109
This is great to see, @Andromedanita! We have come a long way since a factor of 600% discrepancy, no? We have been trying to maintain this number density manually, but @evevkovacs and @dkorytov and I would definitely like to incorporate this into our standard set of DESCQA checks.

Would it be straightforward for you to add a title to this figure showing the number densities you quoted for both th

[2018-08-04 08:53] evevkovacs commented on #109
Thanks very much @Andromedanita. This looks very nice. If you can implement Andrew's suggestion, I think your test would be ready to incorporate into DESCQA.  Would you be interested in doing that? I am happy to help you. Please take a look on https://github.com/LSSTDESC/descqa
There are instructions (see item 4) and code examples.

[2018-08-05 13:34] cosmicshear opened #133 "Using COSMOS ellipticity distribution to validate catalogs"
I was looking at one of the DESCQA runs [here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-02-26&test=ellipticity_dist_COSMOS&right=2018-02/2018-02-26/ellipticity_dist_COSMOS/protoDC2/Nvse2_m_i_M_V.txt) and was wondering if it is possible to have the actual COSMOS catalog to test the scaling of the ellipticity distribution with type and luminosity (using more absolute magnitude bins

[2018-08-05 13:43] yymao commented on #133
@cosmicshear can you elaborate a bit more? Are you suggesting making a ellipticity-luminosity (with splitting on type) test, similar to [what we did in the size-luminosity test](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-07-18_2&test=size_Mandelbaum2014_BD)? Note that the current ellipticity distribution test also use the COSMOS catalog directly (though we didn't keep the luminosity

[2018-08-05 13:55] cosmicshear commented on #133
@yymao yes, something similar. I know that the current ellipticity distribution test already uses the COSMOS catalog, but I would like to have access to that catalog in order to test the mock catalogs in different absolute magnitude bins, redshift bins, magnitude cuts etc.

[2018-08-05 14:07] yymao commented on #133
@cosmicshear the data that we used in the ellipticity test be found [here](https://github.com/LSSTDESC/descqa/tree/master/descqa/data/ellipticity/COSMOS/joachimi_et_al_2013). @evevkovacs compiled these data files so she can say more about them. As I mentioned, the luminosity information is not there yet, and I will hesitate to check in more raw data into descqa repo. I think we should just check i

[2018-08-06 19:50] danielsf commented on #127
I'm not sure if this is still relevant (sorry; I was on vacation last week), but @fjaviersanchez asked if the reference catalog contained dust extinction:

Yes, it does.  I created the reference catalog before we diagnosed the dust problem in PhoSim.

I will generate a truth catalog for Run 1.2 in the next few days.

[2018-08-06 19:52] rmjarvis commented on #127
Great. Thanks, Scott!

[2018-08-08 01:52] fjaviersanchez opened #134 "Density vs extinction test"
This issue is to track the progress on the implementation of the test that checks the density as a function of the MW extinction. In principle, the test will be most relevant for the DC2 object catalogs. However, in principle, it can be applied to any  catalog.

[2018-08-08 21:55] yymao opened #135 "Check uniqueness for columns that contain unique identifiers in the readiness test"
As proposed in https://github.com/LSSTDESC/cosmodc2/issues/19, we'd like to add the functionality in the readiness test to check uniqueness for columns that contain unique identifiers, such as `galaxy_id` and `halo_id`.

(cc @evevkovacs @aphearin @danielsf)

[2018-08-09 01:33] rmjarvis opened #137 "Check N(m) and color distributions for non-optical magnitudes"
There have been some conversations about potentially using the CosmoDC2 input catalogs to also seed WFIRST image simulations, in order to enable a tests of doing the joint analysis of images from both surveys. Along the way, it has become evident that the current selected population is overall around 1/4 to 1/2 magnitude too bright in J and H bands.

In the future, we should include NIR and maybe

[2018-08-09 15:31] Andromedanita commented on #109
I will add a title that shows the number densities to the plot, @aphearin .
Thanks @evevkovacs . I am interested in making my code ready to be incorporated into DESQA. I will let you guys know if there is any issues in doing so.

[2018-08-10 01:59] #135 closed

[2018-08-13 15:19] yymao opened #138 "extend redshift range in N(z) test"
Currently the redshift distribution test, N(z), only goes to z = 1. We should extend the redshift range to z = 3 to make sure things look reasonable beyond z > 1. This is particular important for cosmoDC2.

The validation data is valid in the redshift range up to around z = 1.5, so we can plot the redshift range to z = 3, but don't use the data beyond z = 1.5 to calculate the chi^2.

cc @evevkovac

[2018-08-13 15:52] yymao commented on #138
[Here's is a DESCQA run](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-08-13&catalog=cosmoDC2_v0.1) with simply modifying the N(z) test config file to increase the redshift range to z=3. Things look good.

Now we need to modify the code to allow setting a different validation range. I'll be developing this in the [`issue/138/extend-redshift-dist-test`](https://github.com/LSSTDESC/descq

[2018-08-13 16:08] aphearin commented on #138
Nice job on the modifications @yymao - this is a nice improvement of the dn/dz validation, and very timely for cosmoDC2. Many thanks!

[2018-08-14 02:49] rmandelb commented on #138
Thanks for this, Yao!

Could we add a single panel for a deeper sample without any validation data, just for the basic sanity check that there are no extremely strange features?  (I mean right now each section has 3 panels with a blank space, so could the blank space have everything down to i<25.3 without a validation dataset shown?) Or has a basic sanity check of the overall N(z) for a deeper sam

[2018-08-14 06:59] evevkovacs commented on #138
@rmandelb @yymao  The readiness test plots the basic distribution, as shown in [this issue](https://github.com/LSSTDESC/cosmodc2/issues/14#issuecomment-412736262). The N(z) test  does have the option of plotting distributions with no validation data.  We just have to make a configuration file for it.

[2018-08-16 18:53] fjaviersanchez opened #141 "Update CheckColors test to be compatible with DM outputs"
As it is now, the test checks for `mag_lsst`. We can do a quick update to CheckColors so it is compatible with the DM outputs.

[2018-08-16 18:56] yymao commented on #141
I happen to know that @evevkovacs is working on updating this test. @evevkovacs, by any chance you can also address this issue in the PR you're about to submit?

[2018-08-16 19:06] fjaviersanchez commented on #141
@yymao @evevkovacs I made a quick update in my fork (I added two lines of code) for the current test to be compatible with the dc2 object catalogs. If you are interested I can open a PR and solve this immediate issue. And after this, @evevkovacs can continue developing her updates. How does that sound? Or would you prefer to go the other way around (that @evevkovacs opens her PR and then we addres

[2018-08-16 19:12] yymao commented on #141
@fjaviersanchez If it's a rather simple change I think you can open a PR and we can get it merge, and ask @evevkovacs to merge or rebase master.

[2018-08-16 20:06] evevkovacs commented on #141
@yymao @fjaviersanchez  I am ready to do a PR for my changes also. All I did was add 2 lines. I just pushed my changes to the branch "test_mods" and submitted a  PR

[2018-08-16 20:12] yymao commented on #129
I'll start to work on this. @danielsf, what magnitudes should we compare to in the extragalactic catalog? Unlensed but with host dust extinction?

[2018-08-16 22:07] danielsf commented on #129
I am going to update the truth catalog to include lensing magnification.

Run 2.0 should also have both host and Milky Way dust extinction.  I am of the opinion that the truth catalog should include both of these effects, since we want to use it to validate the measured magnitudes coming out of the DM pipeline.  I am open to other opinions.

[2018-08-23 14:13] yymao commented on #134
Closed by #140

[2018-08-23 14:13] #134 closed

[2018-08-23 14:14] yymao commented on #141
closed by #142

[2018-08-23 14:14] #141 closed

[2018-08-24 17:07] cwwalter commented on #127
I think this the place to suggest sensor level tests?

There is a wide range of tree ring amplitude visible on sensors.  See the work from @karpov-sv and all here:

https://github.com/LSSTDESC/imSim/wiki/tree_ring_validation

and I have seen this in the exposure checker.

@karpov-sv when you say "The simulated data have been generated for all 189 different imSim sensor configurations using analyti

[2018-08-27 20:38] #129 closed

[2018-08-31 17:56] fjaviersanchez opened #151 "Tree ring test"
@cwwalter requested in #127 a test to check the amplitude of tree rings in 1.2i. We have code from @karpov-sv here: https://github.com/karpov-sv/lsst-misc/blob/master/Tree_Rings_Analysis.ipynb

We'd need to adapt this code to use the e-image reader in GCR. @andrewkbradshaw, would you like to try to adapt this code to DESCQA?

[2018-09-02 14:48] yymao opened #152 "validate instance catalogs to filter out offending AGN"
Some AGNs are excessively bright and cause issues in image simulation, hence, we should implement a validate test to filter out the instance catalogs that contain offending AGNs (`magNorm` being too small).

We can apply the test to `/global/projecta/projectdirs/lsst/production/DC2/Run1.2p/phosimInput/`

One example of instance catalog that contains offending AGNs is `DC2-R1-2p-WFD-u/000054/`.

(c

[2018-09-02 14:51] aphearin commented on #152
Is the cause of this error known? Is it due to the underlying black hole being unphysically massive or having unrealistically large accretion rate? Or is this due to a problem in the AGN model that gets applied on top of the black hole?

[2018-09-02 15:04] katrinheitmann commented on #152
@danielsf would have to answer this question. I don't remember ... I am also not sure if it was addressed explicitly in the new AGN model. There is a whole long github issue here: https://github.com/LSSTDESC/DC2-production/issues/55 (which btw wonderfully demonstrates my problem with github in the way we are using it ... finding a final conclusion quickly from that is for the non-expert who was no

[2018-09-04 21:52] #152 closed

[2018-09-12 13:23] rmandelb opened #158 "number counts test updates"
Based on some work I just did with the test of the cumulative number counts, e.g., with outputs like this:

https://portal.nersc.gov/project/lsst/descqa/v2/?run=2018-09-10_10&test=ApparentMagFuncTest_HSCz

I have a few suggestions to make:

1. The vertical axis should say what the units are (number/deg^2)
2. The plot title should say the area for the test.  If the area is small enough we should be

[2018-09-12 13:34] yymao commented on #158
Thanks for suggestions, @rmandelb. They are all good suggestions. 1, 2, 4 are all very easy to implement. 3 should be straightforward too but does require compiling those data points.

@duncandc are you up to help with this? I'm asking you first because you implemented the original test, but no worries if not. I can also do it myself and/or find someone else to do it.

[2018-09-12 13:53] rmandelb commented on #158
For (3) I was referring specifically to the numbers I gave in the first post, so no more compiling should  be needed.  (I could write an explanatory comment in the code about where they come from.)

[2018-09-12 14:29] evevkovacs commented on #158
@rmandelb @yymao Thanks for the suggestions. I think we should make it standard to have a text file output of the points in the plots for as many tests as possible. I have had a couple of other people comment on how useful they are. The output should also include any cuts that were made and any other relevant information such as the area above. Output columns should be labeled.

[2018-09-12 14:49] aphearin commented on #158
Just chiming in to confirm that it is extremely useful when the tests come with tabulated data points. When available, I use these _all the time_ in local calibrations.

[2018-09-13 14:03] duncandc commented on #158
I think I can take care of this rather easily.  For reference, the points for HSC are available as tabulated data.

[2018-10-16 15:39] yymao opened #160 "Update DESCQA web app's landing page"
DESCQA web app's landing page currently points to the "latest full run," which is something that we no longer do, because the run time of all tests on, even a subset of catalogs, is prohibitively long.

As a result, the landing page keeps pointing to a pretty outdated run. We should update the landing page behavior so new users won't be confused.

Suggestions are welcome.

(Thanks to @katrinheitma

[2018-10-16 15:50] yymao opened #161 "Ability to "tag" a run after the run is complete"
A potential solution for #160 is for the landing page to display a set of runs that the catalog and test developers consider are suitable for general consumption.

To be able to do so, we need a new feature to allow test runners to "tag" a run after the run is complete. Currently DESCQA only allows test runners to tag at the time they initiate the run, but sometimes the run fails for unforeseen re

[2018-12-03 18:11] evevkovacs commented on #160
Thanks for the suggestions. The search feature has some of this capability already. For example,  if I search on "cosmoDC2_v1.1.4" I see: this list (https://portal.nersc.gov/project/lsst/descqa/v2/?users=&tests=&catalogs=cosmoDC2_v1.1.4&run=all), which is useful because not many tests have been run with this catalog yet. But we could tweak this to make it better.

[2018-12-03 18:39] yymao commented on #160
Thanks for the suggestions.

The issue #161 is exactly intended to solve this issue (i.e., by tagging a few runs for general consumptions). It's on my to-do list, just not close to the top of list yet...

In the meantime, I agree updating the front page is more urgent. Let me see if I can do something simple here...

[2019-02-11 03:09] #133 closed

[2019-07-08 11:46] yymao opened #173 "`sklearn.cluster.k_means` not working when `n_jobs=-1` is set"
Potentially due to an update of `loky`, `sklearn.cluster.k_means` is not working in the current DESC Python environment when `n_jobs=-1` is set. This option should be unset.

Thanks to @evevkovacs for discovering this issue.

[2019-07-17 15:19] nsevilla opened #174 "README is pointing to jupyter-dev"
I think it should point to jupyter.nersc.gov now?

[2019-07-19 09:25] #174 closed

[2019-07-25 22:04] evevkovacs opened #176 "Segmentation fault running some correlation function tests"
Trying to run some correlation function tests generates a seg. fault. Here is an example.
This has happened since the update to treecorr. The error happens for both proto-dc2 and cosmoDC2 runs using the master branch of descqa.  I have successfully run other tests today, so I think the  problem is specific to this test. I have also run another part of this
correlation  function test today (the tpc

[2019-07-25 22:13] yymao commented on #176
Preliminary investigation suggests that the Segmentation fault takes place during this function: https://github.com/LSSTDESC/descqa/blob/master/descqa/CorrelationsTwoPoint.py#L314

But still need to look into details of which specific line of treecorr causes this.

[2019-07-25 23:16] evevkovacs commented on #176
I just confirmed that  ./run_master.sh -c proto-dc2_v5.0 -t tpcf_Zehavi2011_rSDSS also generates the seg. fault.  So both  classes CorrelationsProjectedTwoPoint and DEEP2StellarMassTwoPoint generate the error while CorrelationsAngularTwoPoint does not.

[2019-09-16 18:15] evevkovacs opened #181 "Shear Test fails due to OSError: libgfortran.so.3: cannot open shared object file: No such file or directory"
@yymao Just tried running the shear test and it failed with the following error:
File "/global/u1/k/kovacs/descqa2-local/descqa_njobs/descqa/shear_test.py", line 10, in <module>
    import camb
  File "/global/common/software/lsst/common/miniconda/current/envs/stack/lib/python3.7/site-packages/camb/__init__.py", line 11, in <module>
    from . import baseconfig
  File "/global/common/software/lsst

[2019-09-16 18:16] yymao commented on #181
Let's check with @heather999 first.

[2019-09-16 18:43] heather999 commented on #181
I can confirm I saw the same issue.  Think this is now fixed.  We had lost gcc/6.3.0 with the last Cori OS upgrade and I tried to move us to gcc/7.3.0, but clearly such a move would require a complete reinstall of `desc-python`.  Fortunately, NERSC has reinstalled gcc/6.3.0 for us, and I updated the `setup_current_python.sh` script to go back to gcc/6.3.0.  Things should be working now.  Just let

[2019-09-16 18:51] yymao commented on #181
Thanks for the quick response @heather999! @evevkovacs can you report back if the code works (or not)? Thanks!

[2019-09-16 22:35] evevkovacs commented on #181
@yymao  Hmm, still seems to be broken. I also tried interactively and could not import camb using the setup_current_python.sh
I also tried a jupyter notebook using the desc-python kernel. That worked.

So descqa and interactive python are still broken, I suspect because setup_current_python.sh needs to be changed.

[2019-09-17 02:10] heather999 commented on #181
`desc-python` and `setup_current_python.sh` should be the same environment.  I can do the following at a fresh Cori login - this didn't work earlier today before I updated setup_current_python.sh:
[code]

[2019-09-17 17:22] evevkovacs commented on #181
I tried again on a fresh login. I normally use tcsh, so have to switch shells to run python. If I switch using exec sh, run the setup, run ipython and try to import camb, I get the error. If I switch to bash, then it works.
I also tested with DESCQA. The shear test used to run even if I was in tcsh, with no python setup. This is no longer the case. I now have to run desqa by switching to bash, do

[2019-09-17 19:31] yymao commented on #181
hmm, @evevkovacs are you using `run_master.sh`? if so I thought it would be using bash (see https://github.com/LSSTDESC/descqa/blob/master/run_master.sh#L1)

[2019-09-18 15:21] yymao commented on #13
closed by #182 (which superseded #95)

[2019-09-18 15:21] #13 closed

[2020-02-14 23:00] ih64 opened #196 "shear_test fails due to camb attribute error"
error message is :
    271         pars.InitPower.set_params(ns=0.963, As=2.168e-9)
    272         #pars.InitPower.set_params(ns=0.963,As = 2.168e-9*(sigma8/0.8 )**2)
--> 273         camb.set_halofit_version(version='takahashi')
    274         p = camb.get_matter_power_interpolator(pars, nonlinear=True, k_hunit=False, hubble_units=False, kmax=100., zmax=1100., k_per_logint=False).P
    275

[2020-04-06 19:13] yymao opened #198 "Move from project/projecta to cfs"
NERSC is moving our data from project/projecta to cfs.

There are several `projecta` occurrences in DESCQA:
https://github.com/LSSTDESC/descqa/search?q=projecta

And one `project` occurrence:
https://github.com/LSSTDESC/descqa/search?q=%22global%2Fproject%22

They all need to be changed to new path once the data are copied to cfs.

[2020-04-10 14:41] heather999 opened #199 "Python Environment Name Change stack => desc"
In the most recent `desc-python` production release, the environment name was changed from `stack` to `desc`.  `desc-python` really has nothing to do with the DMstack and the environment name was confusing.

This impacts any scripts that are expecting to find an env named `stack`, such as here:
https://github.com/LSSTDESC/descqa/blob/53f5cbf6be531c5d8cc08396517f6bfe2a22e3b2/run_master.sh#L10

[2020-04-10 16:48] yymao commented on #199
fixed by c5b3529559abb69766562afd1ca2c01c7dfa2ed4

[2020-04-10 16:48] #199 closed

[2020-04-13 23:28] #198 closed

[2020-12-02 00:41] #128 closed

[2020-12-02 19:47] #75 closed

[2020-12-04 20:36] heather999 opened #209 "Need to update versions of gsl and cray-fftw in run_master.sh"
See [Slack](https://github.com/LSSTDESC/descqa/blob/cd3e1e216fa5da76bb0dcf8d97a9267541c4fde4/run_master.sh#L10) and https://github.com/LSSTDESC/descqa/blob/cd3e1e216fa5da76bb0dcf8d97a9267541c4fde4/run_master.sh#L10

Would it be ok to just use the current default version of those or is it really better to specify a version and update this periodically?  I'd vote for making this generic.  I'll open

[2020-12-04 20:43] heather999 commented on #209
I'm confused though.. would we expect typical users to run `run_master.sh`?  I see:
`OUTPUTDIR="/global/cfs/cdirs/lsst/groups/CS/descqa/run/v2"`
https://github.com/LSSTDESC/descqa/blob/cd3e1e216fa5da76bb0dcf8d97a9267541c4fde4/run_master.sh#L17
They should at least modify that first?

[2020-12-04 20:48] yymao commented on #209
Yes, we should update the module.

Any DESCQA user can run `run_master.sh`. `/global/cfs/cdirs/lsst/groups/CS/descqa/run/v2` is the correct  output directory for all users as we want to keep all DESCQA output in one place for the web interface to display them.

[2020-12-04 21:29] #209 closed

[2020-12-07 17:48] heather999 opened #212 "Set HDF5_USE_FILE_LOCKING=FALSE in run_master.sh"
As [discussed on Slack](https://lsstc.slack.com/archives/CB4LA1SBS/p1607359909125900), when using HDF files on the NERSC compute nodes, you need to set `HDF5_USE_FILE_LOCKING=FALSE` to prevent HDF locking errors.

[2020-12-15 01:00] #212 closed

[2021-02-10 16:11] #109 closed

[2021-04-08 23:50] yymao opened #222 "Make DESCQA compatible with new desc-python environment"
Currently DESCQA's execution script directly uses a python executable.  This way, end users do not need to activate any environment for using DESCQA.

The new desc-python environment lives in a shifter image, so DESCQA would need to be run within that `desc-python` shifter image. That may be ok but it requires users to first switch to that environment every time before running DESCQA.

Probably @h

[2021-04-10 12:44] heather999 commented on #222
Hi - thanks for pointing this out. I might need more details about how descqa works both for users as well as the web interface.  I'm going through the documentation to learn what I can.
At NERSC, is this the current web interface installation? `/global/cfs/cdirs/lsst/www/descqa/v2` the `run_master.sh` seems to be locally updated to point directly to the installation on `/global/common` rather tha

[2021-04-10 17:21] yymao commented on #222
The DESCQA web app and execution script use different python environments.

For the web app, it directly uses the python executable of `desc-python-webapps` in `/global/common/software/lsst` (see [here](https://github.com/LSSTDESC/descqa/blob/master/index.cgi#L1)).

For the execution script, in the past it also used the `desc-python` python executable (see [here](https://github.com/LSSTDESC/descqa

[2021-04-12 23:20] heather999 commented on #222
No need to modify `desc-python-webapps` - I don't think it necessarily needs to move to shifter.  Maybe in some future issue we want to talk about long term maintenance of the web app, but that's not an issue we need to deal with now.

Knowing how people use `run_master.sh` helps!  So right now, what i had suggested would just run one time in the shifter env and then exit, leaving the user back in

[2021-04-12 23:23] yymao commented on #222
Thanks @heather999. What you suggested ("check to see if we're already in the shifter env, if not, set it up and then leave the user in the shifter environment") sounds good to me.  But really @evevkovacs uses this most frequently so I am interested in hearing her opinion on this.

[2021-04-13 16:23] evevkovacs commented on #222
TBH, I haven't paid much attention to this, so I'm just reading your posts to get a handle on how it works. If I understand correctly, there are several options
1) user is entirely responsible for setting up shifter environment
2) run_master.sh sets up the environment and then exits
3) run_master.sh checks to see if environment is set up, sets it up if not, then leaves the user in that environment

[2021-07-19 00:47] fjaviersanchez opened #224 "Is there a way to pass `external_data_dir` as an argument?"
I was playing at the RSP with DESCQA (I managed to run a color distribution test, yay!) and I noticed that `external_data_dir` is hardcoded in `BaseValidationTest` (and I changed the value to my relevant directory in the different machine). Is there a way to set it in `**kwargs` or is just hardcoded and we would just need to add the `self.externa_data_dir` attribute or is there a way to modify thi

[2021-07-19 00:47] fjaviersanchez commented on #224
If this is a feature that would be useful, I'd be happy to add it :)

[2021-07-19 14:09] yymao commented on #224
`external_data_dir` is supposedly to be a module-wide variable (i.e., all individual tests should share the same value), and that's why it is coded in `base.py` and not configurable for each test.

Supposedly we can add add a new file `descqa/descqa/config.py` which stores its value:

[code]

And then imported this in `descqa/descqa/base.py`

[code]

This way we just need to edit `descqa/descqa/co

[2021-07-19 14:31] fjaviersanchez commented on #224
Thanks for your reply @yymao! I see, that makes sense. My suggestion was for `external_data_dir` to become an attribute of the `BaseValidationTest` class with a default value, which I think it's still inherited by all tests, but I see that it could also cause some problems down the line. I think I'm happy to leave it as it is then.  Thanks again!

[2021-07-19 14:31] #224 closed

[2021-07-19 14:40] yymao commented on #224
@fjaviersanchez -- I saw you close this issue. Do you think the config approach is not needed? How are you planning to edit the `external_data_dir` then?

[2021-07-19 14:45] fjaviersanchez commented on #224
oh, sorry @yymao, I should have clarified. Yeah, I think that for now I'll just hardcode in `base.py` as it's done for NERSC. If you think that we should use a different approach please feel free to reopen and assign the issue to me :)

[2021-11-10 23:14] heather999 opened #226 "Revert to using the desc-python env at NERSC"
Reverting to use desc-python at NERSC rather than desc-python-old.  We had made this switch when desc-python was a shifter image, but now desc-python is again natively installed.

[2021-11-11 00:15] yymao commented on #222
I think this issue can be closed now since the DESC Python environment is now installed on NERSC disks again (see #226). I think we may need to document somewhere so that in the future if the DESC Python environment is moving to shifter again, proper communication/discussion will take place before that happen (cc @heather999)

[2021-11-11 00:15] #222 closed

[2021-11-11 00:15] yymao commented on #173
Closed by #179

[2021-11-11 00:15] #173 closed

[2021-11-11 00:17] yymao commented on #160
Closed by #163

[2021-11-11 00:17] #160 closed

[2021-11-11 18:20] #226 closed

[2022-06-02 14:02] wmwv opened #234 "Experiment with generalizing tests beyond GCRCatalogs"
GCRCatalogs is somewhat tightly integrated into DESCQA, at least by assumption, and sometimes in the code.

In this Issue I (@wmwv) plan to explore how much current DESCQA tests can be separated into
1. Part that loads data
2. Part that does computation.

In brief this is easy for data that fits in memory, but becomes complicated if there is some process by which to do the loading:

Some more deta

[2022-06-02 14:02] wmwv commented on #234
I think @yymao summarized the key issue well in the SRC thread:
"""
how we can minimally change the function so that it accepts both a GCRCatalogs iterator and a pandas/dask dataframe. The test would supposedly need very different code to be applied to these two cases. And I think that's the main issue we are facing.
"""

[2022-06-02 18:06] wmwv commented on #234
I've pulled out this specific example from `descqa.basic_tests.SkyArea` to help think through this.  This is a simple function that takes all of the RA, Dec values, maps them to healpixels and then keeps the `set` of filled pixels.  The code goes through the data in chunks using a GCRCatalogs `get_quantities` iterator.

[code]

In my branch I broke this out a bit into its own (notionally free) fun

[2022-06-02 18:09] wmwv commented on #234
This makes me think of a scatter-gather pattern, but the scatter part (going through each chunk and identifying the unique healpixel numbers) is done serially.

I'm starting to wonder how the question of how to access data in chunks relates to the question of how to process data in parallel.